	<section>
		<div class="container">
			<div class="row flex flex-wrap flex-equal">
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="boxed boxed--border boxed--radius-sm">
						<b>First header</b>
						<p class="p-xs--compact">The Kansas City Chiefs</p>
						<a href="#">More</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="boxed boxed--border boxed--radius-sm">
						<b>Second header</b>
						<p class="p-xs--compact">From Wetlands To Canals And Dams Amsterdam Is Alive</p>
						<a href="#">More</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="boxed boxed--border boxed--radius-sm">
						<b>Last header</b>
						<p class="p-xs--compact">Maui By Air The Best Way Around The Island</p>
						<a href="#">More</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="boxed boxed--border boxed--radius-sm">
						<b>First header</b>
						<p class="p-xs--compact">The Kansas City Chiefs</p>
						<a href="#">More</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="boxed boxed--border boxed--radius-sm">
						<b>Second header</b>
						<p class="p-xs--compact">From Wetlands To Canals And Dams Amsterdam Is Alive</p>
						<a href="#">More</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="boxed boxed--border boxed--radius-sm">
						<b>Last header</b>
						<p class="p-xs--compact">Maui By Air The Best Way Around The Island</p>
						<a href="#">More</a>
					</div>
				</div>
			</div>
		</div>
	</section>