	<section class="bg-color--white-2 bg-color--gradient">
		<div class="container">
			<div class="row flex flex-wrap flex-equal">
				<div class="col-md-4 col-sm-4 col-xs-12 boxed boxed--shadow-lg bg-color--white">
					<h6>FIRST HEADER</h6>
					<b class="marker pos-absolute pos-right pos-top marg-t-30 bg-color--main color--white h6">New</b>
					<p class="p-xs">Getting Cheap Airfare For Last Minute Travel</p>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12 boxed">
					<h6>SECOND HEADER</h6>
					<p class="p-xs">Vacation Home Rental Success</p>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12 boxed">
					<h6>THIRD HEADER</h6>
					<p class="p-xs">Cdc Issues Health Alert Notice For Travelers To Usa From Hon</p>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12 boxed">
					<h6>FOUR HEADER</h6>
					<p class="p-xs">Cost Cutting Ideas For Your Wedding</p>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12 boxed">
					<h6>FIFTH HEADER</h6>
					<p class="p-xs">Getting Cheap Airfare For Last Minute Travel</p>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12 boxed">
					<h6>LAST HEADER</h6>
					<p class="p-xs">Airport Hotels The Right Way To Start A Short Break Holiday</p>
				</div>
			</div>
		</div>
	</section>