	<section>
		<div class="container text-center-xs">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<h3>Features</h3>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12">
					<span class="h2">+150%</span>
					<p class="p-xs--compact">Addiction When Gambling <br>Becomes A Problem</p>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12">
					<span class="h2">1.000</span>
					<p class="p-xs--compact">Headset No Longer <br>Wired For Sound</p>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12">
					<span class="h2">300</span>
					<p class="p-xs--compact">How Does An Lcd <br>Screen Work</p>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12">
					<span class="h2">8</span>
					<p class="p-xs--compact">Becoming A Dvd <br>Repair Expert Online</p>
				</div>
			</div>
		</div>
	</section>