	<section>
		<div class="container">
			<div class="row text-center">
				<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
					<b class="h6">Header</b>
					<h2>Global Resorts Network Grn Putting Timeshares To Shame</h2>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<i class="pe-7s-map-2 ico-sm"></i>
					<h6>FIRST HEADER</h6>
					<p class="p-xs">Getting Cheap Airfare For Last Minute Travel</p>
				</div>	
				<div class="col-md-4 col-sm-4 col-xs-12">
					<i class="pe-7s-leaf ico-sm"></i>
					<h6>SECOND HEADER</h6>
					<p class="p-xs">Global Travel And Vacations Luxury Travel On A Tight Budget</p>
				</div>	
				<div class="col-md-4 col-sm-4 col-xs-12">
					<i class="pe-7s-note2 ico-sm"></i>
					<h6>Last HEADER</h6>
					<p class="p-xs">Get Ready Fast For Fall Leaf Viewing Trips</p>
				</div>	
			</div>
		</div>
	</section>