	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<h3>Cheap Romantic Vacations</h3>
					<p class="p-lg">Global Resorts Network Grn Putting Timeshares To Shame</p>
					<div class="row marg-t-30">
						<div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 boxed boxed--shadow">
							<b class="marker pos-absolute pos-right pos-top marg-t-30 bg-color--main color--white h6">Exclusive</b>
							<div class="row">
								<div class="col-md-2 col-sm-2 col-xs-2">
									<i class="pe-7s-map-2 ico-sm"></i>
								</div>
								<div class="col-md-10 col-sm-10 col-xs-10">
									<h6>FIRST HEADER</h6>
									<p class="p-xs">Getting Cheap Airfare For Last Minute Travel</p>
								</div>
							</div>
						</div>
						<div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 offset-t-15">
							<div class="boxed-xs">
							<div class="row">
								<div class="col-md-2 col-sm-2 col-xs-2">
									<i class="pe-7s-leaf ico-sm"></i>
								</div>
								<div class="col-md-10 col-sm-10 col-xs-10">
									<h6>SECOND HEADER</h6>
									<p class="p-xs">Global Travel And Vacations Luxury Travel On A Tight Budget</p>
								</div>
							</div>
							</div>
						</div>
						<div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
							<div class="boxed-xs">
							<div class="row">
								<div class="col-md-2 col-sm-2 col-xs-2">
									<i class="pe-7s-note2 ico-sm"></i>
								</div>
								<div class="col-md-10 col-sm-10 col-xs-10">
									<h6>Last HEADER</h6>
									<p class="p-xs">Get Ready Fast For Fall Leaf Viewing Trips</p>
								</div>
							</div>
							</div>
						</div>
						
					</div>
				</div>
				<div class="col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-12">
					<img src="images/low/iPad-vert.png" alt="">
				</div>		
			</div>
		</div>
	</section>