	<section class="bg-color--white-2">
		<div class="container">
			<div class="row row--fluid boxed--shadow-xs bg-color--white up-20 up-20-xs">
				<div class="col-md-6 col-sm-12 col-xs-12">
					<form data-message="Your message has been sent!" class="boxed-lg">
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<h3>Feedback</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input type="text" placeholder="Name" name="name">
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input type="email" placeholder="Email *" name="email" class="valid" data-alert="Please write your e-mail">
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12">
								<textarea placeholder="What is your question?" name="comment"></textarea>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12">
								<input type="submit" class="btn btn--default btn--stretched-xs" data-mailto="" value="Send">
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="google-map">
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31549.06663705379!2d115.171533!3d-8.72632395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dd246a486d6fbd3%3A0x84839839faa3e26d!2z0JrRg9GC0LAsINCR0LDQtNGD0L3Qsywg0JHQsNC70LgsINCY0L3QtNC-0L3QtdC30LjRjw!5e0!3m2!1sru!2sru!4v1434008660050" frameborder="0" zoomcontrol="false" pointer-events="none" class="width-full h-5"></iframe>	
					</div>
				</div>
			</div>
			<div class="row text-center marg-t-60">
				<div class="col-md-4 col-sm-4 col-xs-12 marg-b-30">
					<b>Email</b>
					<p class="p-xs">orion.mosciski@yahoo.com</p>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12 marg-b-30">
					<b>Phone</b>
					<p class="p-xs">240-538-2401</p>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12 marg-b-30">
					<b>Address</b>
					<p class="p-xs">084 Spencer Spur Apt. 816</p>
				</div>
			</div>
		</div>
	</section>