	<section class="bg-color--white-2">
		<div class="container">
			<div class="row text-center marg-t-60">
				<div class="col-md-4 col-sm-4 col-xs-12 marg-b-30">
					<b>Email</b>
					<p class="p-xs">orion.mosciski@yahoo.com</p>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12 marg-b-30">
					<b>Phone</b>
					<p class="p-xs">240-538-2401</p>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12 marg-b-30">
					<b>Address</b>
					<p class="p-xs">084 Spencer Spur Apt. 816</p>
				</div>
			</div>
		</div>
	</section>