	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-12 col-xs-12">
					<p>Coventry is a city with a thousand years of history that has plenty to offer the visiting tourist. Located in the heart of Warwickshire, which is well-known as Shakespeare’s county, there are easy transport links to historic Warwick, Rugby and Stratford-upon-Avon. Additionally, there are many things to see and do in and around Coventry itself.</p>
					<div class="row">
						<div class="col-md-12 col-sm-4 col-xs-12 marg-b-30">
							<b>Email</b>
							<p class="p-xs">orion.mosciski@yahoo.com</p>
						</div>
						<div class="col-md-12 col-sm-4 col-xs-12 marg-b-30">
							<b>Phone</b>
							<p class="p-xs">240-538-2401</p>
						</div>
						<div class="col-md-12 col-sm-4 col-xs-12 marg-b-30">
							<b>Address</b>
							<p class="p-xs">084 Spencer Spur Apt. 816</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-12 col-xs-12">
					<form data-message="Your message has been sent!">
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<h3>Feedback</h3>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input type="text" placeholder="Name" name="name">
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input type="email" placeholder="Email *" name="email" class="valid" data-alert="Please write your e-mail">
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12">
								<textarea placeholder="What is your question?" name="comment"></textarea>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12">
								<input type="submit" class="btn btn--default btn--stretched-xs" data-mailto="" value="Send">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>