	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4 col-xs-12">
					<i class="fa fa-star offset-r-15 text--opacity-3" aria-hidden="true"></i><i class="fa fa-star offset-r-15 text--opacity-3" aria-hidden="true"></i><i class="fa fa-star offset-r-15 text--opacity-3" aria-hidden="true"></i><i class="fa fa-star offset-r-15 text--opacity-3" aria-hidden="true"></i>
					<p>« As conscious traveling Paupers we must always be concerned about our dear Mother Earth. If you think about it, you travel across her face, and She is the host to your journey; without Her we could not find the unfolding adventures that attract and feed our souls. » </p>
					<div class="bg bg--circle bg--circle-xs" style="background: url('images/people/fn_bt9fwg_e-joe-gardner.jpg');"></div><br>
					<b>Eunice Swanson</b>
					<p class="p-xs">Vacation Home Rental Success</p>
				</div>	
				
				<div class="col-md-4 col-sm-4 col-xs-12">
					<i class="fa fa-star offset-r-15 text--opacity-3" aria-hidden="true"></i><i class="fa fa-star offset-r-15 text--opacity-3" aria-hidden="true"></i><i class="fa fa-star offset-r-15 text--opacity-3" aria-hidden="true"></i><i class="fa fa-star offset-r-15 text--opacity-3" aria-hidden="true"></i>
					<p>«Coventry is a city with a thousand years of history that has plenty to offer the visiting tourist.»</p>
					<div class="bg bg--circle bg--circle-xs" style="background: url('images/people/gkf6_gndsum-christopher-campbell.jpg');"></div><br>
					<b>Derrick Matthews </b>
					<p class="p-xs">The Luxury Of Traveling With Yacht Charter Companies</p>
				</div>
				
				<div class="col-md-4 col-sm-4 col-xs-12">
					<i class="fa fa-star offset-r-15 text--opacity-3" aria-hidden="true"></i><i class="fa fa-star offset-r-15 text--opacity-3" aria-hidden="true"></i><i class="fa fa-star offset-r-15 text--opacity-3" aria-hidden="true"></i><i class="fa fa-star offset-r-15 text--opacity-3" aria-hidden="true"></i><i class="fa fa-star offset-r-15 text--opacity-3" aria-hidden="true"></i>
					<p>«You love having a second home but the mortgage is putting a crater in your wallet. Many second home owners turn to renting their property as a vacation rental to help defray the costs of ownership.»</p>
					<div class="bg bg--circle bg--circle-xs" style="background: url('images/people/iegyacy101s-angello-lopez.jpg');"></div><br>
					<b>Zachary Farmer </b>
					<p class="p-xs">Party Jokes Startling But Unnecessary</p>
				</div>	
			</div>
		</div>
	</section>