	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
					<p class="h4">« As conscious traveling Paupers we must always be concerned about our dear Mother Earth. If you think about it, you travel across her face, and She is the host to your journey; without Her we could not find the unfolding adventures that attract and feed our souls. » </p>
					<div class="bg bg--circle bg--circle-xs" style="background: url('images/people/iegyacy101s-angello-lopez.jpg');"></div><br>
					<b>Zachary Farmer </b>
					<p class="p-xs">Party Jokes Startling But Unnecessary</p>
				</div>		
			</div>
		</div>
	</section>