	<section>
		<div class="container">
			<div class="row">
				<div class="flexslider flexslider--outside-controls" data-pause="true">
				<!--  Slides -->
				<ul class="slides">
					<li class="flexitem flex-active-slide">
						<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 text-center">
							<div class="bg bg--circle bg--circle-xs" style="background: url('images/people/fn_bt9fwg_e-joe-gardner.jpg');"></div><br>
							<b>Mayme Snyder</b>
							<p class="p-xs">Maui By Air The Best Way Around The Island</p>
							<i class="p-lg">«Sierra Tarahumara, popularly known as Copper Canyon is situated in Mexico. The area is a favorite destination among those seeking an adventurous vacation.»</i>
						</div>
					</li>
					<li class="flexitem">
						<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 text-center">
							<div class="bg bg--circle bg--circle-xs" style="background: url('images/people/gkf6_gndsum-christopher-campbell.jpg');"></div><br>
							<b>Derrick Matthews</b>
							<p class="p-xs">Maui By Air The Best Way Around The Island</p>
							<i class="p-lg">«You love having a second home but the mortgage is putting a crater in your wallet. Many second home owners turn to renting their property as a vacation rental to help defray the costs of ownership.»</i>
						</div>
					</li>
				</ul>
				<div class="flex-control"></div>
				</div>		
			</div>
		</div>
	</section>