	<section>
		<div class="container-fluid">
			<div class="row row--fluid">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="row--fluid instagram" id="instagram" data-col-md="2" data-col-sm="2" data-col-xs="4" data-amount="6"></div>
				</div>
			</div>
			<div class="row marg-t-30 text-center">
				<div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-12">
					<h5>How To Maintain Your Mental Health</h5>
					<p class="p-xs">Follow @wavethemes</p>
				</div>
			</div>
		</div>
	</section>