	<section class="bg-color--white-2">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4 col-xs-12">
					<h2>Our Team</h2>
					<p class="p-lg">Family Safari Vacation To The Home Of The Gods</p>
				</div>
			</div>
			<div class="row flex flex-wrap flex-equal">
				<div class="col-md-4 col-sm-6 col-xs-12 marg-b-30">
					<div class="boxed--shadow boxed--radius bg-color--white">
						<div class="background-image h-2">
							<div class="bg" style="background: url('images/people/gkf6_gndsum-christopher-campbell.jpg');"></div>
						</div>
						<div class="boxed">
							<h5>Don Mann</h5>
							<p>The Kansas City Chiefs</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 marg-b-30">
					<div class="boxed--shadow boxed--radius bg-color--white">
						<div class="background-image h-2">
							<div class="bg" style="background: url('images/people/fn_bt9fwg_e-joe-gardner.jpg');"></div>
						</div>
						<div class="boxed">
							<h5>Lizzie Lane</h5>
							<p>From Wetlands To Canals And Dams Amsterdam Is Alive</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-12 col-xs-12 marg-b-30">
					<div class="boxed--shadow boxed--radius bg-color--white">
						<div class="background-image h-2">
							<div class="bg" style="background: url('images/people/iegyacy101s-angello-lopez.jpg');"></div>
						</div>
						<div class="boxed">
							<h5>Eddie Baldwin</h5>
							<p>The Kansas City Chiefs</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>