					<div class="nav-mod">
						<a href="https://themeforest.net/item/rush-multipurpose-html-with-page-builder/19905370" class="btn btn-sm btn--default">Buy now</a>
					</div>
					<div class="nav-mod">
						<a href="builder.html" target="_blank" class="btn btn-sm btn--line">Try Builder</a>
					</div>