
						<li class="hr visible-xs visible-sm">
							<form><input type="search" placeholder="Type and hit enter to search"></form>
						</li>
						<li>
							<a href="rush-documentation.html">Elements</a>
							<ul class="menu__dropdown boxed ul--split">									
								<li>
							    	<a href="elements-accordion.html">Accordion</a>
								</li>
								<li>
							    	<a href="elements-animate.html">Animate</a>
								</li>
								<li>
							    	<a href="elements-backgrounds.html">Backgrounds</a>
								</li>
								<li>
							    	<a href="elements-baners.html">Baners</a>
								</li>
								<li>
							    	<a href="elements-boxes.html">Boxes</a>
								</li>
								<li>
							    	<a href="elements-breadcrumbs.html">Breadcrumbs & pagination</a>
								</li>
								<li>
									<a href="elements-buttons.html">Buttons</a>
								</li>
								<li>
							    	<a href="elements-cards.html">Cards</a>
								</li>		
							    <li>
							    	<a href="elements-colors.html">Colors</a>
								</li>
								<li>
							    	<a href="elements-сomments.html">Comments</a>
								</li>
								<li>
							    	<a href="elements-countdown.html">Countdown</a>
								</li>
								<li>
							    	<a href="elements-dropdowns.html">Dropdowns</a>
								</li>
								<li>
									<a href="elements-forms.html">Forms</a>
								</li>	
								<li>
							    	<a href="elements-grid.html">Grid</a>
								</li>
								<li>
							    	<a href="elements-history.html">History</a>
								</li>
								<li>
							    	<a href="elements-hovers.html">Hovers</a>
								</li>
								<li>
							    	<a href="elements-icons.html">Icons</a>
								</li>	
								<li>
							    	<a href="elements-image-modal.html">Image modal</a>
								</li>
								<li>
							    	<a href="elements-social.html">Instagram feeds</a>
								</li>
								<li>
							    	<a href="elements-lists.html">Lists</a>
								</li>
								<li>
							    	<a href="elements-mailchimp.html">MailChimp</a>
								</li>
								<li>
							    	<a href="elements-maps.html">Maps</a>
								</li>
								<li>
							    	<a href="elements-masonry.html">Masonry</a>
								</li>
								<li>
							    	<a href="elements-mixitup.html">Mix It</a>
								</li>
								<li>
							    	<a href="elements-modals.html">Modals</a>
								</li>
								<li>
							    	<a href="elements-navigations.html">Navigations</a>
								</li>
								<li>
							    	<a href="elements-page-navigation.html">Page navigation</a>
								</li>
								<li>
							    	<a href="elements-parallax.html">Parallax</a>
								</li>
								<li>
							    	<a href="elements-progress.html">Progress</a>
								</li>
								<li>
							    	<a href="elements-slider.html">Slider</a>
								</li>
								<li>
							    	<a href="elements-swipe.html">Swipe content</a>
								</li>
								<li>
							    	<a href="elements-tables.html">Tables</a>
								</li>
								<li>
							    	<a href="elements-tabs.html">Tabs</a>
								</li>
								<li>
							    	<a href="elements-sectiontoggle.html">Toggle Section</a>
								</li>
								<li>
							    	<a href="elements-typed.html">Typed text</a>
								</li>
								<li>
									<a href="elements-typography.html">Typography</a>
								</li>
								<li>
							    	<a href="elements-video.html">Video</a>
								</li>
								<li>
							    	<a href="elements-video-bg.html">Video background</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">Pages</a>
							<div class="container menu__dropdown menu__dropdown--hero boxed-lg">
									<div class="row">
										<div class="col-md-8 col-sm-12 col-xs-12">
											<div class="row marg-b-30">
												<div class="col-md-6 col-sm-6 col-xs-12">
													<ul class="ul--split">
														<li class="menu__dropdown__title">
															<b>Home</b>
														</li>
														<li>
															<a href="home-architecture.html">Architecture</a>
														</li>
														<li>
															<a href="home-brand.html">Brand</a>
														</li>
														<li>
															<a href="home-dubai-rtl.html">RTL demo</a>
														</li>
														<li>
															<a href="home-video-dark.html">Video</a>
														</li>
														<li>
															<a href="home-portfolio-dark.html">Portfolio</a>
														</li>
														<li>
															<a href="home-portfolio-white.html">Portfolio #2</a>
														</li>
														<li>
															<a href="home-portfolio-fullscreen.html">Portfolio fullscreen</a>
														</li>
														<li>
															<a href="home-resume-dark.html">Resume</a>
														</li>
														<li>
															<a href="home-photographer-dark.html">Photographer</a>
														</li>
														<li>
															<a href="home-photographer-white.html">Photographer #2</a>
														</li>
														<li>
															<a href="home-company.html">Company</a>
														</li>
														<li>
															<a href="home-company-2.html">Company #2</a>
														</li>
														<li>
															<a href="home-company-3.html">Company #3</a>
														</li>
														<li>
															<a href="home-company-4.html">Company #4</a>
														</li>
														<li>
															<a href="home-company-5.html">Company #5</a>
														</li>
														<li>
															<a href="home-company-6.html">Company #6</a>
														</li>
														<li>
															<a href="home-travel.html">Travel</a>
														</li>
														<li>
															<a href="home-other.html">Other</a>
														</li>
														<li>
															<a href="home-sport.html">Sport</a>
														</li>
														<li>
															<a href="home-studio.html">Studio</a>
														</li>
														<li>
															<a href="home-studio-2.html">Studio #2</a>
														</li>
														<li>
															<a href="home-restaurant.html">Restaurant</a>
														</li>
													</ul>
													<ul class="ul--split">
														<li class="menu__dropdown__title">
															<b>Specialty Pages</b>
														</li>
														<li>
															<a href="specialty-account.html">Account</a>
														</li>
														<li>
															<a href="specialty-login.html">Login</a>
														</li>
														<li>
															<a href="specialty-create.html">Create</a>
														</li>
														<li>
															<a href="specialty-recover.html">Recover</a>
														</li>
														
														
														<li>
															<a href="specialty-comingsoon.html">Coming Soon</a>
														</li>
														<li>
															<a href="specialty-comingsoon-background.html">Coming Soon #2</a>
														</li>
														<li>
															<a href="specialty-search-results.html">Search results</a>
														</li>
														<li>
															<a href="specialty-service.html">Service mode</a>
														</li>
														<li>
															<a href="specialty-404.html">404</a>
														</li>
													</ul>
												</div>
												<div class="col-md-3 col-sm-3 col-xs-12">
													<ul>
														<li class="menu__dropdown__title">
															<b>Landings</b>
														</li>
														<li>
															<a href="landing-app.html">App</a>
														</li>
														<li>
															<a href="landing-app-2.html">App #2</a>
														</li>
														<li>
															<a href="landing-app-3.html">App #3</a>
														</li>
														<li>
															<a href="landing-app-4.html">App #4</a>
														</li>
														<li>
															<a href="landing-company.html">Company</a>
														</li>
														<li>
															<a href="landing-company-2.html">Company #2</a>
														</li>
														<li>
															<a href="landing-company-3.html">Company #3</a>
														</li>
														<li>
															<a href="landing-studio.html">Studio</a>
														</li>
														<li>
															<a href="landing-sport.html">Sport</a>
														</li>
														<li>
															<a href="landing-service.html">Service</a>
														</li>
														<li>
															<a href="landing-service-2.html">Service</a>
														</li>
														<li>
															<a href="landing-travel.html">Travel</a>
														</li>
														<li>
															<a href="landing-travel-2.html">Travel 2</a>
														</li>
													</ul>
												</div>
												<div class="col-md-3 col-sm-3 col-xs-12">
													<ul>
														<li class="menu__dropdown__title">
															<b>Second Pages</b>
														</li>
														<li>
															<a href="page-our-company.html">Our company</a>
														</li>
														<li>
															<a href="page-history.html">History</a>
														</li>
														<li>
															<a href="page-support.html">Support</a>
														</li>
														<li>
															<a href="page-faq.html">FAQ</a>
														</li>
														<li>
															<a href="page-price.html">Price</a>
														</li>
														<li>
															<a href="page-price-2.html">Price #2</a>
														</li>
														<li>
															<a href="page-article.html">Article</a>
														</li>
														<li>
															<a href="page-article-2.html">Article #2</a>
														</li>
														<li>
															<a href="page-article-3.html">Article #3</a>
														</li>
														<li>
															<a href="page-article-4.html">Article #4</a>
														</li>
														<li>
															<a href="page-contact-us.html">Contact us</a>
														</li>
														<li>
															<a href="page-contact-us-2.html">Contact us #2</a>
														</li>
														<li>
															<a href="page-contact-us-3.html">Contact us #3</a>
														</li>
														<li>
															<a href="page-contact-us-4.html">Contact us #4</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="row hidden-xs">
												<div class="col-md-11 col-sm-12 col-xs-12">
													<form><input type="search" placeholder="Type and hit enter to search"></form>
												</div>
											</div>
										</div>
									</div>
									<div class="bg pos-absolute pos-right pos-top col-md-4 hidden-xs hidden-sm" style="background: url('images/hi/kari-shea-226157.jpg');">
										<div class="boxed-lg pos-absolute pos-top">
											
										</div>
										<div class="boxed-lg pos-absolute pos-bottom">
											
										</div>
									</div>
							</div>
						</li>
						<li>
							<a href="#">Blog</a>
							<ul class="menu__dropdown boxed">
								<li>
									<a href="#">Home <i class="material-icons hidden-xs hidden-sm right"></i> <i class="material-icons  hidden-md  hidden-lg right"></i></a>
									<ul class="menu__dropdown boxed">									
										<li>
											<a href="blog-home-masonry.html">Masonry</a>
										</li>
										<li>
											<a href="blog-home-boxed.html">Boxed sidebar</a>
										</li>
										<li>
											<a href="blog-home-boxed-fluid.html">Boxed fluid</a>
										</li>
										<li>
											<a href="blog-home-default.html">Default</a>
										</li>
										<li>
											<a href="blog-home-column.html">Column</a>
										</li>
										<li>
											<a href="blog-home-column-2.html">Column #2</a>
										</li>
										<li>
											<a href="blog-home-fluid.html">Fluid</a>
										</li>
									</ul>
								</li>	
								<li>
									<a href="#">Post <i class="material-icons hidden-xs hidden-sm right"></i> <i class="material-icons  hidden-md  hidden-lg right"></i></a>
									<ul class="menu__dropdown boxed">									
										<li>
											<a href="blog-post-1.html">Post #1</a>
										</li>
										<li>
											<a href="blog-post-2.html">Post #2</a>
										</li>
										<li>
											<a href="blog-post-3.html">Post #3</a>
										</li>
										<li>
											<a href="blog-post-4.html">Post #4</a>
										</li>
										<li>
											<a href="blog-post-5.html">Post #5</a>
										</li>
										<li>
											<a href="blog-post-6.html">Post #6</a>
										</li>
										<li>
											<a href="blog-post-7.html">Post #7</a>
										</li>
									</ul>
								</li>								
							</ul>
						</li>
						<li>
							<a href="#">Shop</a>
							<ul class="menu__dropdown boxed">
								<li>
								<a href="#">Main <i class="material-icons hidden-xs hidden-sm right"></i> <i class="material-icons  hidden-md  hidden-lg right"></i></a>
									<ul class="menu__dropdown boxed">									
										<li>
											<a href="shop-main.html">Main</a>
										</li>
										<li>
											<a href="shop-main-2.html">Main #2</a>
										</li>
										<li>
											<a href="shop-main-3.html">Main #3</a>
										</li>
									</ul>
								</li>
								<li>
								<a href="#">Catalog boxed <i class="material-icons hidden-xs hidden-sm right"></i> <i class="material-icons  hidden-md  hidden-lg right"></i></a>
									<ul class="menu__dropdown boxed">									
										<li>
											<a href="shop-catalog-boxed-4.html">4 Columns</a>
										</li>
										<li>
											<a href="shop-catalog-boxed-3.html">3 Columns</a>
										</li>
										<li>
											<a href="shop-catalog-boxed-3-sidebar.html">3 Columns + Sidebar</a>
										</li>
										<li>
											<a href="shop-catalog-boxed-2-sidebar.html">2 Columns + Sidebar</a>
										</li>
										<li>
											<a href="shop-catalog-boxed-2-minimal.html">2 Columns minimal</a>
										</li>
									</ul>
								</li>
								<li>
								<a href="#">Catalog default <i class="material-icons hidden-xs hidden-sm right"></i> <i class="material-icons  hidden-md  hidden-lg right"></i></a>
									<ul class="menu__dropdown boxed">									
										<li>
											<a href="shop-catalog-default-4.html">4 Columns</a>
										</li>
										<li>
											<a href="shop-catalog-default-3.html">3 Columns</a>
										</li>
										<li>
											<a href="shop-catalog-default-3-sidebar.html">3 Columns + Sidebar</a>
										</li>
										<li>
											<a href="shop-catalog-default-2-sidebar.html">2 Columns + Sidebar</a>
										</li>
										<li>
											<a href="shop-catalog-default-2-minimal.html">2 Columns minimal</a>
										</li>
									</ul>
								</li>
								<li class="hr">
								<a href="#">Product page <i class="material-icons hidden-xs hidden-sm right"></i> <i class="material-icons  hidden-md  hidden-lg right"></i></a>
									<ul class="menu__dropdown boxed">									
										<li>
											<a href="shop-card-default.html">Default</a>
										</li>
										<li>
											<a href="shop-card-detail.html">Detail</a>
										</li>
									</ul>
								</li>
								
								<li> 
									<a href="shop-cart.html">Cart</a>
								</li>
								<li> 
									<a href="shop-cart-shipping.html">Shipping</a>
								</li>
								<li> 
									<a href="shop-cart-payment.html">Payment</a>
								</li>
								<li> 
									<a href="shop-cart-success.html">Checkout success</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">Portfolio</a>
							<ul class="menu__dropdown boxed">
								<li class="menu__dropdown__title">
									<b>Cards</b>
								</li>									
								<li>
									<a href="#">Boxed <i class="material-icons hidden-xs hidden-sm right"></i> <i class="material-icons  hidden-md  hidden-lg right"></i></a>
									<ul class="menu__dropdown boxed">									
										<li>
											<a href="portfolio-boxed-3.html">3 Columns</a>
										</li>
										<li>
											<a href="portfolio-boxed-2.html">2 Columns</a>
										</li>
										<li>
											<a href="portfolio-boxed-1.html">Big Cards</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="#">Hover <i class="material-icons hidden-xs hidden-sm right"></i> <i class="material-icons  hidden-md  hidden-lg right"></i></a>
									<ul class="menu__dropdown boxed">									
										<li>
											<a href="portfolio-hover-3.html">3 Columns</a>
										</li>
										<li>
											<a href="portfolio-hover-2.html">2 Columns</a>
										</li>
										<li>
											<a href="portfolio-hover-1.html">Big Cards</a>
										</li>
									</ul>
								</li>
								<li class="hr">
									<a href="#">Default <i class="material-icons hidden-xs hidden-sm right"></i> <i class="material-icons  hidden-md  hidden-lg right"></i></a>
									
									<ul class="menu__dropdown boxed">									
										<li>
											<a href="portfolio-default-3.html">3 Columns</a>
										</li>
										<li>
											<a href="portfolio-default-2.html">2 Columns</a>
										</li>
										<li>
											<a href="portfolio-default-1.html">Big Cards</a>
										</li>
									</ul>
								</li>
								<li class="menu__dropdown__title">
									<b>Fluid</b>
								</li>
								<li>
									<a href="portfolio-fluid.html">Default</a>
								</li>
								<li>
									<a href="portfolio-fluid-big.html">Big</a>
								</li>
								<li>
									<a href="portfolio-fluid-grid-with-sidebar.html">Big with sidebar</a>
								</li>
								<li class="hr">
									<a href="portfolio-fluid-grid.html">Grid</a>
								</li>
								<li class="menu__dropdown__title">
									<b>Project pages</b>
								</li>
								<li>
									<a href="portfolio-project-boxed.html">Boxed</a>
								</li>
								<li>
									<a href="portfolio-project-sidebar.html">Sidebar</a>
								</li>
								<li>
									<a href="portfolio-project-sidebar-2.html">Sidebar #2</a>
								</li>
								<li>
									<a href="portfolio-project-default.html">Default</a>
								</li>
								
							</ul>
						</li>