/* Main 700 		------------------------------ */

.color--main, 
a {
	color: #4A148C;
}
.li--marker:before,
.success-alert,
.bg-color--main, 
.btn--default {
	background-color: #4A148C !important;
}

.bg-color--main-2 hr {
	opacity: .2;
}

input[type=range]{
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4A148C), to(#4A148C));
	background-image: linear-gradient(#4A148C, #4A148C);
}

/* Main -- 500	------------------------------ */

[class*=bg]:not([class*=bg-color--white]):not(nav) [class*=bg-color--white] a,
[class*='background'] [class*=bg-color--white] a,
a:hover, 
a:focus {
	color: #6A1B9A;
}

.range-slider__range::-webkit-slider-thumb:hover,
.range-slider__range:active::-webkit-slider-thumb,
input:checked+.slider,
.picker--focused .picker__day--highlighted,
.picker__day--highlighted:hover,
.bg-color--main-2, 
.btn--default:hover, .btn--default:focus, .btn--default:active {
	background-color: #6A1B9A !important;
}
.bg-color--main hr {
	border-color: #6A1B9A;
}

@media (min-width: 991px) {	
.nav--hover--bg.bg-color--main .menu > li:hover,
.nav--hover--bg.nav--hover--bg--main .menu > li:hover {
	background-color: #6A1B9A !important;
}
}

/* Second A400 	------------------------------ */

.color--second {
	color: #009688;
}

.bg-color--second {
	background-color: #009688 !important;
}

@media (min-width: 991px) {
.nav--hover--bg.nav--hover--bg--second .menu > li:hover  {
	background-color: #009688 !important;
}
}

.border-color--second,
.border-color--second:after,
.border-color--second:before,
.nav--hover--line--second .menu > li:hover {
	border-color: #009688 !important;
}

/* Second A200 	------------------------------ */

.bg-color--second-2 {
	background-color: #26A69A !important;
}
.bg-color--second hr {
	border-color: #26A69A;
}

.bg-color--second.btn:hover, .bg-color--second.btn:focus, .bg-color--second.btn:active {
	background-color: #26A69A !important;
}

.bg-color--second.btn, 
.bg-color--second.btn i {
	color: rgba(255,255,255,1);
	font-weight: 700;
}