/* Main 500 		------------------------------ */

.color--main, 
a {
	color: #EF5F0D;
}
.li--marker:before,
.success-alert,
.bg-color--main, 
.btn--default {
	background-color: #EF5F0D !important;
}

.bg-color--main-2 hr {
	opacity: .2;
}

input[type=range]{
	background-image: -webkit-gradient(linear, left top, left bottom, from(#EF5F0D), to(#EF5F0D));
	background-image: linear-gradient(#EF5F0D, #EF5F0D);
}

/* Main -- 400	------------------------------ */

[class*=bg]:not([class*=bg-color--white]):not(nav) [class*=bg-color--white] a,
[class*='background'] [class*=bg-color--white] a,
a:hover, 
a:focus {
	color: #F7E5D8;
}

.range-slider__range::-webkit-slider-thumb:hover,
.range-slider__range:active::-webkit-slider-thumb,
input:checked+.slider,
.picker--focused .picker__day--highlighted,
.picker__day--highlighted:hover,
.bg-color--main-2, 
.btn--default:hover, .btn--default:focus, .btn--default:active {
	background-color: #F7E5D8 !important;
}
.bg-color--main hr {
	border-color: #F7E5D8;
}

@media (min-width: 991px) {	
.nav--hover--bg.bg-color--main .menu > li:hover,
.nav--hover--bg.nav--hover--bg--main .menu > li:hover {
	background-color: #F7E5D8 !important;
}
}

[class*="bg-color--main"].bg-color--gradient {
	background: rgb(40,53,147);
	background: radial-gradient(ellipse at center, rgb(40,53,147) 0%,rgb(63,81,181) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F7E5D8', endColorstr='#EF5F0D',GradientType=1 );
}

[class*="bg-color--second"].bg-color--gradient {
	background: rgb(255,64,129);
	background: radial-gradient(ellipse at center, rgb(255,64,129) 0%,rgb(245,0,87) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#242323', endColorstr='#2D2C2C',GradientType=1 );
}

/* Second A400 	------------------------------ */

.color--second {
	color: #2D2C2C;
}

.bg-color--second {
	background-color: #2D2C2C !important;
}

@media (min-width: 991px) {
.nav--hover--bg.nav--hover--bg--second .menu > li:hover  {
	background-color: #2D2C2C !important;
}
}

.border-color--second,
.border-color--second:after,
.border-color--second:before,
.nav--hover--line--second .menu > li:hover {
	border-color: #2D2C2C !important;
}

/* Second A200 	------------------------------ */

.bg-color--second-2 {
	background-color: #242323 !important;
}
.bg-color--second hr {
	border-color: #242323;
}

.bg-color--second.btn:hover, .bg-color--second.btn:focus, .bg-color--second.btn:active {
	background-color: #242323 !important;
}

.bg-color--second.btn, 
.bg-color--second.btn i {
	color: rgba(255,255,255,1);
	font-weight: 700;
}