/* Main 500 		------------------------------ */

.color--main, 
a {
	color: #5E4036;
}
.li--marker:before,
.success-alert,
.bg-color--main, 
.btn--default {
	background-color: #5E4036 !important;
}

.bg-color--main-2 hr {
	opacity: .2;
}

input[type=range]{
	background-image: -webkit-gradient(linear, left top, left bottom, from(#5E4036), to(#5E4036));
	background-image: linear-gradient(#5E4036, #5E4036);
}

/* Main -- 400	------------------------------ */

[class*=bg]:not([class*=bg-color--white]):not(nav) [class*=bg-color--white] a,
[class*='background'] [class*=bg-color--white] a,
a:hover, 
a:focus {
	color: #7A5547;
}

.range-slider__range::-webkit-slider-thumb:hover,
.range-slider__range:active::-webkit-slider-thumb,
input:checked+.slider,
.picker--focused .picker__day--highlighted,
.picker__day--highlighted:hover,
.bg-color--main-2, 
.btn--default:hover, .btn--default:focus, .btn--default:active {
	background-color: #7A5547 !important;
}
.bg-color--main hr {
	border-color: #7A5547;
}

@media (min-width: 991px) {	
.nav--hover--bg.bg-color--main .menu > li:hover,
.nav--hover--bg.nav--hover--bg--main .menu > li:hover {
	background-color: #7A5547 !important;
}
}

[class*="bg-color--main"].bg-color--gradient {
	background: #5E4036;
	background: radial-gradient(ellipse at center, #5E4036 0%,#7A5547 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5E4036', endColorstr='#7A5547',GradientType=1 );
}

[class*="bg-color--second"].bg-color--gradient {
	background: #FFD27A;
	background: radial-gradient(ellipse at center, #FFD27A 0%,#FFAC30 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFD27A', endColorstr='#FFAC30',GradientType=1 );
}

/* Second A400 	------------------------------ */

.color--second {
	color: #FFAC30;
}

.bg-color--second {
	background-color: #FFAC30 !important;
}

@media (min-width: 991px) {
.nav--hover--bg.nav--hover--bg--second .menu > li:hover  {
	background-color: #FFAC30 !important;
}
}

.border-color--second,
.border-color--second:after,
.border-color--second:before,
.nav--hover--line--second .menu > li:hover {
	border-color: #FFAC30 !important;
}

/* Second A200 	------------------------------ */

.bg-color--second-2 {
	background-color: #FFD27A !important;
}
.bg-color--second hr {
	border-color: #FFD27A;
}

.bg-color--second.btn:hover, .bg-color--second.btn:focus, .bg-color--second.btn:active {
	background-color: #FFD27A !important;
}

.bg-color--second.btn, 
.bg-color--second.btn i {
	color: rgba(255,255,255,1);
	font-weight: 700;
}