.bg-transparent {
	background-image: url('transparent.png');
}

.bg-color--gray {
	background-color: #1A1A1A;
}
	.bg-color--gray-2 {
		background-color: #222222;
	}
.bg-color--white {
	background-color: #fff;
}
	.bg-color--white-2 {
		background-color: #FAFAFA;
	}
	
.color--white {
	color: #fff;
}


html, body {
	height: 100%;
	width: 100%;
	background-color: #F8F8F8;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-smooth: always;
}

/* 1) Typography */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&subset=cyrillic');

.app, html, a, b, strong, p, span, form, h1, h2, h3, h4, h5, h6, li {	
	font-family: 'Open Sans', sans-serif; 
	margin: 0;
}

h1 {
	font-size: 28px;
	font-weight: 300;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 19px;
}
h4 {
	
}
h5 {
	
}
h6 {
	
}

h2, h3, h4, h5, h6,
h1 small, h2 small, .h1 small, .h2 small {
	font-weight: 500;
	text-transform: capitalize;
}
	
h1 small, h2 small, .h1 small, .h2 small {
    opacity: .5;
}

h1 i.material-icons, h2 i.material-icons, h3 i.material-icons, h4, i.material-icons, h5 i.material-icons, h6 i.material-icons, a.material-icons  {
	line-height: inherit;
	vertical-align: sub;
}

a.material-icons {
	text-decoration: none;
	color: inherit;
}

.material-icons + .material-icons {
	margin-left: 10px;
}

b {
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 1.28px;
	line-height: 22px;
	text-transform: uppercase;
}

b + small {
	font-size: 13px;
	opacity: .5;
}

.app__topbar b {
	letter-spacing: normal;
	text-transform: none;
}

.mod--dropdown__content b {
	line-height: 40px;
}

/* 1) Help classes	---------------------------------------------------------*/
[pointer-events='none'] {
	pointer-events: none;
}

.pointer {
	cursor: pointer;
}

/* position */
.pos-absolute {
	position: absolute;
}

.pos-relative {
	position: relative;
}

.pos-fixed {
	position: fixed !important;
	will-change: scroll-position, transform;
}

.pos-vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

	.row.pos-vertical-center {
		width: 100%;
	}

.pos-vertical-midle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}	

.pos-vertical-top {
  position: relative;
  top: 0%;
}

.pos-vertical-top {
  position: relative;
  bottom: 0%;
}

.pos-top {
	top: 0;
}

.pos-right {
	right: 0;
}

.pos-bottom {
	bottom: 0;
}

.pos-left {
	left: 0;
}

.left {
	float: left
}
.right {
	float: right
}
.center {
	margin: 0 auto;
	float: none;
}
.inline {
	float: left;
	clear: right;
}

.text--bold {
	font-weight: 700;
}
.text--underline {
	text-decoration: underline;
}
.text--uppercase {
	text-transform: uppercase;
}
.text--opacity-8 {
	opacity: .8 ;
}
.text--opacity-5 {
	opacity: .5;
}
.text--opacity-3 {
	opacity: .3;
}

.text--nowrap {
	white-space: nowrap;
	/* pre-line */
	text-overflow: ellipsis;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	-moz-binding: url(bindings.xml#ellipsis);
}	
	
hr	{
	border-top: 1px solid rgba(0,0,0,.1);
	margin-top: 10px;
    margin-bottom: 10px;
}

.hr {
	border-bottom: 1px solid rgba(0,0,0,.1)
}

.boxed {
	padding: 30px;
}

.masonry-item img {
	padding: 5px;
	width: 100%;	
	cursor: pointer;
}

.app__sidebar__toggle + .app__sidebar.col-md-4 .masonry-item {
    width: 50%;
}
.app__sidebar__toggle + .app__sidebar.col-md-12 .masonry-item {
    width: 20%;
}

.masonry-thumb-size {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: #fff;
    padding: 5px 10px;
    color: rgba(0,0,0,.5);
    font-size: 12px;
    font-size: 12px;
    letter-spacing: 0;
    display: none;
}

.masonry-item:hover .masonry-thumb-size {
	display: block;
}

.masonry-thumb-remove {
	background: #000000;
	box-shadow: 0 3px 4px 0 rgba(0,0,0,0.29);
	height: 23px;
	width: 23px;
	border-radius: 50%;
	position: absolute;
	top: 0;
	left: 0;
	display: none !important;
	cursor: pointer;
}

	.masonry-item:hover .masonry-thumb-remove {
		display: flex !important;
	}

	.masonry-thumb-remove i {
		color: #fff;
		font-size: 14px;
	}
/* ___________________________________________________ */

/* 2) Flex */

.flex-center {
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
    -webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	        
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	        
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}


.app__logo {
	width: 100%;
	opacity: .1;
}
.app__page {
	margin-top: 56px;
	border: 0;
	width: 100%;
	height: calc(100vh - 56px);
	box-shadow: 0 2px 7px 0 rgba(0,0,0,0.20);
	position: absolute;
	left: 50%;
	transform: translateX(-50%)
}

/* 3) Load window */

.app__load-window {
	height: 100vh;
	width: 100%;
	background-color: #000;
	color: #fff;
	z-index: 1010;
}

	.app__load-window * {
		color: #fff;
	}


/* 4) Sidebar */
.app__sidebar__toggle {
	width: 10px;
	height: 100vh;
	z-index: 1002;
}

.app__sidebar {
	background: #FFFFFF;
	box-shadow: 0 2px 33px 0 rgba(0,0,0,0.09);
	height: 100vh;
	z-index: 1001;
	
	transition: all 1s ease;
	transform: translateX(calc(-100% + -33px));
}

	.app__sidebar.col-md-4 {
		width: 450px;
	}
	
	.app__sidebar.col-md-12 {
		width: 100%;
	}
	
	.app__sidebar--active {
		transform: translateX(0%);
	}
	
	.app__sidebar-edit {
		transition: all 0s; 
	}
	
	.app__sidebar .full-width {
		padding-left: 0;
		padding-right: 0;
	}
	
	.app__sidebar__top {
		background-color: #000;
		color: #fff;
		padding: 30px;
		height: 94px;
	}	
	
		.app__sidebar__bottom h3,
		.app__sidebar__top h2,
		.app__sidebar__top h3 {
			display: inline-block;
		}
		
		.app__sidebar__top * + i,
		.app__sidebar__top i + * {
			margin-left: 10px;
		}
		
		.app__sidebar__top input {
			width: calc(100% - 60px) !important;
			color: #fff !important;
		}
		
		.app__sidebar__top input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  color: rgba(255,255,255,.6);
		}
		.app__sidebar__top input::-moz-placeholder { /* Firefox 19+ */
		  color: rgba(255,255,255,.6);
		}
		.app__sidebar__top input:-ms-input-placeholder { /* IE 10+ */
		  color: rgba(255,255,255,.6);
		}
		.app__sidebar__top input:-moz-placeholder { /* Firefox 18- */
		  color: rgba(255,255,255,.6);
		}
		
	.app__sidebar__bottom {
		cursor: pointer;
		padding: 20px;
		color: #fff;
		background-color: #009688;
	}
	
		.app__sidebar__bottom:hover {
			background-color: #16b2a4;
		}
		
		
	.app__sidebar__scrollarea {
		overflow: auto;
		height: calc(100vh - 94px);
		-webkit-overflow-scrolling: touch; 
	}	
	
	/* Sidebar - Edit */
	
	.app__sidebar__media {
		height: 300px;
		background-image: url('transparent.png');
		background-repeat: repeat;
		width: 100%;
		position: relative;
	}	
		.app__sidebar__media__container {
			height: inherit;
			overflow: hidden;
		}
			
			.app__sidebar__media__container img {
				max-width: 100%;
			}
			.app__sidebar__media__container img[src*=".png"] {
				max-height: 100%;
			}
			
		.tool_ico-select {
			font-size: 40px;
			padding: 10px;
		}
		
		.tool_ico-select:not(:hover){
			opacity: .5;
		}
	
	/* Sidebar - Folder */
			
	.app__sidebar-folder .app__sidebar__scrollarea {
		margin: 0 20px;
	}
	
		ul.app__folder__select {
			display: none;
			background: #FAFAFA;
			box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
			border-radius: 2px;
			width: 150px;
			padding: 15px 0;
			z-index: 1;
			
		}	
	
		.app__folder__name:hover > ul {
			display: block;
			position: absolute;
			list-style: none;
		}
		
		ul.app__folder__select li {
			padding: 6px 15px;
		    width: 100%;
		    text-transform: capitalize;
		    color: #000;
		    font-size: 14px;
		    cursor: pointer;
		}
		
		ul.app__folder__select li:hover {
			background-color: #f3f3f3;
		}
		
		.app__sidebar-folder__uploading {
			display: none;
			padding: 30px;
			background: #F5F5F5;
			overflow: hidden;
		}
		
		.app__sidebar-folder__uploading__item {
			width: 100%;
			margin-bottom: 30px;
			display: flex;
		}
		
		.app__sidebar-folder__uploading__item div:first-child {
			width: 20%;
		}
		.app__sidebar-folder__uploading__item div:last-child {
			width: 80%;
			padding-left: 30px;
		}
		
		.app__sidebar-folder__uploading__item img {
			max-width: 100%;
			max-height: 150px;
		}
	
	/* Sidebar - Page - Elements */
	
	.app__sidebar-page__elements__sections > div {
		padding: 0 30px !important;
		width: 100%;
		margin-top: 10px;
		border: none !important;
		color: rgba(0,0,0,.6);
	}
	
		.app__sidebar-page__elements__sections > div:not(:hover) {
			color: rgba(0,0,0,0);
			text-align: center;
		}
			
		.app__sidebar-page__elements__sections img {
			max-width: 356px;
			margin: 10px 0;
			box-shadow: 0 6px 14px 0 rgba(0,0,0,0.10);
			cursor: pointer;
		}
	
	/* Lists */
	.app__sidebar ul.ul--list li > div:not(.boxed):first-child {
		padding: 20px 30px;
		font-size: 18px;
		border-bottom: 1px solid rgba(0,0,0,.1);
	}
	
	.app__sidebar ul.ul--list li > div:not(.boxed):first-child:hover {
		background: #536DFE;
		color: #fff;
	}
		.app__sidebar ul.ul--list li div:not(.boxed):first-child .pages__page-select {
			cursor: pointer;
		}
		.app__sidebar ul.ul--list li div:not(.boxed):first-child span > .material-icons {
			font-size: inherit;
			display: none;
			margin-right: 0;
			cursor: pointer;
		}
		
			.app__sidebar ul.ul--list li div:not(.boxed):first-child:hover span > .material-icons {
				display: inline-block;
			}
	
		.app__sidebar ul.ul--list > li > ul > li > div:not(.boxed):first-child {
			font-size: 15px;
			color: rgba(0,0,0,.5);
		}
		
	/* Dropdowns */
	.app__sidebar .ul--dropdown > li > div:not(.boxed):first-child {
		cursor: pointer;
	}
		
		.app__sidebar .ul--dropdown > li > div:not(.boxed):first-child:after {
			content: '+';
			position: relative;
			float: right;
		}
		
		.app__sidebar .ul--dropdown > li.active > div:not(.boxed):first-child:after {
			content: '-';
		}
		
		.app__sidebar .ul--dropdown > li:not(.active) > ul {
			display: none;
		}
	
	/* Dropdowns -- inner */
	.ul--dropdown--inner > li.active > div:not(.boxed):first-child {
		background: #536DFE;
		box-shadow: 0 9px 11px 0 rgba(0,0,0,0.13);
		color: #fff !important;
	}
	
		.ul--dropdown--inner > li > ul {
			background: #FDFDFD;
			background-image: linear-gradient(-180deg, rgba(246,246,246,0.50) 95%, rgba(218,218,218,0.50) 100%);
		}	
		
	.socimg__container,
	#socimg {
		background: url('transparent.png');
		width: 100%;
		height: 300px;
	}
	

/* 5) Topbar */
.app__topbar {
	background: #1E1E1E;
	box-shadow: inset 0 -22px 18px 1px #000000;
	/* height: 56px; */
	z-index: 1000;
	color: #fff;
	width: 100%;
    /* overflow-y: hidden; */
}
	.app__topbar__mod {
		padding-top: 15px;
		padding-bottom: 15px;
		display: inline-block;
	}
	.app__topbar__mod:not(:last-child) {
		padding-right:30px;
		border-right: 1px solid rgba(255,255,255,.1);
	}
	.app__topbar__mod:not(:first-child) {
		padding-left:30px;
	}
	
	.app__topbar__mod > h3 i,
	.app__topbar__mod > i,
	.app__topbar__mod > b > i {
		font-size: 18px;
	}
	
	.app__topbar__mod > i,
	.app__topbar__mod > b {
		opacity: .3;
		cursor: pointer;
	}
	
	.app__topbar__mod > i:not(:first-child),
	.app__topbar__mod > b:not(:first-child){
		margin-left: 10px;
	}
	
	.app__topbar__mod > i:hover,
	.app__topbar__mod > i.active,
	.app__topbar__mod > b:hover,
	.app__topbar__mod > b.active { 
		opacity: 1;
	}
	
	.app__topbar__mod + .right {
		padding-left: 30px;
		/* border-left: 1px solid rgba(255,255,255,.1); */
	}
	
	.app__topbar .app__topbar__mod > i:not(.active-tool),
	.app__topbar .app__topbar__mod > b:not(.active-tool) {
		display: none;
	}
	
	.app__topbar .app__topbar__mod > i.active-tool--all {
		display: inline-block;
	}
	/* dropdown */
	.mod--dropdown__content > .col-md-12 {
		display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
		-ms-flex-wrap: nowrap;
		 flex-wrap: nowrap;
		 
	}
	
	.app__topbar__mod > .mod--dropdown + .mod--dropdown__content {
		display: none;
		background: #FAFAFA;
		box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
		border-radius: 0 0 2px 2px;	
		z-index: 1002;
	    left: 0;
	    right: 0;
	    top: 56px;
	    color: #000;
	    line-height: 40px;
	    font-size: 15px;
	}
		.app__topbar__mod > .mod--dropdown--active + .mod--dropdown__content {
			display: block;
		}
		
		.app__topbar__mod > .mod--dropdown + .mod--dropdown__content > .col-md-12 {
			height: 40px;
		}
		
			.app__topbar__mod > .mod--dropdown + .mod--dropdown__content > .col-md-12 + .col-md-12 {
				border-top: 1px solid rgba(0,0,0,0.1)
			}
		
		
	[class*=mod__tool] {
		padding:0 15px;
	}
	
		[class*=mod__tool__] {
			cursor: pointer;
		}
	
		[class*=mod__color] + .mod--dropdown__content [class*=mod__tool]:not(.mod__tool__checkbox) {
			width: 40px;
			height: 40px;
			padding: 0;
		}
		
	.mod__tool__parents span:not(:last-child):after {
		opacity: 0.3;
		content: '/';
		padding: 0 15px;
	}
	
	span[class*=mod__tool__].active,
	span[class*=mod__tool__]:hover {
	    background: #FFFFFF;
	    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.29);
	    border-radius: 2px;
	}
	
		span[class*=mod__tool__].active {
			background-color: #009688;
			color: #fff;
		}		
		
	@media (max-width: 1050px) {
		.app__topbar__mod:not(:last-child) {
			padding-right:10px;
			border-right: none;
		}
		.app__topbar__mod:not(:first-child) {
			padding-left:10px;
		}
		.app__topbar__mod + .right {
			padding-left: 10px;
		}
	}
		
/* Notification 	--------------------------------------------------------- */	
.notification__area {
	z-index: 1010;
    width: 350px;
    right: 30px;
    top: 30px;
}	
	
	.notification__area  .notification {
		background: #FAFAFA;
	    box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(0,0,0,0.24);
	    border-radius: 2px;
	    width: 150px;
	    padding: 15px;
	    margin-bottom: 20px;
	    width: 100%;
	    display: inline-flex;
	}
	
	.notification__area p b {
		text-transform: none;
	}
	
	.notification > div {
	    display: inline-block;
	}
	
	.notification > div:first-child {
		width: 70%;
		padding-right: 10px;
		border-right: 1px solid rgba(0,0,0,.1)
	}
	.notification > div:last-child {
		width: 30%;
		padding-left: 10px;
	}
	
	.notification a {
		font-size: 12px;
		line-height: 25px;
		cursor: pointer;
		font-weight: 600;
	}
	
	.notification a:hover {
		color: #0000CC;
	}
	
/* Tabs 	--------------------------------------------------------- */


.tabs ul { 
	margin: 0;
	overflow: auto;
	padding: 0;
}

.tabs__links li {
	list-style: none;
	display: inline-block;
	height: 100%;
	padding: 20px 0px;
	text-align: center;
	font-size: 14px;
	letter-spacing: 0;
	font-weight: 600;
}
	.tabs__links li i {
		vertical-align: middle;
	}

	.tabs__links li:last-child {
		margin-right: 0px;
	}
	.tabs__links li:not(.active) {
		cursor: pointer;
		opacity: .5;
		border-bottom: 1px solid rgba(0,0,0,.1);
	}
	
	.tabs__links li.active {
		border-bottom: 2px solid #212121;
	}
	
.tabs__content:not(.active) {
	display: none;
}	




/* Forms */
.switch {
	position: relative;
	display: inline-block;
	width: 39px;
	height: 23px;
}

	.switch input {
		display: none;
	}
	
	.switch .label {
		margin-top: -5px;
	    line-height: 23px;
	    margin-left: 50px;
	}

/* The slider */

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

	.slider:before {
		position: absolute;
		content: "";
		height: 15px;
		width: 15px;
		left: 4px;
		bottom: 4px;
		-webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
		        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
		background-color: #fff;
		-webkit-transition: .4s;
		transition: .4s;
	}

	input:focus+.slider {
		-webkit-box-shadow: 0 0 1px #2196F3;
		        box-shadow: 0 0 1px #2196F3;
	}
	input:checked+.slider:before {
		-webkit-transform: translateX(16px);
		transform: translateX(16px);
	}

/* Range slider */
	
input[type=range] {
  margin: auto;
  outline: none;
  padding: 0;
  width: 50%;
  height: 4px;
  background-color: #EEE;
  background-size: 100%;
  background-size: 0 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
  cursor: pointer;
  -webkit-appearance: none;
  width: 100%;
  transform: translateY(-50%);
  /* track */
  /* thumb */
}

input[type=range] {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#009688), to(#009688)) !important;
	background-image: linear-gradient(#009688, #009688) !important;
}
.range-slider__range::-webkit-slider-thumb,
.range-slider__range::-webkit-slider-thumb,
.range-slider__range::-webkit-slider-thumb:hover,
.range-slider__range:active::-webkit-slider-thumb {
	background-color: #009688 !important;
}

input[type=range]::-webkit-slider-runnable-track {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  background: transparent;
  -webkit-appearance: none;
}
input[type=range]::-moz-range-track {
  box-shadow: none;
  border: none;
  background: transparent;
}
input[type=range]::-moz-focus-outer {
  border: 0;
}
input[type=range]::-webkit-slider-thumb {
  width: 16px;
  height: 16px;
  border: 0;
  background: white;
  border-radius: 100%;
  -webkit-box-shadow: 0 0 7px 0px rgba(0,0,0,.2);
          box-shadow: 0 0 7px 0px rgba(0,0,0,.2);
  -webkit-appearance: none;
}
input[type=range]::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border: 0;
  background: white;
  border-radius: 100%;
  box-shadow: 0 0 7px 0px rgba(0,0,0,.2);
}


/* Rounded sliders */
/* 
.slider.round {
	border-radius: 34px;
}
.slider.round:before {
	border-radius: 50%;
}
 */
.checkbox, .radio {
	display: none;
}
	.checkbox-custom, .radio-custom {
		width: 20px;
		height: 20px;
		border: 2px solid rgba(0,0,0,.2);
		border-radius: 2px;
		position: relative;
		opacity: 1 !important;
		vertical-align: text-bottom;
	}
	.checkbox-custom, .radio-custom, .label {
		display: inline-block;
		vertical-align: text-top;
		cursor: pointer;
	}
	.label {
		font-size: 15px;
		color: rgba(0,0,0,0.5);
		font-weight: 600;
		padding-left: 5px;
		vertical-align: top;
	}
	
	.radio:checked ~ .label,
	.checkbox:checked ~ .label {
		color: rgba(0,0,0,1);
		opacity: 1;
	}
	
	.radio:checked+.radio-custom {
		border-color: #009688;
	}
	.radio:checked+.radio-custom::before {
		content: " ";
		display: block;
		position: absolute;
		top: 3px;
		right: 3px;
		bottom: 3px;
		left: 3px;
		background: #009688;
		border-radius: 2px;
	}
	.radio-custom, .radio:checked+.radio-custom::before {
		border-radius: 50%;
	}
	.checkbox-custom i {
		opacity: 0 !important;
	}
	.checkbox:checked+.checkbox-custom {
		background: #009688;
		border-color: #009688;
	}
	.checkbox:checked+.checkbox-custom i {
		content: "";
		display: block;
		position: absolute;
		opacity: 1 !important;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		color: #fff;
		font-size: 16px;
		font-weight: 600;
		line-height: normal;
	}
		

input[type='url'],
input[type='text'],
textarea, 
select {
	-webkit-appearance: none;
	font-size: 16px;
	color: rgba(0,0,0,.5);
	letter-spacing: 0.4px;
	border: none;
	border-bottom: 1px solid rgba(0,0,0,.1);
	width: 100%;
	height: 44px;
	padding: 10px 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	line-height: normal;
	background-color: transparent;
	border-radius: 0;
	margin-top: 10px;
	margin-bottom: 20px;
	outline: none;
	outline-offset: inherit;
	outline-color: none;
	outline-style: none;
}

	input::-webkit-input-placeholder {
		color: rgba(0,0,0,.3);
	}

	input[type='url']:focus,
	input[type='text']:focus,
	textarea:focus, 
	select:focus {
		border-bottom: 2px solid #009688;
	}
	
	input[disabled],
	input[disabled] ~ span {
		opacity: .3 !important;
	}
	
/* Buttons */
	
	.btn--drag {
		background: #FFFFFF;
		border-radius: 2px;
		padding: 10px;
		margin-right: 10px;
		margin-bottom: 10px;
		font-size: 12px;
		color: #000000;
		letter-spacing: 0.94px;
		font-weight: 600;
		cursor: pointer;
		display: inline-block;
		
	}
	
	.btn--drag--ico {
		padding: 0;
	    height: 37px;
	    width: 37px;
	    text-align: center;
	}
		.btn--drag--ico i {
			margin: 0;
		}
	
	.btn--drag:hover {
		box-shadow: 0 3px 4px 0 rgba(0,0,0,0.29);
	}	
	
.app__btn-container {
	position: absolute;
	right: 30px;
	bottom: -26px;
	z-index: 1001;
	height: 52px;
	display: flex;
	
}

.app__btn--round {
	background: #FFFFFF;
	box-shadow: 0 3px 4px 0 rgba(0,0,0,0.29);
	border-radius: 50%;
	width: 52px;
	height: 52px;
	cursor: pointer;
}	

	.app__btn--round input {
		width: 52px;
		height: 52px;
		position: absolute;
		opacity: 0;
		cursor: pointer;
	}

	.app__btn--round + .app__btn--round {
		margin-left: 20px;
	}

	.app__btn--round i {
		color: #000;
	}
	
	.app__btn--round:hover {
		background: #536DFE;
	}
	
	.app__btn--round:hover i {
		color: #fff;
	}
	
	.app__sidebar__scrollarea .app__btn--round {
		z-index: 1000;
	}
	
	.app__sidebar__scrollarea .boxed + .boxed {
		padding-top: 0;
	}
	
	.app__btn--round--small {
		width: 36px;
		height: 36px;
		margin: 8px 0;
	}
	
.input-group {
		margin-bottom: 20px;
	}
		.input-group label {
			margin: 0 20px 0 0;
		}	
		
/* Loader */

.app__sidebar-folder__loader {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100vh;
	z-index: 1;
	background-color: #fff;
}		

.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #536DFE; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}		


div::-webkit-scrollbar,
[class*='scroll']::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
div::-webkit-scrollbar-button,
[class*='scroll']::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
div::-webkit-scrollbar-thumb,
[class*='scroll']::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.2);
  border: 0px none #ffffff;
  border-radius: 2px;
}
div::-webkit-scrollbar-corner,
[class*='scroll']::-webkit-scrollbar-corner {
  background: transparent;
}