h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover,
p:hover,
b:hover,
i:not(.material-icons):not([class *=pe-7s-]):not(.fa):hover, 
li:hover,
a:hover,
span:hover,
th:hover,
td:hover,
.nav-mod:hover,
[class*=col-]:hover {
	cursor: default;
	outline: 1px solid #bebebe;
}

h1:focus,
h2:focus,
h3:focus,
h4:focus,
h5:focus,
h6:focus,
p:focus,
b:focus,
i:not(.fa):not([class *=pe-7s-]):not(.material-icons):focus, 
li:focus,
a:focus,
span:focus,
th:focus,
td:focus,
.nav-mod:focus,
[class*=col-]:focus,
.app__edited {
	 outline: 1px solid #bebebe; 
}

h1.app__edited, h2.app__edited, h3.app__edited, h4.app__edited, h5.app__edited, h6.app__edited, p.app__edited, b.app__edited, i:not(.fa):not([class *=pe-7s-]):not(.material-icons).app__edited, th.app__edited, td.app__edited {
	cursor: text !important;
	outline: 1px solid #9c9c9c;
}

h1 *,
h2 *,
h3 *,
h4 *,
h5 *,
h6 *,
p *,
b *,
i:not(.fa):not(.material-icons):not([class *=pe-7s-]) *,
li:not(.flexitem) *,
span *,
th *,
td *,
.app__text {
	outline: none !important;
}

/* .app__edited:before {
	content: 'Edited';
    position: absolute;
    transform: translate(-50%, -80%);
    left: 50%;
    background: #000;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.29);
    border-radius: 5px;
    color: #fff;
    font-size: 12px;
    padding: 5px 10px;
    font-weight: 600;
    letter-spacing: .8px;
    line-height: 12px;
    text-transform: lowercase;
	
} */

br {
	content: '';
	height: 4px;
	display: block;
	width: 100%;
	transition: height .2s ease-out;
}

div:hover > br {
	height: 4px;
	background-image: url('br.png');
}

.dnd__placeholder {
	background: rgba(221, 221, 221, 0.2);
	height: 2px;
}

/* sortable helper width fix */
a.ui-sortable-helper {
	min-width: 300px;
}

.app__column-tools {
	background: #000;
	box-shadow: 0 3px 4px 0 rgba(0,0,0,0.29);
	border-radius: 15px;
	height: 30px;
	position: absolute;
	z-index: 1000;
	bottom: 10px;
	right: 25px;
	cursor: pointer;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5px 10px;
    
    -webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	        
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	        
	-ms-flex-wrap: nowrap;
	    flex-wrap: nowrap;
}

.row-fluid .app__column-tools {
	right: 10px;
}

	.app__column-tools i {
		color: #fff;
		font-size: 14px;
		cursor: pointer;
	}
	
.menu > li:hover > ul.menu__dropdown {
	display: block !important;
}	

.menu--toggle-on-click li:not(.active--always):hover > .menu__dropdown {
	display: block !important;
}

.menu > li.active--always:not(:hover) > .menu__dropdown {
    display: none;
}
	
/* Section tools 	--------------------------------------------------------- */		

.app__section-tools {
	position: absolute;
	right: 0;
	top: 0;
	min-width: 40px;
	background: #000;
	z-index: 1000;
}

	.app__section-tools i {
		color: #fff;
		cursor: pointer;
		padding: 10px;
	}
	
	.app__section-tools i:not(:hover) {
		opacity: .3;
	}	
	
	
.progress,
a[href="#video"], 
a[href="#videoreplace"],
.background-image, 
.section-tool__flexslider-image, 
.section-tool__bg-image,
img,
.countdown,
.typed {
	cursor: pointer;
}


.app__modal {
	height: 92px;
	padding: 0 0 30px 0;
	background: #f8f8f8;
	overflow: hidden;
	background-image: linear-gradient(-180deg, rgba(246,246,246,0.50) 95%, rgba(218,218,218,0.50) 100%);
}

	.app__modal .btn,
	.app__modal__overlay .fa  {
		color: #000;
		opacity: .5;
	}

	.app__modal + .app__modal {
		margin-top: 5px;
	}

	.app__modal.active {
		height: auto;
	}
	
.app__modal__overlay {
	width: 100%;
    padding: 30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 60px;
    background: #f8f8f8;
}



