	<section class="bg-color--white-2 padding-null">
		<div class="container-fluid">
			<div class="row row--fluid">
				<div class="col-md-4 col-sm-4 col-xs-12">
					<a href="#">
					</a><div class="background-image hover vh-50"><a href="#">
						<div class="bg" data-opacity="2" style="background: url('images/hi/sarah-dorweiler-105892.jpg');"></div>
						<div class="hover__animate" data-opacity="6"> </div>
						<div class="container pos-absolute pos-top">
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<div class="boxed-lg">
										<h3 class="marg-b-60 text--bold text--uppercase">– It S Hurricane Season But We Are Visiting Hilton Head Island</h3>
										<p class="hover__animate p-lg">Vacation Home Rental Success</p>
									</div>
								</div>
							</div>
						</div>
						</a><div class="container pos-absolute pos-bottom"><a href="#">
							</a><div class="row"><a href="#">
								</a><div class="col-md-12 col-sm-12 col-xs-12"><a href="#">
									</a><div class="boxed-lg hover__animate hover__animate--slide-in"><a href="#">
										</a><a href="#" class="h6">– MORE</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<a href="#">
					</a><div class="background-image hover vh-50"><a href="#">
						<div class="bg" data-opacity="2" style="background: url('images/hi/ql-qrylmd0y-seth-doyle.jpg');"></div>
						<div class="hover__animate" data-opacity="6"> </div>
						<div class="container pos-absolute pos-top">
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<div class="boxed-lg">
										<h3 class="marg-b-60 text--bold text--uppercase">– Cost Cutting Ideas For Your Wedding</h3>
										<p class="hover__animate p-lg">Airport Hotels The Right Way To Start A Short Break Holiday</p>
									</div>
								</div>
							</div>
						</div>
						</a><div class="container pos-absolute pos-bottom"><a href="#">
							</a><div class="row"><a href="#">
								</a><div class="col-md-12 col-sm-12 col-xs-12"><a href="#">
									</a><div class="boxed-lg  hover__animate hover__animate--slide-in"><a href="#">
										</a><a href="#" class="h6">– MORE</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<a href="#">
					</a><div class="background-image hover vh-50"><a href="#">
						<div class="bg" data-opacity="2" style="background: url('images/hi/roman-kraft-197672.jpg');"></div>
						<div class="hover__animate" data-opacity="6"> </div>
						<div class="container pos-absolute pos-top">
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<div class="boxed-lg">
										<h3 class="marg-b-60 text--bold text--uppercase">– Get Ready Fast For Fall Leaf Viewing Trips</h3>
										<p class="hover__animate p-lg">Global Resorts Network Grn Putting Timeshares To Shame</p>
									</div>
								</div>
							</div>
						</div>
						</a><div class="container pos-absolute pos-bottom"><a href="#">
							</a><div class="row"><a href="#">
								</a><div class="col-md-12 col-sm-12 col-xs-12"><a href="#">
									</a><div class="boxed-lg hover__animate hover__animate--slide-in"><a href="#">
										</a><a href="#" class="h6">– MORE</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>