	<section class="bg-color--white-2">
		<div class="container">
		<div class="row flex flex-wrap flex-equal">
			<div class="col-md-4 col-sm-6 col-xs-12">
				<a href="#">
				<div class="background-image hover h-3 boxed--shadow boxed--radius">
					<div class="bg" style="background: url('images/low/andre-hunter-235158 (1).jpg');"></div>
					<div class="hover__animate" data-shadow-bottom="8"></div>
					<div class="container pos-absolute pos-bottom">
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="boxed hover__animate  hover__animate--slide-in">
									<h5>First header</h5>
									<p>The Kansas City Chiefs</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				</a>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<a href="#">
				<div class="background-image hover h-3 boxed--shadow boxed--radius">
					<div class="bg" style="background: url('images/low/annie-spratt-167089.jpg');"></div>
					<div class="hover__animate" data-shadow-bottom="8"></div>
					<div class="container pos-absolute pos-bottom">
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="boxed hover__animate  hover__animate--slide-in">
									<h5>Second header</h5>
									<p>From Wetlands To Canals And Dams Amsterdam Is Alive</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				</a>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<a href="#">
				<div class="background-image hover h-3 boxed--shadow boxed--radius">
					<div class="bg" style="background: url('images/low/autumn-goodman-242825.jpg');"></div>
					<div class="hover__animate" data-shadow-bottom="8"></div>
					<div class="container pos-absolute pos-bottom">
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="boxed hover__animate  hover__animate--slide-in">
									<h5>Third header</h5>
									<p>The Kansas City Chiefs</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				</a>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<a href="#">
				<div class="background-image hover h-3 boxed--shadow boxed--radius">
					<div class="bg" style="background: url('images/low/filip-mroz-235735.jpg');"></div>
					<div class="hover__animate" data-shadow-bottom="8"></div>
					<div class="container pos-absolute pos-bottom">
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="boxed hover__animate  hover__animate--slide-in">
									<h5>Four header</h5>
									<p>The Kansas City Chiefs</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				</a>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="background-image hover h-3 boxed--shadow boxed--radius">
					<div class="bg" style="background: url('images/low/willspirit-sbln-226116.jpg');"></div>
					<div class="hover__animate" data-shadow-bottom="8"></div>
					<div class="container pos-absolute pos-bottom">
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="boxed hover__animate  hover__animate--slide-in">
									<h5>Fifth header</h5>
									<p>From Wetlands To Canals And Dams Amsterdam Is Alive</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<a href="#">
				<div class="background-image hover h-3 boxed--shadow boxed--radius">
					<div class="bg" style="background: url('images/low/william-stitt-111010.jpg');"></div>
					<div class="hover__animate" data-shadow-bottom="8"></div>
					<div class="container pos-absolute pos-bottom">
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="boxed hover__animate  hover__animate--slide-in">
									<h5>Last header</h5>
									<p>From Wetlands To Canals And Dams Amsterdam Is Alive</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				</a>
			</div>
		</div>
		<div class="container">
			<div class="row marg-t-30">
				<div class="col-md-2 col-sm-2 col-xs-2 pagination__controls pagination__controls--disabled">
					<i class="material-icons"></i>
					<b class="hidden-xs">Previous</b>
				</div>	
				<div class="col-md-8 col-sm-8 col-xs-8 text-center">
					<ul class="pagination">
						<li class="pagination__page--active"><span>1</span></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
					</ul>
				</div>
				<a href="#">
				<div class="col-md-2 col-sm-2 col-xs-2 pagination__controls text-right">
					<b class="hidden-xs">Next</b>
					<i class="material-icons"></i>
				</div>	
				</a>
			</div>
		</div>
		</div>
	</section>