	<section class="bg-color--white-2 padding-null">
		<div class="container-fluid">
			<div class="row row--fluid">
				<div class="col-md-4 col-sm-4 col-xs-12">
					<a href="#">
					<div class="background-image hover vh-25">
						<div class="bg" style="background: url('images/hi/autumn-goodman-242810.jpg');"></div>
						<div class="hover__animate" data-shadow-bottom="8"></div>
						<div class="container pos-vertical-center text-center hover__animate hover__animate--slide-in">
							<h6>First header</h6>
						</div>
					</div>
					</a>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<a href="#">
					<div class="background-image hover vh-25">
						<div class="bg" style="background: url('images/hi/caitlyn-wilson-230614.jpg');"></div>
						<div class="hover__animate" data-shadow-bottom="8"></div>
						<div class="container pos-vertical-center text-center hover__animate hover__animate--slide-in">
							<h6>Second header</h6>
						</div>
					</div>
					</a>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<a href="#">
					<div class="background-image hover vh-25">
						<div class="bg" style="background: url('images/hi/paulette-wooten-223048.jpg');"></div>
						<div class="hover__animate" data-shadow-bottom="8"></div>
						<div class="container pos-vertical-center text-center hover__animate hover__animate--slide-in">
							<h6>Last header</h6>
						</div>
					</div>
					</a>
				</div>
			</div>
		</div>
	</section>