	<section class="bg-color--white-2">
		<div class="container">
			<div class="row marg-t-60">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<h1 class="h2">Portfolio</h1>
									<p>Family Safari Vacation To The Home Of The Gods</p>
								</div>
								<div class="col-md-12 col-sm-12 col-xs-12 marg-t-60 marg-b-30">
									<h6>CATEGORY</h6>
									<ul class="ul--list">
										<li><a href="#">Photography</a></li>
										<li><a href="#">Company</a></li>
										<li><a href="#">Studio</a></li>
										<li><a href="#">Products</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-8 col-sm-8 col-xs-12">
							<div class="row flex flex-wrap flex-equal">
								<div class="col-md-12 col-sm-12 col-xs-12 marg-b-30">
									<div class="card-horizontal boxed--radius-sm boxed--shadow bg-color--white">
										<div class="col-md-8 col-md-offset-4 col-sm-6 col-sm-offset-6 col-xs-12 background-image">
											<div class="bg" style="background: url('images/low/autumn-goodman-242810.jpg');"></div>
										</div>
										<div class="col-md-4 col-sm-6 col-xs-12 boxed h-3">
											<h5>Header</h5>
											<p>The Kansas City Chiefs</p>
										</div>
									</div>
								</div>
								<div class="col-md-12 col-sm-12 col-xs-12 marg-b-30">
									<div class="card-horizontal boxed--radius-sm boxed--shadow bg-color--white">
										<div class="col-md-8 col-md-offset-4 col-sm-6 col-sm-offset-6 col-xs-12 background-image">
											<div class="bg" style="background: url('images/low/henri-meilhac-155942.jpg');"></div>
										</div>
										<div class="col-md-4 col-sm-6 col-xs-12 boxed h-3">
											<h5>Second header</h5>
											<p>From Wetlands To Canals And Dams Amsterdam Is Alive</p>
										</div>
									</div>
								</div>
								<div class="col-md-12 col-sm-12 col-xs-12 marg-b-30">
									<div class="card-horizontal boxed--radius-sm boxed--shadow bg-color--white">
										<div class="col-md-8 col-md-offset-4 col-sm-6 col-sm-offset-6 col-xs-12 background-image">
											<div class="bg" style="background: url('images/low/marvin-meyer-242794.jpg');"></div>
										</div>
										<div class="col-md-4 col-sm-6 col-xs-12 boxed h-3">
											<h5>Third header</h5>
											<p>The Kansas City Chiefs</p>
										</div>
									</div>
								</div>
							</div>
							<div class="row marg-t-30">
								<div class="col-md-2 col-sm-2 col-xs-2 pagination__controls pagination__controls--disabled">
									<i class="material-icons"></i>
									<b class="hidden-xs">Previous</b>
								</div>	
								<div class="col-md-8 col-sm-8 col-xs-8 text-center">
									<ul class="pagination">
										<li class="pagination__page--active"><span>1</span></li>
										<li><a href="#">2</a></li>
										<li><a href="#">3</a></li>
										<li><a href="#">4</a></li>
									</ul>
								</div>
								<a href="#">
								<div class="col-md-2 col-sm-2 col-xs-2 pagination__controls text-right">
									<b class="hidden-xs">Next</b>
									<i class="material-icons"></i>
								</div>	
								</a>
							</div>			
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>