	<section class="bg-color--white-2">
		<div class="container">
			<div class="row marg-t-60">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<h1 class="h2">Portfolio</h1>
									<p>Family Safari Vacation To The Home Of The Gods</p>
								</div>
								<div class="col-md-12 col-sm-12 col-xs-12 marg-t-60 marg-b-30">
									<h6>CATEGORY</h6>
									<ul class="ul--list">
										<li><a href="#">Photography</a></li>
										<li><a href="#">Company</a></li>
										<li><a href="#">Studio</a></li>
										<li><a href="#">Products</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-8 col-sm-8 col-xs-12">
							<div class="row flex flex-wrap flex-equal">
								<div class="col-md-6 col-sm-12 col-xs-12 marg-b-30">
										<a href="#">
										<div class="background-image h-2">
											<div class="bg" style="background: url('images/low/ir6yzbje9qa-breather.jpg');"></div>
										</div>
										<h5>First header</h5>
										<p>The Kansas City Chiefs</p>
										</a>
								</div>
								<div class="col-md-6 col-sm-12 col-xs-12 marg-b-30">
										<a href="#">
										<div class="background-image h-2">
											<div class="bg" style="background: url('images/low/jaz-king-221367.jpg');"></div>
										</div>
										<h5>Second header</h5>
										<p>From Wetlands To Canals And Dams Amsterdam Is Alive</p>
										</a>
								</div>
								<div class="col-md-6 col-sm-12 col-xs-12 marg-b-30">
										<a href="#">
										<div class="background-image h-2">
											<div class="bg" style="background: url('images/low/kari-shea-226157.jpg');"></div>
										</div>
										<h5>Third header</h5>
										<p>The Kansas City Chiefs</p>
										</a>
								</div>
								<div class="col-md-6 col-sm-12 col-xs-12 marg-b-30">
										<a href="#">
										<div class="background-image h-2">
											<div class="bg" style="background: url('images/low/lhtqjazuprq-breather.jpg');"></div>
										</div>
										<h5>Four header</h5>
										<p>From Wetlands To Canals And Dams Amsterdam Is Alive</p>
										</a>
								</div>
								<div class="col-md-6 col-sm-12 col-xs-12 marg-b-30">
										<a href="#">
										<div class="background-image h-2">
											<div class="bg" style="background: url('images/low/sarah-dorweiler-105892.jpg');"></div>
										</div>
										<h5>Fifth header</h5>
										<p>From Wetlands To Canals And Dams Amsterdam Is Alive</p>
										</a>
								</div>
								<div class="col-md-6 col-sm-12 col-xs-12 marg-b-30">
										<a href="#">
										<div class="background-image h-2">
											<div class="bg" style="background: url('images/low/rju_xd3tgyc-breather.jpg');"></div>
										</div>
										<h5>Last header</h5>
										<p>From Wetlands To Canals And Dams Amsterdam Is Alive</p>
										</a>
								</div>
							</div>
							<div class="row marg-t-30">
								<div class="col-md-2 col-sm-2 col-xs-2 pagination__controls pagination__controls--disabled">
									<i class="material-icons"></i>
									<b class="hidden-xs">Previous</b>
								</div>	
								<div class="col-md-8 col-sm-8 col-xs-8 text-center">
									<ul class="pagination">
										<li class="pagination__page--active"><span>1</span></li>
										<li><a href="#">2</a></li>
										<li><a href="#">3</a></li>
										<li><a href="#">4</a></li>
									</ul>
								</div>
								<a href="#">
								<div class="col-md-2 col-sm-2 col-xs-2 pagination__controls text-right">
									<b class="hidden-xs">Next</b>
									<i class="material-icons"></i>
								</div>	
								</a>
							</div>			
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>