	<section class="bg-color--gray">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="card-horizontal boxed--shadow">
						<div class="col-md-6 col-sm-4 col-xs-12 background-image">
							<div class="bg" style="background: url('images/hi/bwdrpdr-ahu-allef-vinicius.jpg');"></div>
							<div class="container pos-vertical-center text-center">
								<a href="#" class="material-icons">play_circle_outline</a>
							</div>
						</div>
						<div class="col-md-6 col-md-offset-6 col-sm-8 col-sm-offset-4 col-xs-12 boxed-lg  bg-color--main">
							<h2>Party Jokes Startling But Unnecessary</h2>
							<p>A round-the-world trip remains the world’s greatest journey. For two out of every three people, this is the ultimate travel experience, according to recent research. Needless to say, in a world obsessed by travel, travelers and travel agents are both looking for the cheapest tickets and airfares available.</p>
							<a href="#">See now</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<a href="#">
					</a><div class="background-image hover h-5 boxed--shadow"><a href="#">
						<div class="bg" style="background: url('images/hi/o9vkzmu05l0-cole-hutson.jpg');"></div>
						<div class="hover__animate" data-shadow-bottom="9"></div>
						</a><div class="container pos-vertical-center text-center"><a href="#">
							</a><a href="#" class="material-icons">play_circle_outline</a>
						</div>
						<div class="container pos-absolute pos-bottom">
							<div class="row">
								<div class="col-md-9 col-sm-9 col-xs-9 hover__animate hover__animate--slide-in">
									<div class="boxed">
										<h5>Party Jokes Startling But Unnecessary</h5>
										<p>Bryce Canyon A Stunning Us Travel Destination</p>
									</div>
								</div>
								<div class="col-md-3 col-sm-3 col-xs-3 hover__animate hover__animate--slide-in">
									<div class="boxed">
										<b>10:05</b>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<a href="#">
					</a><div class="background-image hover h-5 boxed--shadow"><a href="#">
						<div class="bg" style="background: url('images/hi/xgt3iqdiiju-elijah-henderson.jpg');"></div>
						<div class="hover__animate" data-shadow-bottom="9"></div>
						</a><div class="container pos-vertical-center text-center"><a href="#">
							</a><a href="#" class="material-icons">play_circle_outline</a>
						</div>
						<div class="container pos-absolute pos-bottom">
							<div class="row">
								<div class="col-md-9 col-sm-9 col-xs-9 hover__animate hover__animate--slide-in">
									<div class="boxed">
										<h5>Party Jokes Startling But Unnecessary</h5>
										<p>Bryce Canyon A Stunning Us Travel Destination</p>
									</div>
								</div>
								<div class="col-md-3 col-sm-3 col-xs-3 hover__animate hover__animate--slide-in">
									<div class="boxed">
										<b>10:05</b>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</section>