	<section class="bg-color--white-2">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-sm-8 col-xs-8">
					<h4>Popular countries</h4>
					<i class="material-icons swipeleft pointer" style="display: none;"></i> <i class="material-icons swiperight pointer" style="display: none;"></i>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 text-right">
					<a href="#">See all</a>
				</div>
			</div>
		</div>
		<div class="container container--swipe">
			<div class="row">
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
					<div class="boxed--radius-sm boxed--shadow bg-color--white marg-b-30">
						<div class="background-image h-1">
							<div class="bg" style="background: url('images/low/annie-spratt-216506.jpg');"></div>
						</div>
					</div>
					<b>India</b>
					<p class="p-xs">100$ – 300$</p>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
					<div class="boxed--radius-sm boxed--shadow bg-color--white marg-b-30">
						<div class="background-image h-1">
							<div class="bg" style="background: url('images/low/max-kramer-216296.jpg');"></div>
						</div>
					</div>
					<b>France</b>
					<p class="p-xs">120$ – 450$</p>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
					<div class="boxed--radius-sm boxed--shadow bg-color--white marg-b-30">
						<div class="background-image h-1">
							<div class="bg" style="background: url('images/low/oqtl_mhd2ik-patrick-baum.jpg');"></div>
						</div>
					</div>
					<b>Egypt</b>
					<p class="p-xs">210$ – 500$</p>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
					<div class="boxed--radius-sm boxed--shadow bg-color--white marg-b-30">
						<div class="background-image h-1">
							<div class="bg" style="background: url('images/low/jat2agxaneg-yuriy-kovalev.jpg');"></div>
						</div>
					</div>
					<b>Italy</b>
					<p class="p-xs">120$ – 300$</p>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
					<div class="boxed--radius-sm boxed--shadow bg-color--white marg-b-30">
						<div class="background-image h-1">
							<div class="bg" style="background: url('images/low/o9vkzmu05l0-cole-hutson.jpg');"></div>
						</div>
					</div>
					<b>Spain</b>
					<p class="p-xs">1200$ – 5000$</p>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
					<div class="boxed--radius-sm boxed--shadow bg-color--white marg-b-30">
						<div class="background-image h-1">
							<div class="bg" style="background: url('images/low/StockSnap_K9Y044YEMY.jpg');"></div>
						</div>
					</div>
					<b>Greece</b>
					<p class="p-xs">160$ – 280$</p>
				</div>
			</div>
		</div>
	</section>