	<section class="bg-color--white-2">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-sm-8 col-xs-8">
					<h3>Seasonal offers</h3>
					<i class="material-icons swipeleft pointer" style="display: none;"></i> <i class="material-icons swiperight pointer" style="display: none;"></i>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-4 text-right">
					<a href="#">See all</a>
				</div>
			</div>
		</div>
		<div class="container container--swipe">
			<div class="row">
				<div class="col-lg-4 col-md-5 col-sm-4 col-xs-12">
					<div class="boxed--radius-sm boxed--shadow bg-color--white">
						<div class="background-image vh-25">
							<div class="bg" style="background: url('images/low/b4dffp4ja3q-tyson-dudley.jpg');"></div>
						</div>
						<div class="boxed">
							<h5>Chamonix <small>France</small></h5>
							<p>From Wetlands To Canals And Dams Amsterdam Is Alive</p>
							<hr>
							<div class="row">
								<div class="col-md-4 col-sm-4 col-xs-4">
									<b class="text--opacity-5">Nights</b><br>
									<b>4</b><br>
								</div>
								<div class="col-md-4 col-sm-4 col-xs-4">
									<b class="text--opacity-5">Departure</b><br>
									<b>20 Feb</b><br>
								</div>
								<div class="col-md-4 col-sm-4 col-xs-4">
									<b class="text--opacity-5">Cost</b><br>
									<b>100$</b><br>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-5 col-sm-4 col-xs-12">
					<div class="boxed--radius-sm boxed--shadow bg-color--white">
						<div class="background-image vh-25">
							<div class="bg" style="background: url('images/low/17oxkythypo-arnaud-mesureur.jpg');"></div>
						</div>
						<div class="boxed">
							<h5>Bali <small>India</small></h5>
							<p>From Wetlands To Canals And Dams Amsterdam Is Alive</p>
							<hr>
							<div class="row">
								<div class="col-md-4 col-sm-4 col-xs-4">
									<b class="text--opacity-5">Nights</b><br>
									<b>4</b><br>
								</div>
								<div class="col-md-4 col-sm-4 col-xs-4">
									<b class="text--opacity-5">Departure</b><br>
									<b>20 Feb</b><br>
								</div>
								<div class="col-md-4 col-sm-4 col-xs-4">
									<b class="text--opacity-5">Cost</b><br>
									<b>100$</b><br>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-5 col-sm-4 col-xs-12">
					<div class="boxed--radius-sm boxed--shadow bg-color--white">
						<div class="background-image vh-25">
							<div class="bg" style="background: url('images/low/aapsemzfsok-alexandre-chambon.jpg');"></div>
						</div>
						<div class="boxed">
							<h5>Crete <small>Greece</small></h5>
							<p>From Wetlands To Canals And Dams Amsterdam Is Alive</p>
							<hr>
							<div class="row">
								<div class="col-md-4 col-sm-4 col-xs-4">
									<b class="text--opacity-5">Nights</b><br>
									<b>4</b><br>
								</div>
								<div class="col-md-4 col-sm-4 col-xs-4">
									<b class="text--opacity-5">Departure</b><br>
									<b>20 Feb</b><br>
								</div>
								<div class="col-md-4 col-sm-4 col-xs-4">
									<b class="text--opacity-5">Cost</b><br>
									<b>100$</b><br>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>