	<section style="display: none;">
		<div class="modal" data-modal="modalid">
			<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
				<div class="card-horizontal boxed--radius-sm boxed--shadow bg-color--white">
					<div class="col-md-6 col-sm-4 col-xs-12 background-image">
						<div class="bg" style="background: url('images/hi/joshua-earle-234343.jpg');"></div>
					</div>
					<div class="col-md-6 col-md-offset-6 col-sm-8 col-sm-offset-4 col-xs-12 boxed">
						<form>
								<div class="row">
									<div class="col-md-12 col-sm-12 col-xs-12">
										<h3>Feedback</h3>
										<p class="p-xs--compact">Here, I focus on a range of items and features that we use in life without giving them a second thought such as Coca Cola, body muscles and holding ones own breath. </p>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6 col-sm-6 col-xs-12">
										<input type="text" placeholder="Name" name="name">
									</div>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<input type="tel" placeholder="Phone" name="phone">
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12">
										<input type="email" placeholder="Email *" name="email" class="valid" data-alert="Please write your e-mail">
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12">
										<textarea placeholder="Comment" name="comment"></textarea>
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12">
										<input type="submit" class="btn btn--default btn--stretched-xs" data-mailto="" value="Send">
									</div>
								</div>
							</form>
					</div>
				</div>
			</div>
		</div>
	</section>