	<section style="display: none;">
		<div class="modal" data-modal="onload" data-auto="500">
			<div class="col-md-6 col-md-offset-3">	
					<div class="background-image background--light h-4 boxed--radius-sm">
						<div class="bg" style="background: url('images/items/kitCard2.png');"></div>
						<div class="container-fluid pos-absolute pos-top">
							<div class="row">
								<div class="col-md-9 col-sm-9 col-xs-9 padding-null">
									<div class="boxed">
										<h1 class="text--bold text--uppercase h2">SALE 50%</h1>	
										<p>5 Reasons To Purchase Desktop Computers</p>
										<a href="#" class="btn btn--default btn-md">More</a>			
									</div>
								</div>
								<div class="col-md-3 col-sm-3 col-xs-3 padding-null text-right">
									<div class="boxed">
										<i class="material-icons ico-xs ico--radial ico--radial--fill-light .boxed--shadow-xs arcticmodal-close right">clear</i>	
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</section>