	<section class="bg-color--gray-2 padding-null">
		<div class="container-fluid">
			<div class="row row--fluid gallery">
				<a href="#image">
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="background-image hover h-3">
						<div class="bg" style="background: url('images/hi/allef-vinicius-227743.jpg');"></div>
						<div class="hover__animate" data-shadow-bottom="6"></div>
						<div class="container pos-absolute pos-bottom">
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<div class="boxed">
										<h5 class="hover__animate marg-null">First header</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				</a>
				<a href="#image">
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="background-image hover h-3">
						<div class="bg" style="background: url('images/hi/annie-liao-221718.jpg');"></div>
						<div class="hover__animate" data-shadow-bottom="6"></div>
						<div class="container pos-absolute pos-bottom">
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<div class="boxed">
										<h5 class="hover__animate marg-null">First header</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				</a>
				<a href="#image">
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="background-image hover h-3">
						<div class="bg" style="background: url('images/hi/ndwjflxfsn4-billy-chester.jpg');"></div>
						<div class="hover__animate" data-shadow-bottom="6"></div>
						<div class="container pos-absolute pos-bottom">
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<div class="boxed">
										<h5 class="hover__animate marg-null">First header</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				</a>
				<a href="#image">
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="background-image hover h-3">
						<div class="bg" style="background: url('images/hi/ql-qrylmd0y-seth-doyle.jpg');"></div>
						<div class="hover__animate" data-shadow-bottom="6"></div>
						<div class="container pos-absolute pos-bottom">
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<div class="boxed">
										<h5 class="hover__animate marg-null">First header</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				</a>
				<a href="#image">
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="background-image hover h-3">
						<div class="bg" style="background: url('images/hi/nnjzglwhjho-atikh-bana.jpg');"></div>
						<div class="hover__animate" data-shadow-bottom="6"></div>
						<div class="container pos-absolute pos-bottom">
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<div class="boxed">
										<h5 class="hover__animate marg-null">First header</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				</a>
				<a href="#image">
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="background-image hover h-3">
						<div class="bg" style="background: url('images/hi/joao-silas-226185.jpg');"></div>
						<div class="hover__animate" data-shadow-bottom="6"></div>
						<div class="container pos-absolute pos-bottom">
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<div class="boxed">
										<h5 class="hover__animate marg-null">First header</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				</a>
			</div>
		</div>
	</section>