	<section class="bg-color--white-2 padding-null">
		<div class="container-fluid container--swipe container--swipe--visiblearea">
		<div class="row row--fluid">
			<div class="col-md-4 col-sm-6 col-xs-12">
				<a href="#">
				<div class="background-image hover vh-70 boxed--shadow boxed--radius">
					<div class="bg" style="background: url('images/hi/andre-hunter-235158 (1).jpg');"></div>
					<div class="hover__animate" data-opacity="8"></div>
					<div class="container pos-vertical-center">
						<div class="row text-center">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="boxed hover__animate  hover__animate--slide-in">
									<h5>First header</h5>
									<p>The Kansas City Chiefs</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				</a>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<a href="#">
				<div class="background-image hover vh-70 boxed--shadow boxed--radius">
					<div class="bg" style="background: url('images/hi/annie-spratt-167089.jpg');"></div>
					<div class="hover__animate" data-opacity="8"></div>
					<div class="container pos-vertical-center">
						<div class="row text-center">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="boxed hover__animate  hover__animate--slide-in">
									<h5>Second header</h5>
									<p>From Wetlands To Canals And Dams Amsterdam Is Alive</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				</a>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<a href="#">
				<div class="background-image hover vh-70 boxed--shadow boxed--radius">
					<div class="bg" style="background: url('images/hi/autumn-goodman-242825.jpg');"></div>
					<div class="hover__animate" data-opacity="8"></div>
					<div class="container pos-vertical-center">
						<div class="row text-center">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="boxed hover__animate  hover__animate--slide-in">
									<h5>Third header</h5>
									<p>The Kansas City Chiefs</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				</a>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<a href="#">
				<div class="background-image hover vh-70 boxed--shadow boxed--radius">
					<div class="bg" style="background: url('images/hi/filip-mroz-235735.jpg');"></div>
					<div class="hover__animate" data-opacity="8"></div>
					<div class="container pos-vertical-center">
						<div class="row text-center">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="boxed hover__animate  hover__animate--slide-in">
									<h5>Four header</h5>
									<p>The Kansas City Chiefs</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				</a>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="background-image hover vh-70 boxed--shadow boxed--radius">
					<div class="bg" style="background: url('images/hi/willspirit-sbln-226116.jpg');"></div>
					<div class="hover__animate" data-opacity="8"></div>
					<div class="container pos-vertical-center">
						<div class="row text-center">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="boxed hover__animate  hover__animate--slide-in">
									<h5>Fifth header</h5>
									<p>From Wetlands To Canals And Dams Amsterdam Is Alive</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<a href="#">
				<div class="background-image hover vh-70 boxed--shadow boxed--radius">
					<div class="bg" style="background: url('images/hi/william-stitt-111010.jpg');"></div>
					<div class="hover__animate" data-opacity="8"></div>
					<div class="container pos-vertical-center">
						<div class="row text-center">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="boxed hover__animate  hover__animate--slide-in">
									<h5>Last header</h5>
									<p>From Wetlands To Canals And Dams Amsterdam Is Alive</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				</a>
			</div>
		</div>
		<div class="container">
			<div class="row marg-t-30 marg-b-60">
				<div class="col-md-12 col-sm-12 col-xs-12 text-center">
					<i class="material-icons swipeleft pointer"></i> <i class="material-icons swiperight pointer"></i>
				</div>
			</div>
		</div>
		</div>
	</section>