	<section class="bg-color--gray">
		<div class="container">
			<div class="row gallery">
				<a href="#image">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="background-image hover h-3">
						<div class="bg" style="background: url('images/hi/4edbe81usy0-roya-ann-miller.jpg');"></div>
						<div class="hover__animate" data-shadow-bottom="6"></div>
						<div class="container pos-absolute pos-bottom">
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<div class="boxed">
										<h5 class="hover__animate marg-null">First header</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				</a>
				<a href="#image">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="background-image hover h-3">
						<div class="bg" style="background: url('images/hi/71goktqo_hs-william-recinos.jpg');"></div>
						<div class="hover__animate" data-shadow-bottom="6"></div>
						<div class="container pos-absolute pos-bottom">
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<div class="boxed">
										<h5 class="hover__animate marg-null">First header</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				</a>
				<a href="#image">
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="background-image hover h-3">
						<div class="bg" style="background: url('images/hi/xi9d8yslno4-rawpixel-com.jpg');"></div>
						<div class="hover__animate" data-shadow-bottom="6"></div>
						<div class="container pos-absolute pos-bottom">
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<div class="boxed">
										<h5 class="hover__animate marg-null">First header</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				</a>
				<a href="#image">
				<div class="col-md-8 col-sm-8 col-xs-12">
					<div class="background-image hover h-3">
						<div class="bg" style="background: url('images/hi/weyamle9fdm-ashim-d-silva.jpg');"></div>
						<div class="hover__animate" data-shadow-bottom="6"></div>
						<div class="container pos-absolute pos-bottom">
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<div class="boxed">
										<h5 class="hover__animate marg-null">First header</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				</a>
				<a href="#image">
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="background-image hover h-3">
						<div class="bg" style="background: url('images/hi/StockSnap_ESWYC8C34O.jpg');"></div>
						<div class="hover__animate" data-shadow-bottom="6"></div>
						<div class="container pos-absolute pos-bottom">
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<div class="boxed">
										<h5 class="hover__animate marg-null">First header</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				</a>
				<a href="#image">
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="background-image hover h-3">
						<div class="bg" style="background: url('images/hi/StockSnap_K9Y044YEMY.jpg');"></div>
						<div class="hover__animate" data-shadow-bottom="6"></div>
						<div class="container pos-absolute pos-bottom">
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<div class="boxed">
										<h5 class="hover__animate marg-null">First header</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				</a>
				<a href="#image">
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="background-image hover h-3">
						<div class="bg" style="background: url('images/hi/oipwvziap0o-jakob-owens.jpg');"></div>
						<div class="hover__animate" data-shadow-bottom="6"></div>
						<div class="container pos-absolute pos-bottom">
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<div class="boxed">
										<h5 class="hover__animate marg-null">First header</h5>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				</a>
			</div>
		</div>
		<div class="container marg-t-120">
			<div class="row">
				<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 text-center">
					<a href="index.html"><img alt="" src="images/logo--white.png" height="22"></a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 text-center">
					<p class="p-xs">LCD screens are uniquely modern in style, and the liquid crystals that make them work have allowed humanity to create slimmer, more portable technology than we’ve ever had access to before. </p>
					<p class="p-xs text--opacity-3">Copyright © 2016 Blox All rights reserved.</p>
					<a href="#" class="fa fa-facebook" aria-hidden="true"></a>
					<a href="#" class="fa fa-twitter" aria-hidden="true"></a>
					<a href="#" class="fa fa-google-plus" aria-hidden="true"></a>	
				</div>
			</div>
		</div>
	</section>