	<section>
		<div class="container">
			<div class="row grid gallery" style="position: relative; height: 1369px;">
				<a href="#image">
				<div class="col-md-4 col-sm-4 col-xs-6 grid-item grid-sizer" style="position: absolute; left: 0%; top: 0px;">
					<img data-src="images/hi/andrew-neel-218073.jpg" src="images/low/andrew-neel-218073.jpg" alt="">
				</div>
				</a>
				<a href="#image">
				<div class="col-md-4 col-sm-4 col-xs-6 grid-item" style="position: absolute; left: 33.3333%; top: 0px;">
					<img data-src="images/hi/bonjbu19iiy-brooke-cagle.jpg" src="images/low/bonjbu19iiy-brooke-cagle.jpg" alt="">
				</div>
				</a>
				<a href="#image">
				<div class="col-md-4 col-sm-4 col-xs-6 grid-item" style="position: absolute; left: 66.6667%; top: 0px;">
					<img data-src="images/hi/brooke-cagle-193472.jpg" src="images/low/brooke-cagle-193472.jpg" alt="">
				</div>
				</a>
				<a href="#image">
				<div class="col-md-4 col-sm-4 col-xs-6 grid-item" style="position: absolute; left: 33.3333%; top: 270px;">
					<img data-src="images/hi/fgajaiwsu60-sandro-georgi.jpg" src="images/low/fgajaiwsu60-sandro-georgi.jpg" alt="">
				</div>
				</a>
				<a href="#image">
				<div class="col-md-4 col-sm-4 col-xs-6 grid-item" style="position: absolute; left: 0%; top: 570px;">
					<img data-src="images/hi/corinne-kutz-211251.jpg" src="images/low/corinne-kutz-211251.jpg" alt="">
				</div>
				</a>
				<a href="#image">
				<div class="col-md-4 col-sm-4 col-xs-6 grid-item" style="position: absolute; left: 66.6667%; top: 570px;">
					<img data-src="images/hi/cpudivqtrjg-breather.jpg" src="images/low/cpudivqtrjg-breather.jpg" alt="">
				</div>
				</a>
				<a href="#image">
				<div class="col-md-4 col-sm-4 col-xs-6 grid-item" style="position: absolute; left: 0%; top: 840px;">
					<img data-src="images/hi/sarah-dorweiler-105892.jpg" src="images/low/sarah-dorweiler-105892.jpg" alt="">
				</div>
				</a>
				<a href="#image">
				<div class="col-md-4 col-sm-4 col-xs-6 grid-item" style="position: absolute; left: 33.3333%; top: 840px;">
					<img data-src="images/hi/michael-browning-227688.jpg" src="images/low/michael-browning-227688.jpg" alt="">
				</div>
				</a>
				</div>
			</div>
		
		<div class="container marg-t-120">
			<div class="row">
				<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 text-center">
					<a href="index.html"><img alt="" src="images/logo--black.png" height="22"></a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 text-center">
					<p class="p-xs">LCD screens are uniquely modern in style, and the liquid crystals that make them work have allowed humanity to create slimmer, more portable technology than we’ve ever had access to before. </p>
					<p class="p-xs text--opacity-5">Copyright © 2016 Blox All rights reserved.</p>
					<a href="#" class="fa fa-facebook" aria-hidden="true"></a>
					<a href="#" class="fa fa-twitter" aria-hidden="true"></a>
					<a href="#" class="fa fa-google-plus" aria-hidden="true"></a>	
				</div>
			</div>
		</div>
	</section>