	<header class="h-4 background-image" data-opacity="6">
		<div class="bg" style="background: url('images/hi/andre-hunter-235158 (1).jpg');"></div>
		<div class="container pos-vertical-center">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12">
					<h1 class="h3">Get Around Easily With A New York Limousine Service</h1>
				</div>
			</div>
		</div>
	</header>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-12">
					<div class="bg bg--circle bg--circle-xs" style="background: url('images/people/fn_bt9fwg_e-joe-gardner.jpg');"></div><br>
					<b>Eunice Swanson</b><br>
					<i>«East Maui helicopter tours will give you a view of the ten thousand foot volcano, Haleakala or House of the sun. »</i>
					<div class="row marg-t-60">
						<div class="col-md-12 col-sm-12 col-xs-12 marg-b-30">
							<b>Company</b>
							<p class="p-xs">CompanyName</p>	
						</div>
						<div class="col-md-12 col-sm-12 col-xs-12 marg-b-30">
							<b>Website</b><br>
							<a href="#">www.website.com</a>	
						</div>
					</div>
				</div>
				<div class="col-md-8 col-md-offset-1 col-sm-8 col-sm-offset-1 col-xs-12">
					<p class="p-lg">Maui helicopter tours are a great way to see the island from a different perspective and have a fun adventure. If you have never been on a helicopter before, this is a great place to do it. You will see all the beauty that Maui has to offer and can have a great time for the entire family. </p>
					<div class="row row--fluid-xs marg-t-30">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="flexslider" data-pause="true">
								<ul class="slides">
									<li class="flexitem" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
										<div class="bg h-4" style="background: url('images/hi/autumn-goodman-242810.jpg');"></div>
									</li>
									<li class="flexitem flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;">
										<div class="bg h-4" style="background: url('images/hi/autumn-goodman-242816.jpg');"></div>
									</li>
								</ul>
								<div class="custom-navigation">
									<div class="custom-controls-container">
										<i class="material-icons ico--radial prev">arrow_back</i>
										<i class="material-icons ico--radial next">arrow_forward</i>
									</div>
								</div>
							</div>
						</div>
					</div>
					<i>Get Ready Fast For Fall Leaf Viewing Trips</i>
					<h5>Get Ready Fast For Fall Leaf Viewing Trips</h5>
					<p class="p-lg">This volcano is dormant and last erupted in 1790. You will be able to see the crater of the volcano and the dry, arid earth surrounding the south side of the volcano’s slop with Maui helicopter tours. The view of this is truly breathtaking and is a sight not to be missed. It is also highly educational with a chance to see a dormant volcano up close, something that can not be seen every day. On the northern and southern sides of the volcano, you will see an incredible different view however. These sides are lush and green and you will be able to see some beautiful waterfalls and gorgeous brush. Tropical rainforests abound on this side of the island and it is something that is not easily accessible by any other means than by air. Maui helicopter tours will allow you to see all of these sights. Make sure to take a camera or video with you when going on Maui helicopter tours to capture the beauty of the scenery and to show friends and family at home all the wonderful things you saw while on vacation.</p>
				</div>	
			</div>
		</div>
	</section>