	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-5 col-xs-12">
						<h1 class="h2">Project name</h1>
						<p>Coventry is a city with a thousand years of history that has plenty to offer the visiting tourist. Located in the heart of Warwickshire, which is well-known as Shakespeare’s county, there are easy transport links to historic Warwick, Rugby and Stratford-upon-Avon. Additionally, there are many things to see and do in and around Coventry itself.</p>
						<div class="bg bg--circle bg--circle-xs" style="background: url('images/people/fn_bt9fwg_e-joe-gardner.jpg');"></div><br>
						<b>Eunice Swanson</b><br>
						<i>«East Maui helicopter tours will give you a view of the ten thousand foot volcano, Haleakala or House of the sun. »</i>
						<div class="row marg-t-60">
							<div class="col-md-12 col-sm-12 col-xs-12 marg-b-30">
								<b>Company</b>
								<p class="p-xs">CompanyName</p>	
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12 marg-b-30">
								<b>Website</b><br>
								<a href="#">www.website.com</a>	
							</div>
						</div>
				</div>	
				<div class="col-md-7 col-md-offset-1 col-sm-7 col-xs-12">
					<div class="row row--fluid-xs">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="flexslider" data-pause="true">
								<ul class="slides">
									<li class="flexitem flex-active-slide">
										<div class="bg h-4" style="background: url('images/hi/annie-spratt-167089.jpg');"></div>
									</li>
									<li class="flexitem">
										<div class="bg h-4" style="background: url('images/hi/autumn-goodman-242825.jpg');"></div>
									</li>
								</ul>
								<div class="custom-navigation">
									<div class="custom-controls-container">
										<i class="material-icons ico--radial ico--radial--fill-light prev">arrow_back</i>
										<i class="material-icons ico--radial ico--radial--fill-light next">arrow_forward</i>
									</div>
								</div>
							</div>
						</div>
					</div>
					<i>Get Ready Fast For Fall Leaf Viewing Trips</i>
					<h5>Get Ready Fast For Fall Leaf Viewing Trips</h5>
					<p class="p-lg">This volcano is dormant and last erupted in 1790. You will be able to see the crater of the volcano and the dry, arid earth surrounding the south side of the volcano’s slop with Maui helicopter tours. The view of this is truly breathtaking and is a sight not to be missed. It is also highly educational with a chance to see a dormant volcano up close, something that can not be seen every day. On the northern and southern sides of the volcano, you will see an incredible different view however. These sides are lush and green and you will be able to see some beautiful waterfalls and gorgeous brush. Tropical rainforests abound on this side of the island and it is something that is not easily accessible by any other means than by air. Maui helicopter tours will allow you to see all of these sights. Make sure to take a camera or video with you when going on Maui helicopter tours to capture the beauty of the scenery and to show friends and family at home all the wonderful things you saw while on vacation.</p>
				</div>
			</div>
		</div>
	</section>