	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-7 col-sm-7 col-xs-12">
					<div class="row row--fluid-xs">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="flexslider" data-pause="true">
								<ul class="slides">
									<li class="flexitem">
										<div class="bg h-4" style="background: url('images/hi/autumn-goodman-242810.jpg');"></div>
									</li>
									<li class="flexitem flex-active-slide">
										<div class="bg h-4" style="background: url('images/hi/autumn-goodman-242816.jpg');"></div>
									</li>
								</ul>
								<div class="custom-navigation">
									<div class="custom-controls-container">
										<i class="material-icons ico--radial prev">arrow_back</i>
										<i class="material-icons ico--radial next">arrow_forward</i>
									</div>
								</div>
							</div>
						</div>
					</div>
					<i>Get Ready Fast For Fall Leaf Viewing Trips</i>
					<h5>Get Ready Fast For Fall Leaf Viewing Trips</h5>
					<p class="p-lg">This volcano is dormant and last erupted in 1790. You will be able to see the crater of the volcano and the dry, arid earth surrounding the south side of the volcano’s slop with Maui helicopter tours. The view of this is truly breathtaking and is a sight not to be missed. It is also highly educational with a chance to see a dormant volcano up close, something that can not be seen every day. On the northern and southern sides of the volcano, you will see an incredible different view however. These sides are lush and green and you will be able to see some beautiful waterfalls and gorgeous brush. Tropical rainforests abound on this side of the island and it is something that is not easily accessible by any other means than by air. Maui helicopter tours will allow you to see all of these sights. Make sure to take a camera or video with you when going on Maui helicopter tours to capture the beauty of the scenery and to show friends and family at home all the wonderful things you saw while on vacation.</p>
				</div>
				<div class="col-md-4 col-md-offset-1 col-sm-5 col-xs-12">
					<div class="boxed bg-color--white-2 marg-b-30">
						<h1 class="h2">Project name</h1>
						<p>Coventry is a city with a thousand years of history that has plenty to offer the visiting tourist. Located in the heart of Warwickshire, which is well-known as Shakespeare’s county, there are easy transport links to historic Warwick, Rugby and Stratford-upon-Avon. Additionally, there are many things to see and do in and around Coventry itself.</p>
						<div class="row marg-t-30">
							<div class="col-md-12 col-sm-12 col-xs-12 marg-b-30">
								<b>By</b>
								<p class="p-xs">Jacob Rodgers</p>	
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12 marg-b-30">
								<b>Date Created</b>
								<p class="p-xs">06-10-2017</p>
							</div>
						</div>
					</div>
					<div class="row flex flex-inline flex-wrap btn-group">
						<div class="col-md-6 col-sm-6 col-xs-12">
							<a href="#" class="btn btn--line btn-md btn--stretched">Demo</a>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<a href="#" class="btn btn--default btn-md btn--stretched">Download</a>
						</div>
					</div>
				</div>		
			</div>
		</div>
	</section>