	<footer class="bg-color--white">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-12 col-xs-12">
					<a href="index.html"><img alt="" src="images/logo--black.png" height="22"></a>
					<div class="row offset-t-15">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<i>Made with love by Wave Themes</i><br>
						</div>
					</div>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-12">
					<h6>Our company</h6>
					<ul class="ul--list ul-xs">
						<li><a href="#">About</a></li>
						<li><a href="#">Work</a></li>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#">Articles</a></li>
					</ul>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-12">
					<h6>Categories</h6>
					<ul class="ul--list ul-xs">
						<li><a href="#">Mans</a></li>
						<li><a href="#">Womans</a></li>
						<li><a href="#">Summer</a></li>
						<li><a href="#">Winter</a></li>
					</ul>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-12">
					<h6>Tags</h6>
					<ul class="ul--list ul-xs">
						<li><a href="#">Adventure</a></li>
						<li><a href="#">Business</a></li>
						<li><a href="#">Art</a></li>
						<li><a href="#">Trending</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-md-offset-6 col-sm-12 col-xs-12">
					<a href="#" class="fa fa-facebook" aria-hidden="true"></a>
					<a href="#" class="fa fa-twitter" aria-hidden="true"></a>
					<a href="#" class="fa fa-google-plus" aria-hidden="true"></a>
				</div>
			</div>
		</div>
	</footer>