	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-sm-6 col-xs-12">
					<a href="index.html"><img alt="" src="images/logo--black.png" height="22"></a>
					<p class="p-xs marg-t-30">Copyright © 2016 Blox All rights reserved.</p>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12 text-right text-left-xs">
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12 marg-b-30">
							<img src="images/low/appstore.png" alt="" height="45">
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<img src="images/low/google-play.png" alt="" height="45">
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>