	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 text-center">
					<a href="index.html"><img alt="" src="images/logo--black.png" height="22"></a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 text-center">
					<p class="p-xs">LCD screens are uniquely modern in style, and the liquid crystals that make them work have allowed humanity to create slimmer, more portable technology than we’ve ever had access to before. </p>
					<p class="p-xs text--opacity-5">Copyright © 2016 Blox All rights reserved.</p>
					<a href="#" class="fa fa-facebook" aria-hidden="true"></a>
					<a href="#" class="fa fa-twitter" aria-hidden="true"></a>
					<a href="#" class="fa fa-google-plus" aria-hidden="true"></a>	
				</div>
			</div>
		</div>
	</footer>