	<footer class="bg-color--white-2">
		<div class="container text-center">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<a href="index.html"><img alt="" src="images/logo--black.png" height="22"></a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2 col-md-offset-3 col-sm-4 col-sm-offset-1 col-xs-12">
					<h6>Restaurant</h6>
					<ul class="ul--list ul-xs">
						<li><a href="#">First item</a></li>
						<li><a href="#">Second item</a></li>
						<li><a href="#">Third item</a></li>
						<li><a href="#">Last item</a></li>
					</ul>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-12">
					<h6>Bar</h6>
					<ul class="ul--list ul-xs">
						<li><a href="#">First item</a></li>
						<li><a href="#">Second item</a></li>
						<li><a href="#">Third item</a></li>
						<li><a href="#">Last item</a></li>
					</ul>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-12">
					<h6>Catering</h6>
					<ul class="ul--list ul-xs">
						<li><a href="#">First item</a></li>
						<li><a href="#">Second item</a></li>
						<li><a href="#">Third item</a></li>
						<li><a href="#">Last item</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<p class="p-xs">Copyright © 2016 Rush All rights reserved.</p>
				</div>
			</div>
		</div>
	</footer>