	<footer class="bg-color--white-2">
		<div class="container text-center">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<a href="index.html"><img alt="" src="images/logo--black.png" height="22"></a>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<ul class="menu ul--inline text--uppercase">
						<li><a href="#">First item</a></li>
						<li><a href="#">Second item</a></li>
						<li><a href="#">Third item</a></li>
						<li><a href="#">Last item</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<p class="p-xs">Copyright © 2016 Rush All rights reserved.</p>
				</div>
			</div>
		</div>
	</footer>