	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-12">
					<a href="index.html"><img alt="" src="images/logo--black.png" height="22"></a>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12">
					<h6>TEXT</h6>
					<p class="p-xs--compact">LCD screens are uniquely modern in style, and the liquid crystals that make them work have allowed humanity to create slimmer, more portable technology than we’ve ever had access to before. </p>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12">
					<h6>Instagram</h6>
					<div class="row--fluid instagram" id="instagram" data-col-md="4" data-col-sm="4" data-col-xs="4" data-amount="6"></div>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-12">
					<h6>Subscribe</h6>
					<form data-mailchimp action="//aristarx.us8.list-manage.com/subscribe/post?u=9a6a86ceeaced7c24394b445c&amp;id=28383e4b96" method="post" target="_blank" data-message="Thanks for subscribing!">
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<input type="email" placeholder="Email Address" name="EMAIL" class="valid" data-alert="Please write your e-mail">
								<input type="text" name="b_9a6a86ceeaced7c24394b445c_28383e4b96" class="hide">
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12">
								<input type="submit" class="btn btn--line btn--stretched-xs" value="Subscribe">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</footer>