	<section>
		<div class="container tabs">
			<div class="row">
				<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-12 text-center">
					<ul class="tabs__links hr text-center">
						<li data-tab-link="1" class="active"><i class="pe-7s-cloud-upload ico-sm"></i><br>First</li>
						<li data-tab-link="2"><i class="pe-7s-user ico-sm"></i><br>Second</li>
						<li data-tab-link="3"><i class="pe-7s-signal ico-sm"></i><br>Third</li>
					</ul>
				</div>		
			</div>
			<div class="row tabs__content active flex flex-wrap flex-align-center boxed-lg boxed--shadow-xs" data-tab-content="1">
				<div class="col-md-6 col-sm-5 col-xs-6 flex flex-align-center text-center">
					<img src="images/low/google-files.png">
				</div>	
				<div class="col-md-6 col-sm-12 col-xs-12">
					<h2>San Diego Vacation Rental</h2>
					<p class="p-lg">One of the best ways to make a great vacation quickly horrible is to choose the wrong accommodations for your trip. There is nothing quite as bad as spending a great day of vacation only to come back to a less-than-great place to stay for the night.</p>
					<p class="p-xs">It S Hurricane Season But We Are Visiting Hilton Head Island</p>
				</div>
			</div>
			<div class="row tabs__content flex flex-wrap flex-align-center boxed-lg boxed--shadow-xs overflow-hidden" data-tab-content="2">
				<div class="col-md-5 col-sm-5 col-xs-6 hidden-xs">
					<img src="images/low/iPhone-left.png" class="width-auto right">
				</div>
				<div class="col-md-5 col-sm-5 col-xs-6 visible-xs">
					<img src="images/low/iPhone-left.png" class="right">
				</div>
				<div class="col-md-6 col-md-offset-1 col-sm-12 col-xs-12">
					<h2>Second Tab</h2>
					<p class="p-lg">One of the best ways to make a great vacation quickly horrible is to choose the wrong accommodations for your trip. There is nothing quite as bad as spending a great day of vacation only to come back to a less-than-great place to stay for the night.</p>
					<p class="p-xs">It S Hurricane Season But We Are Visiting Hilton Head Island</p>
				</div>
			</div>
			<div class="row tabs__content flex flex-wrap flex-align-center boxed-lg boxed--shadow-xs" data-tab-content="3">
				<div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 text-center">
					<h2>Third Tab</h2>
					<p class="p-lg">One of the best ways to make a great vacation quickly horrible is to choose the wrong accommodations for your trip. There is nothing quite as bad as spending a great day of vacation only to come back to a less-than-great place to stay for the night.</p>
					<p class="p-xs">It S Hurricane Season But We Are Visiting Hilton Head Island</p>
				</div>
			</div>
		</div>
	</section>