	<section>
		<div class="container tabs">
			<div class="">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<h3>Menu</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<ul class="tabs__links hr">
						<li data-tab-link="1" class="active">First</li>
						<li data-tab-link="2">Second</li>
					</ul>
				</div>
			</div>
			<div class="tabs__content active" data-tab-content="1">
				<div class="col-md-6 col-sm-12 col-xs-12">
					<h6>Smarter Food Choices 101 Tips For Busy Women <span class="right">12$</span></h6>
					<p class="p-xs">Is It Frosting Or Is It Icing</p>
					
					<h6 class="marg-t-30">Cooking Healthy For Radiant Health <span class="right">8$</span></h6>
					<p class="p-xs">Messes Make Memories</p>
					
					<h6 class="marg-t-30">What You Need To Know About Oil Fondue <span class="right">6$</span></h6>
					<p class="p-xs">Cooking For One</p>
				</div>
				
				<div class="col-md-6 col-sm-12 col-xs-12">
					<h6>Cast Iron Cookware <span class="right">8$</span></h6>
					<p class="p-xs">Using Overstock Sites On The Net For Cookware Purchases</p>
					
					<h6 class="marg-t-30">A Beginners Guide To Chinese Cookery <span class="right">12$</span></h6>
					<p class="p-xs">Tips For Spicing Up Seafood</p>
					
					<h6 class="marg-t-30">Aussie Chef Shares Culinary Secrets With Americans <span class="right">17$</span></h6>
					<p class="p-xs">Perfect Scrambled Eggs</p>
				</div>
			</div>
			<div class="tabs__content" data-tab-content="2">
				<div class="col-md-6 col-sm-12 col-xs-12">
					<h6>Cooking Healthy For Radiant Health <span class="right">8$</span></h6>
					<p class="p-xs">Messes Make Memories</p>
					
					<h6 class="marg-t-30">Smarter Food Choices 101 Tips For Busy Women <span class="right">12$</span></h6>
					<p class="p-xs">Is It Frosting Or Is It Icing</p>
				</div>
				
				<div class="col-md-6 col-sm-12 col-xs-12">
					<h6>Cast Iron Cookware <span class="right">8$</span></h6>
					<p class="p-xs">Using Overstock Sites On The Net For Cookware Purchases</p>
					
					<h6 class="marg-t-30">A Beginners Guide To Chinese Cookery <span class="right">12$</span></h6>
					<p class="p-xs">Tips For Spicing Up Seafood</p>
				</div>
			</div>
		</div>
	</section>