	<section>
		<div class="container">
			<div class="">
				<div class="col-md-8 col-md-offset-4 col-sm-12 col-xs-12">
					<h2>Party Jokes Startling But Unnecessary</h2>
				</div>
			</div>
			<div class="row tabs">
				<div class="col-md-2 col-md-offset-2 col-sm-5 col-xs-12">
					<ul class="tabs__links hr tabs__links--list">
						<li data-tab-link="1" class="active"><b>First</b></li>
						<li data-tab-link="2"><b>Second</b></li>
						<li data-tab-link="3"><b>Third</b></li>
					</ul>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12 tabs__content active" data-tab-content="1">
					<h6>First</h6>
					<p>The practice of cigar smoking has been on the rise in the U.S. since the early 90’s. In part due to a reputation as a glamorous alternative to cigarette smoking, the increase can also be tied to its popularity among celebrities, as well as to the social nature of its practice. But whatever the reason, it is clear that cigars are big business in the U.S. with higher sales of premium brands each and every year.</p>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12 tabs__content" data-tab-content="2">
					<h6>second</h6>
					<p>The practice of cigar smoking has been on the rise in the U.S. since the early 90’s. In part due to a reputation as a glamorous alternative to cigarette smoking, the increase can also be tied to its popularity among celebrities, as well as to the social nature of its practice. But whatever the reason, it is clear that cigars are big business in the U.S. with higher sales of premium brands each and every year.</p>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12 tabs__content" data-tab-content="3">
					<h6>last</h6>
					<p>The practice of cigar smoking has been on the rise in the U.S. since the early 90’s. In part due to a reputation as a glamorous alternative to cigarette smoking, the increase can also be tied to its popularity among celebrities, as well as to the social nature of its practice. But whatever the reason, it is clear that cigars are big business in the U.S. with higher sales of premium brands each and every year.</p>
				</div>
			</div>
		</div>
	</section>