@import url('https://fonts.googleapis.com/css?family=Droid+Sans:400,700');
html, body, nav .uppercase a, .btn, h6, p
					{	font-family: 'Helvetica', sans-serif;	
						
						}
						
h1, h2, h3, h4, h5, h6		
					{	font-family: 'Droid Sans', sans-serif;
						
						}