@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Roboto:300,400,500');
html, body, nav .uppercase a, .btn, h6, p
					{	font-family: 'Open Sans', sans-serif !important;
								
						}
						
h1, h2, h3, h4, h5, h6		
					{	font-family: 'Roboto', sans-serif;
						
						}