@import url('https://fonts.googleapis.com/css?family=Rasa:300,600|Roboto:400,700');
html, body, nav .uppercase a, .btn, h6, p
					{	font-family: 'Roboto', sans-serif;
								
						}
						
h1, h2, h3, h4, h5, h6.light		
					{	font-family: 'Rasa', serif;
						
						}	