	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
					<div class="row marg-b-30">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="background-image h-4">
								<div class="bg" data-opacity="4" style="background: url('images/hi/william-stitt-111010.jpg');"></div>
								<div class="container pos-vertical-center">
									<div class="row">
										<div class="col-md-8 col-sm-8 col-xs-12">
											<div class="boxed-lg">
												<h1 class="text--bold text--uppercase h2">Summer</h1>	
												<p>5 Reasons To Purchase Desktop Computers</p>	
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12 marg-b-30">
							<a href="#">
							<div class="boxed text-center">
								<img src="images/items/item%231.png" alt=""><br>
								<b>Backpack</b>
								<p>Black</p>
								<span class="price-xs">12$</span> <span class="price-xs text--line-through">23$</span>
							</div>
							</a>
						</div>	
						<div class="col-md-6 col-sm-6 col-xs-12 marg-b-30">
							<a href="#">
							<div class="boxed text-center">
								<img src="images/items/item%232.png" alt=""><br>
								<b>Backpack</b>
								<p>Gray</p>
								<span class="price-xs">18$</span>
							</div>
							</a>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 marg-b-30">
							<a href="#">
							<div class="boxed text-center">
								<img src="images/items/item%233.png" alt=""><br>
								<b>Sports backpack</b>
								<p>Black</p>
								<span class="price-xs">8$</span>
							</div>
							</a>
						</div>	
						<div class="col-md-6 col-sm-6 col-xs-12 marg-b-30">
							<a href="#">
							<div class="boxed text-center">
								<img src="images/items/item%234.png" alt=""><br>
								<b>Backpack</b>
								<p>Black</p>
								<span class="price-xs">12$</span>
							</div>
							</a>
						</div>	
						<div class="col-md-6 col-sm-6 col-xs-12 marg-b-30">
							<a href="#">
							<div class="boxed text-center">
								<img src="images/items/item%237.png" alt=""><br>
								<b>Backpack</b>
								<p>Gray</p>
								<span class="price-xs">18$</span>
							</div>
							</a>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 marg-b-30">
							<a href="#">
							<div class="boxed text-center">
								<img src="images/items/item%236.png" alt=""><br>
								<b>Sports backpack</b>
								<p>Black</p>
								<span class="price-xs">8$</span>
							</div>
							</a>
						</div>
					</div>
					<div class="row marg-t-30">
						<div class="col-md-1 col-sm-1 col-xs-1 pagination__controls pagination__controls--disabled">
							<i class="material-icons"></i>
						</div>	
						<div class="col-md-10 col-sm-10 col-xs-10 text-center hidden-xs">
							<ul class="pagination">
								<li class="pagination__page--active"><span>1</span></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
							</ul>
						</div>
						<a href="#">
						<div class="col-md-1 col-sm-1 col-xs-1 pagination__controls text-right">
							<i class="material-icons"></i>
						</div>	
						</a>
					</div>
				</div>	
					
			</div>
		</div>
	</section>