	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-4 col-xs-12">
					<form>
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12 marg-b-30">
									<h6>CATEGORY</h6>
									<ul class="ul--list">
										<li><a href="#">Photography</a></li>
										<li><a href="#">Company</a></li>
										<li><a href="#">Studio</a></li>
										<li><a href="#">Products</a></li>
									</ul>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12">
								<label class="h6">Filters</label><br>
								<label>
									<input class="checkbox" type="checkbox" checked="" name="checkbox-test">
									<span class="checkbox-custom"><i class="material-icons">check</i></span>
									<span class="label">Checkbox checked</span>
								</label>
								<label>
									<input class="checkbox" type="checkbox" name="checkbox-test">
									<span class="checkbox-custom"><i class="material-icons">check</i></span>
									<span class="label">Checkbox</span>
								</label>
								<div class="range-slider">
									<input class="range-slider__range" type="range" value="100" min="20" max="500">
									<b>10$</b> – <b class="range-slider__value">100</b><b>$</b>
								</div>
								<div class="input offset-t-15">
									<select>
									    <option selected="" value="First">Type</option>
									    <option value="Second">Second</option>
									    <option value="Third">Third</option>
									    <option value="Last">Last</option>
									</select>
									<div class="input__helper">
										<i class="material-icons ico-xs"></i>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="input">
									<select>
									    <option selected="" value="First">Colors</option>
									    <option value="Second">Second</option>
									    <option value="Third">Third</option>
									    <option value="Last">Last</option>
									</select>
									<div class="input__helper">
										<i class="material-icons ico-xs"></i>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="input">
									<select>
									    <option selected="" value="First">Size</option>
									    <option value="Second">Second</option>
									    <option value="Third">Third</option>
									    <option value="Last">Last</option>
									</select>
									<div class="input__helper">
										<i class="material-icons ico-xs"></i>
									</div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12">
								<a href="#">Reset filters</a>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12">
								<label class="h6">Sort by</label>
								<div class="input offset-t-15">
									<select>
									    <option selected="" value="First">Featured</option>
									    <option value="Second">Second</option>
									    <option value="Third">Third</option>
									    <option value="Last">Last</option>
									</select>
									<div class="input__helper">
										<i class="material-icons ico-xs"></i>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div class="col-md-8 col-md-offset-1 col-sm-8 col-xs-12">
					<div class="row marg-b-30">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="background-image h-4">
								<div class="bg" data-opacity="4" style="background: url('images/hi/william-stitt-111010.jpg');"></div>
								<div class="container pos-vertical-center">
									<div class="row">
										<div class="col-md-8 col-sm-8 col-xs-12">
											<div class="boxed-lg">
												<h1 class="text--bold text--uppercase h2">Summer</h1>	
												<p>5 Reasons To Purchase Desktop Computers</p>	
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-sm-6 col-xs-12 marg-b-30">
							<a href="#">
							<div class="boxed text-center">
								<img src="images/items/item%231.png" alt=""><br>
								<b>Backpack</b>
								<p>Black</p>
								<span class="price-xs">12$</span> <span class="price-xs text--line-through">23$</span>
							</div>
							</a>
						</div>	
						<div class="col-md-4 col-sm-6 col-xs-12 marg-b-30">
							<a href="#">
							<div class="boxed text-center">
								<img src="images/items/item%232.png" alt=""><br>
								<b>Backpack</b>
								<p>Gray</p>
								<span class="price-xs">18$</span>
							</div>
							</a>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12 marg-b-30">
							<a href="#">
							<div class="boxed text-center">
								<img src="images/items/item%233.png" alt=""><br>
								<b>Sports backpack</b>
								<p>Black</p>
								<span class="price-xs">8$</span>
							</div>
							</a>
						</div>	
						<div class="col-md-4 col-sm-6 col-xs-12 marg-b-30">
							<a href="#">
							<div class="boxed text-center">
								<img src="images/items/item%234.png" alt=""><br>
								<b>Backpack</b>
								<p>Black</p>
								<span class="price-xs">12$</span>
							</div>
							</a>
						</div>	
						<div class="col-md-4 col-sm-6 col-xs-12 marg-b-30">
							<a href="#">
							<div class="boxed text-center">
								<img src="images/items/item%237.png" alt=""><br>
								<b>Backpack</b>
								<p>Gray</p>
								<span class="price-xs">18$</span>
							</div>
							</a>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12 marg-b-30">
							<a href="#">
							<div class="boxed text-center">
								<img src="images/items/item%236.png" alt=""><br>
								<b>Sports backpack</b>
								<p>Black</p>
								<span class="price-xs">8$</span>
							</div>
							</a>
						</div>
					</div>
					<div class="row marg-t-30">
						<div class="col-md-1 col-sm-1 col-xs-1 pagination__controls pagination__controls--disabled">
							<i class="material-icons"></i>
						</div>	
						<div class="col-md-10 col-sm-10 col-xs-10 text-center hidden-xs">
							<ul class="pagination">
								<li class="pagination__page--active"><span>1</span></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
							</ul>
						</div>
						<a href="#">
						<div class="col-md-1 col-sm-1 col-xs-1 pagination__controls text-right">
							<i class="material-icons"></i>
						</div>	
						</a>
					</div>
				</div>	
					
			</div>
		</div>
	</section>