	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-6 col-xs-12">
					<a href="#">
					<div class="boxed text-center">
						<img src="images/items/item%231.png" alt=""><br>
						<b>Backpack</b>
						<p>Black</p>
						<span class="price-xs">12$</span> <span class="price-xs text--line-through">23$</span>
					</div>
					</a>
				</div>	
				<div class="col-md-4 col-sm-6 col-xs-12">
					<a href="#">
					<div class="boxed text-center">
						<img src="images/items/item%232.png" alt=""><br>
						<b>Backpack</b>
						<p>Gray</p>
						<span class="price-xs">18$</span>
					</div>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<a href="#">
					<div class="boxed text-center">
						<img src="images/items/item%233.png" alt=""><br>
						<b>Sports backpack</b>
						<p>Black</p>
						<span class="price-xs">8$</span>
					</div>
					</a>
				</div>	
				<div class="col-md-4 col-sm-6 col-xs-12">
					<a href="#">
					<div class="boxed text-center">
						<img src="images/items/item%234.png" alt=""><br>
						<b>Backpack</b>
						<p>Black</p>
						<span class="price-xs">12$</span>
					</div>
					</a>
				</div>	
				<div class="col-md-4 col-sm-6 col-xs-12">
					<a href="#">
					<div class="boxed text-center">
						<img src="images/items/item%237.png" alt=""><br>
						<b>Backpack</b>
						<p>Gray</p>
						<span class="price-xs">18$</span>
					</div>
					</a>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<a href="#">
					<div class="boxed text-center">
						<img src="images/items/item%236.png" alt=""><br>
						<b>Sports backpack</b>
						<p>Black</p>
						<span class="price-xs">8$</span>
					</div>
					</a>
				</div>	
					
			</div>
		</div>
		<div class="container">
			<div class="row marg-t-30">
				<div class="col-md-1 col-sm-1 col-xs-1 pagination__controls pagination__controls--disabled">
					<i class="material-icons"></i>
				</div>	
				<div class="col-md-10 col-sm-10 col-xs-10 text-center hidden-xs">
					<ul class="pagination">
						<li class="pagination__page--active"><span>1</span></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
					</ul>
				</div>
				<a href="#">
				<div class="col-md-1 col-sm-1 col-xs-1 pagination__controls text-right">
					<i class="material-icons"></i>
				</div>	
				</a>
			</div>
		</div>
	</section>