	<section class="padding-null">
		<div class="container">
			<div class="row">
				<div class="col-md-7 col-sm-7 col-xs-12">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="flexslider" data-pause="true">
							<!--  Slides -->
							<ul class="slides">
								<li class="flexitem text-center">
									<img src="images/items/item%231.png" alt="" draggable="false">
								</li>
								<li class="flexitem text-center flex-active-slide">
									<img src="images/items/item%232.png" alt="" draggable="false">
								</li>
							</ul>
							<!--  Main controllers -->
							<div class="custom-navigation hidden-xs">
								<div class="custom-controls-container">
									<i class="material-icons ico--radial prev">arrow_back</i>
									<i class="material-icons ico--radial next">arrow_forward</i>
								</div>
							</div>
							
							<!--  Additional controllers -->
							<div class="flex-control"><ol class="flex-control-nav flex-control-paging"><li><a class="">1</a></li><li><a class="flex-active">2</a></li></ol></div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-5 col-sm-5 col-xs-12">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<b>Art: PRODCAT01</b> <i class="material-icons right pointer">favorite_border</i>
						</div>
					</div>
					<div class="row marg-t-30">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<h2>Product <b class="marker marker--radius bg-color--white-2 pos-absolute pos-top">new</b></h2>
							<p>Traveling To Barcelona</p>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<ul class="ul--list ul--underline accordion">
								<li class="active">
									<b>First item</b>
									<ul>
										<li>
											<p>“IT” (otherwise known as HD 36405.b) isn’t your average “oddball” exo-solar planet made of rock that wobbles on its end &amp; zips around a nearby star in less than 2.46 days.
											Seeking a spot of serenity somewhere in the universe, I recently booked a deep-discount dodgy berth on the ‘White Elephant Express Space Shuttle’, to a little known place in a galaxy far, far away.
											If truth be told, (after reading random excerpts from “The Itty Bitty Bunkum Book About Life, the Universe &amp; Practically Everything Under the Sun Not To Mention Stuff Going On In Remote Galaxies), I was basically delirious.</p>
										</li>
									</ul>
								</li>
								<li>
									<b>Second item</b>
									<ul>
										<li>
											<p>“IT” (otherwise known as HD 36405.b) isn’t your average “oddball” exo-solar planet made of rock that wobbles on its end &amp; zips around a nearby star in less than 2.46 days.
											Seeking a spot of serenity somewhere in the universe, I recently booked a deep-discount dodgy berth on the ‘White Elephant Express Space Shuttle’, to a little known place in a galaxy far, far away.
											If truth be told, (after reading random excerpts from “The Itty Bitty Bunkum Book About Life, the Universe &amp; Practically Everything Under the Sun Not To Mention Stuff Going On In Remote Galaxies), I was basically delirious.</p>
										</li>
									</ul>
								</li>
								<li>
									<b>Last item</b>
									<ul>
										<li>
											<p>“IT” (otherwise known as HD 36405.b) isn’t your average “oddball” exo-solar planet made of rock that wobbles on its end &amp; zips around a nearby star in less than 2.46 days.
											Seeking a spot of serenity somewhere in the universe, I recently booked a deep-discount dodgy berth on the ‘White Elephant Express Space Shuttle’, to a little known place in a galaxy far, far away.
											If truth be told, (after reading random excerpts from “The Itty Bitty Bunkum Book About Life, the Universe &amp; Practically Everything Under the Sun Not To Mention Stuff Going On In Remote Galaxies), I was basically delirious.</p>
										</li>
									</ul>
								</li>
							</ul>
							</div>
						</div>
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12 marg-b-30">
							<div class="input">
									<select>
									    <option selected="" value="First" disabled="">Select color</option>
									    <option value="Second">Second</option>
									    <option value="Third">Third</option>
									    <option value="Last">Last</option>
									</select>
									<div class="input__helper">
										<i class="material-icons ico-xs"></i>
									</div>
								</div>
						</div>
						<div class="col-md-12 col-sm-12 col-xs-12">
							<a href="#" class="btn btn--stretched btn--default btn-md">To cart – 12$</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>