	<section class="padding-null">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<b>Art: PRODCAT01</b> <i class="material-icons right pointer">favorite_border</i>
						</div>
					</div>
					<div class="row marg-t-30">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<h2>Product <b class="marker marker--radius bg-color--white-2 pos-absolute pos-top">new</b></h2>
							<p>Traveling To Barcelona</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
							<div class="flexslider" data-pause="true">
							<!--  Slides -->
							<ul class="slides">
								<li class="flexitem text-center" >
									<img src="images/items/item%231.png" alt="" draggable="false">
								</li>
								<li class="flexitem text-center flex-active-slide">
									<img src="images/items/item%232.png" alt="" draggable="false">
								</li>
							</ul>
							<!--  Main controllers -->
							<div class="custom-navigation hidden-xs">
								<div class="custom-controls-container">
									<i class="material-icons ico--radial prev">arrow_back</i>
									<i class="material-icons ico--radial next">arrow_forward</i>
								</div>
							</div>
							
							<!--  Additional controllers -->
							<div class="flex-control"><ol class="flex-control-nav flex-control-paging"><li><a class="">1</a></li><li><a class="flex-active">2</a></li></ol></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row hr marg-b-30">
				<div class="col-md-2 col-md-offset-4 col-sm-4 col-sm-offset-2 col-xs-12 marg-b-30">
					<div class="input">
						<select>
						    <option selected="" value="First" disabled="">Select color</option>
						    <option value="Second">Second</option>
						    <option value="Third">Third</option>
						    <option value="Last">Last</option>
						</select>
						<div class="input__helper">
							<i class="material-icons ico-xs"></i>
						</div>
					</div>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-12">
					<a href="#" class="btn btn--stretched btn--default btn-md">To cart – 12$</a>
				</div>
			</div>
			<div class="row hr marg-b-30">
				<div class="col-md-4 col-sm-4 col-xs-12">
					<h4>First header</h4>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<ul class="ul--list ul-xs">
						<li><span>Video Games Playing With Imagination</span></li>
						<li><span>Compare Prices Find The Best Computer Accessory</span></li>
						<li><span>Download Free Song For Ipod</span></li>
						<li><span>Home Audio Recording For Everyone</span></li>
						<li><span>What Is Hdmi</span></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-4 col-xs-12">
					<h4>Second header</h4>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<ul class="ul--list ul-xs">
						<li><span>Video Games Playing With Imagination</span></li>
						<li><span>E Banks That Accept Us Casino Players</span></li>
						<li><span>Compare Prices Find The Best Computer Accessory</span></li>
						<li><span>Download Free Song For Ipod</span></li>
						<li><span>Home Audio Recording For Everyone</span></li>
						<li><span>What Is Hdmi</span></li>
					</ul>
					<div class="row marg-t-60">
						<div class="col-md-4 col-sm-6 col-xs-6">
							<i class="pe-7s-cloud-upload ico-sm"></i>
							<p class="p-xs--compact">Get Around Easily With A New York Limousine Service</p>
						</div>
						<div class="col-md-4 col-sm-6 col-xs-6">
							<i class="pe-7s-usb ico-sm"></i>
							<p class="p-xs--compact">Become A Travel Pro In One Easy Lesson</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>