	<section class="padding-null">
		<div class="container">
			<div class="row marg-b-60">
				<div class="col-md-7 col-sm-12 col-xs-12">
					<div class="row hr">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<h3>Cart</h3>
						</div>
					</div>
					<div class="row hr marg-b-30 marg-t-30">
						<div class="col-md-2 col-sm-2 col-xs-12 marg-b-30">
							<img src="images/items/item%231.png" alt="">
						</div>
						<div class="col-md-5 col-sm-5 col-xs-12 marg-b-30">
							<a href="#"><b>Product</b></a><b class="right">649$</b>
							<p>Traveling To Barcelona</p>
							<a class="p-xs" href="#">Remove from cart</a>
						</div>
						<div class="col-md-3 col-sm-3 col-xs-12 marg-b-30">
							<div class="input input-counter">
								<div class="input__helper pos-left pointer input-counter__plus">
									<i class="material-icons ico-xs"></i>
								</div>
								<input type="text" class="text-center" readonly="" value="1">
								<div class="input__helper pointer input-counter__minus">
									<i class="material-icons ico-xs"></i>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-2 col-xs-12 marg-b-30 text-right text-left-xs">
							<span class="price-xs">1.298$</span>
						</div>
					</div>
					
				</div>
				<div class="col-md-4 col-md-offset-1 col-sm-12 col-xs-12">
					<div class="boxed marg-b-30 boxed--border">
						<div class="offset-b-15 hr">
						<b class="h6">Subtotal</b> <span class="text--opacity-5 right">$1.298.00</span>
						</div>
						<div class="marg-b-30 hr">
						<b class="h6">Shipping</b> <span class="text--opacity-5 right">$0.00</span>
						</div>
						<div>
						<b class="h6">Total</b> <span class="price-xs  right">$1.298.00</span>
						</div>
					</div>
					<a href="#" class="btn btn--stretched btn--default btn-md">Checkout</a>
				</div>		
			</div>
		</div>
	</section>