	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<form>
						<div class="row form-inline">
							<div class="col-md-1 col-sm-1 col-xs-12">
								<label>Filter</label>
							</div>
							<div class="col-md-2 col-sm-2 col-xs-12">
								<div class="input">
									<select>
									    <option selected="" value="First">Type</option>
									    <option value="Second">Second</option>
									    <option value="Third">Third</option>
									    <option value="Last">Last</option>
									</select>
									<div class="input__helper">
										<i class="material-icons ico-xs"></i>
									</div>
								</div>
							</div>
							<div class="col-md-2 col-sm-2 col-xs-12">
								<div class="input">
									<select>
									    <option selected="" value="First">Colors</option>
									    <option value="Second">Second</option>
									    <option value="Third">Third</option>
									    <option value="Last">Last</option>
									</select>
									<div class="input__helper">
										<i class="material-icons ico-xs"></i>
									</div>
								</div>
							</div>
							<div class="col-md-2 col-sm-2 col-xs-12">
								<div class="input">
									<select>
									    <option selected="" value="First">Size</option>
									    <option value="Second">Second</option>
									    <option value="Third">Third</option>
									    <option value="Last">Last</option>
									</select>
									<div class="input__helper">
										<i class="material-icons ico-xs"></i>
									</div>
								</div>
							</div>
							<div class="col-md-2 col-sm-2 col-xs-12">
								<a href="#">Reset filters</a>
							</div>
							<div class="col-md-1 col-sm-1 col-xs-12 text-right text-left-xs">
								<label>Sort by</label>
							</div>
							<div class="col-md-2 col-sm-2 col-xs-12">
								<div class="input">
									<select>
									    <option selected="" value="First">Featured</option>
									    <option value="Second">Second</option>
									    <option value="Third">Third</option>
									    <option value="Last">Last</option>
									</select>
									<div class="input__helper">
										<i class="material-icons ico-xs"></i>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>