	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="background-image h-4">
						<div class="bg" data-opacity="6" style="background: url('images/hi/andre-hunter-235158 (1).jpg');"></div>
						<div class="container pos-vertical-center">
							<div class="row">
								<div class="col-md-8 col-sm-8 col-xs-12">
									<div class="boxed-lg">
										<h1 class="h2">Build your pages with Rush template. It’s easy!</h1>
										<p>5 Reasons To Purchase Desktop Computers</p>
										<a href="#" class="btn btn--line btn-md">More</a>			
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="background-image h-5">
						<div class="bg" data-shadow-bottom="8" style="background: url('images/hi/autumn-goodman-242810.jpg');"></div>
						<div class="container pos-absolute pos-bottom marg-t-60">
							<div class="row">
								<div class="col-md-8 col-sm-12 col-xs-12">
									<div class="boxed-lg">
										<h5>5 Reasons To Purchase Desktop Computers</h5>		
									</div>
								</div>
								<div class="col-md-4 col-sm-12 col-xs-12">
									<div class="boxed-lg">
										<a href="#" class="btn btn--line btn-md">More</a>			
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="background-image h-2 marg-b-30">
						<div class="bg" style="background: url('images/hi/filip-mroz-235735.jpg');"></div>
					</div>
					<div class="bg-color--gray h-2 boxed-lg">
						<div class="row">
							<div class="col-md-8 col-sm-12 col-xs-12">
								<h5>From Wetlands To Canals And Dams Amsterdam Is Alive</h5>
								<p class="p-xs">Luxury is something everyone deserves from time to time.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>