<section>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="background-image h-4">
						<div class="bg" data-opacity="4" style="background: url('images/hi/mp0bgas_d1c-naomi-hebert.jpg');"></div>
						<div class="container pos-vertical-center">
							<div class="row">
								<div class="col-md-8 col-sm-8 col-xs-12">
									<div class="boxed-lg">
										<h1 class="text--bold text--uppercase h2">Summer</h1>	
										<p>5 Reasons To Purchase Desktop Computers</p>
										<a href="#" class="btn btn--default btn-md">More</a>			
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="background-image h-2 marg-b-30">
						<a href="#">
						<div class="bg" style="background: url('images/hi/jaz-king-221367.jpg');"></div>
						<div class="container pos-absolute pos-bottom marg-t-60">
							<div class="row">
								<div class="col-md-8 col-sm-8 col-xs-12">
									<h4 class="text--bold text--uppercase boxed">Summer</h4>		
								</div>
							</div>
						</div>
						</a>
					</div>
					<div class="background-image h-2">
						<a href="#">
						<div class="bg" style="background: url('images/hi/kari-shea-226157.jpg');"></div>
						<div class="container pos-absolute pos-bottom marg-t-60">
							<div class="row">
								<div class="col-md-8 col-sm-8 col-xs-12">
									<h4 class="text--bold text--uppercase boxed">Fashion</h4>	
								</div>
							</div>
						</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="background-image h-5">
						<a href="#">
						<div class="bg" style="background: url('images/hi/sarah-dorweiler-105892.jpg');"></div>
						<div class="container pos-absolute pos-bottom marg-t-60">
							<div class="row">
								<div class="col-md-8 col-sm-8 col-xs-12">
									<h4 class="text--bold text--uppercase boxed">50% sale</h4>	
								</div>
							</div>
						</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="background-image h-2 marg-b-30">
						<a href="#">
						<div class="bg" style="background: url('images/hi/ir6yzbje9qa-breather.jpg');"></div>
						<div class="container pos-absolute pos-bottom marg-t-60">
							<div class="row">
								<div class="col-md-8 col-sm-8 col-xs-12">
									<h4 class="text--bold text--uppercase boxed">Art</h4>		
								</div>
							</div>
						</div>
						</a>
					</div>
					<div class="background-image h-2">
						<a href="#">
						<div class="bg" style="background: url('images/hi/lhtqjazuprq-breather.jpg');"></div>
						<div class="container pos-absolute pos-bottom marg-t-60">
							<div class="row">
								<div class="col-md-8 col-sm-8 col-xs-12">
									<h4 class="text--bold text--uppercase boxed">Street</h4>	
								</div>
							</div>
						</div>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4 col-xs-12">
					<div class="boxed bg-color--white-2">
						<h6>Subscribe</h6>
						<form data-mailchimp="" action="//aristarx.us8.list-manage.com/subscribe/post?u=9a6a86ceeaced7c24394b445c&amp;id=28383e4b96" method="post" target="_blank" data-message="Thanks for subscribing!">
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<input type="email" placeholder="Email Address" name="EMAIL" class="valid" data-alert="Please write your e-mail">
									<input type="text" name="b_9a6a86ceeaced7c24394b445c_28383e4b96" class="hide">
								</div>
								<div class="col-md-12 col-sm-12 col-xs-12">
									<input type="submit" class="btn btn--line btn--stretched-xs" value="Subscribe">
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<h6 class="marg-t-30">Header</h6>
					<a href="#" class="p-xs">The Flash Tutorial</a><br>
					<a href="#" class="p-xs">Will The Democrats Be Able To Reverse The Online Gambling Ban</a><br>
					<a href="#" class="p-xs">Guidelines For Inkjet Cartridge Refill</a><br>
					<a href="#" class="p-xs">Anonymous Proxy</a>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12">
					<h6 class="marg-t-30">Header</h6>
					<a href="#" class="p-xs">Stu Unger Rise And Fall Of A Poker Genius</a><br>
					<a href="#" class="p-xs">Baby Monitor Technology</a><br>
					<a href="#" class="p-xs">How Plasma Tvs And Lcd Tvs Differ</a>
				</div>		
			</div>
		</div>
	</section>