	<section class="padding-null">
		<div class="container">
			<div class="row marg-b-60">
				<div class="col-md-7 col-sm-12 col-xs-12">
					
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<h3>Payment info</h3>
						</div>
						<div class="col-md-12 col-sm-12 col-xs-12">
						<form>
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<input type="text" placeholder="Cardholder Name" name="name">
								</div>
								<div class="col-md-12 col-sm-12 col-xs-12">
									<input type="text" placeholder="Card Number" name="name">
								</div>
								
								<div class="col-md-4 col-sm-4 col-xs-12">
									<input type="text" placeholder="Month" name="company">
								</div>
								<div class="col-md-4 col-sm-4 col-xs-12">
									<input type="text" placeholder="Year" name="state">
								</div>
								<div class="col-md-4 col-sm-4 col-xs-12">
									<input type="text" placeholder="CVC" name="state">
								</div>
								
								<div class="col-md-12 col-sm-12 col-xs-12">
									<label>
										<input class="checkbox" type="checkbox" checked="" name="checkbox-test">
										<span class="checkbox-custom"><i class="material-icons">check</i></span>
										<span class="label">Save payment info</span>
									</label>
								</div>
							</div>
						</form>
						</div>
					</div>
					
				</div>
				<div class="col-md-4 col-md-offset-1 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-md-2 col-sm-2 col-xs-2">
							<img src="images/items/thumb-item%234.png" alt="">
						</div>
						<div class="col-md-10 col-sm-10 col-xs-10">
							<a href="#"><b>Product </b></a><br><span class="p-xs"><b>2</b> * 649$</span>  <b class="right">1.298$</b>
							<p class="p-xs">Traveling To Barcelona</p>
						</div>
						<div class="col-md-12 col-sm-12 col-xs-12 offset-t-15">
							<a class="p-xs" href="#">Edit cart</a>
							<hr>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<b>Email </b>
							<p class="p-xs">ledner_donato@terrance.biz</p>
							<b>Address </b>
							<p class="p-xs">4182 Estell Islands</p>
						</div>
						<div class="col-md-12 col-sm-12 col-xs-12 offset-t-15">
							<a class="p-xs" href="#">Edit shipping address</a>
							<hr>
						</div>
					</div>
					<div class="boxed marg-b-30 boxed--border">
						<div class="offset-b-15 hr">
						<b class="h6">Subtotal</b> <span class="text--opacity-5 right">$1.298.00</span>
						</div>
						<div class="marg-b-30 hr">
						<b class="h6">Shipping</b> <span class="text--opacity-5 right">$0.00</span>
						</div>
						<div>
						<b class="h6">Total</b> <span class="price-xs  right">$1.298.00</span>
						</div>
					</div>
					<a href="#" class="btn btn--stretched btn--default btn-md">Proceed to checkout</a>
				</div>		
			</div>
		</div>
	</section>