.picker__input.picker__input--active ~ .input__helper i {
	opacity: .8;
}

@media (min-width: 767px) {
.picker {
	min-width: 300px;
}
}

.picker__footer,
.picker__header,
.picker__table {
    text-align: center
}
.picker__box {
    padding: 0 1em
}
.picker__header {
    position: relative;
    margin-top: .75em
}
.picker__month,
.picker__year {
    font-weight: 500;
    display: inline-block;
    margin-left: .25em;
    margin-right: .25em
}
.picker__year {
    color: #999;
    font-size: .8em;
}
.picker__select--month,
.picker__select--year {

    height: 2em;
    padding: .5em;
    margin-left: .25em;
    margin-right: .25em
}
.picker__select--month {
    width: 35%
}
.picker__select--year {
    width: 22.5%
}
.picker__nav--next,
.picker__nav--prev {
    position: absolute;
    padding: .5em 1.25em;
    width: 1em;
    height: 1em;
    box-sizing: content-box;
    top: -.25em
}
.picker__nav--prev {
    left: -1em;
    padding-right: 1.25em
}
.picker__nav--next {
    right: -1em;
    padding-left: 1.25em
}
@media (min-width: 24.5em) {
    .picker__select--month,
    .picker__select--year {
        margin-top: -.5em
    }
    .picker__nav--next,
    .picker__nav--prev {
        top: -.33em
    }
    .picker__nav--prev {
        padding-right: 1.5em
    }
    .picker__nav--next {
        padding-left: 1.5em
    }
}
.picker__nav--next:before,
.picker__nav--prev:before {
	font-family: 'Material Icons';
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga" 1;
    font-style: normal;
    text-transform: none;
    width: 16px;
    height: 0;
    display: block;
    margin: 0 auto;
}
.picker__nav--next:before {
	content: "chevron_right";
}
.picker__nav--prev:before {
    content: "chevron_left";
}

.picker__nav--next:hover,
.picker__nav--prev:hover {
    cursor: pointer;
    color: #000;
}
.picker__nav--disabled,
.picker__nav--disabled:before,
.picker__nav--disabled:before:hover,
.picker__nav--disabled:hover {
    cursor: default;
    background: 0 0;
/*     border-right-color: #f5f5f5;
    border-left-color: #f5f5f5 */
}
.picker--focused .picker__day--highlighted,
.picker__day--highlighted:hover,
.picker__day--infocus:hover,
.picker__day--outfocus:hover {
    color: #fff;
    cursor: pointer;
}

.picker__day--infocus:not(.picker__day--highlighted):hover,
.picker__day--outfocus:hover {
	background: #FAFAFA;
	color: #000;
}

.picker__day.picker__day--highlighted,
.picker__day.picker--focused,
.picker__day.picker--selected {
	font-weight: 600;
}

.picker__table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    font-size: inherit;
    width: 100%;
    margin-top: .75em;
    margin-bottom: .5em
}
@media (min-height: 33.875em) {
    .picker__table {
        margin-bottom: .75em
    }
}
.picker__table td {
    margin: 0;
    padding: 0
}
.picker__weekday {
    width: 14.285714286%;
    font-size: .75em;
    padding-bottom: .25em;
    color: #999;
    font-weight: 500
}
@media (min-height: 33.875em) {
    .picker__weekday {
        padding-bottom: .5em
    }
}
.picker__day {
    padding: .3125em 0;
    font-weight: 200;
    border: 1px solid transparent
}
.picker__day--today {
    font-weight: 600;
}
.picker__day--disabled:before {
    border-top-color: #aaa
}
.picker__day--outfocus {
    color: #ddd
}
.picker--focused .picker__day--selected,
.picker__day--selected,
.picker__day--selected:hover {
    background: #0089ec;
    color: #fff
}
.picker--focused .picker__day--disabled,
.picker__day--disabled,
.picker__day--disabled:hover {
    background: #f5f5f5;
    border-color: #f5f5f5;
    color: #ddd;
    cursor: default
}
.picker__day--highlighted.picker__day--disabled,
.picker__day--highlighted.picker__day--disabled:hover {
    background: #bbb
}
.picker__button--clear,
.picker__button--close,
.picker__button--today {
    border: 1px solid #fff;
    background: #fff;
    font-size: .8em;
    padding: .66em 0;
    font-weight: 600;
    opacity: .5;
    width: 33%;
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 10px;
}
.picker__button--clear:hover,
.picker__button--close:hover,
.picker__button--today:hover {
    cursor: pointer;
    color: #000;
    opacity: 1;
}
.picker__button--clear:focus,
.picker__button--close:focus,
.picker__button--today:focus {
    background: #b1dcfb;
    border-color: #0089ec;
    outline: 0
}