	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-7 col-sm-7 col-xs-12">
					<h3>Cheap Romantic Vacations</h3>
					<p class="p-lg">The practice of cigar smoking has been on the rise in the U.S. since the early 90’s. In part due to a reputation as a glamorous alternative to cigarette smoking, the increase can also be tied to its popularity among celebrities, as well as to the social nature of its practice. But whatever the reason, it is clear that cigars are big business in the U.S. with higher sales of premium brands each and every year.
					<br>
					Magazines like Cigar Aficionado portray cigar smoking as alluring, and perhaps slightly risqu      </p>
				</div>
				<div class="col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-12">
					<b>First header</b>
					<p>Lost In Lagos Portugal</p>
					<b class="marg-t-60">Second header</b>
					<p>Cheap Airline Tickets Great Ways To Save</p>
				</div>
			</div>
		</div>
	</section>