	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4 col-xs-12">
					<b class="h6">header</b>
					<h3>Selecting The Right Hotel</h3>
				</div>	
				<div class="col-md-7 col-md-offset-1 col-sm-7 col-sm-offset-1 col-xs-12">
					<p>The practice of cigar smoking has been on the rise in the U.S. since the early 90’s. In part due to a reputation as a glamorous alternative to cigarette smoking, the increase can also be tied to its popularity among celebrities, as well as to the social nature of its practice. But whatever the reason, it is clear that cigars are big business in the U.S. with higher sales of premium brands each and every year.</p>
				</div>	
			</div>
		</div>
	</section>