	<section class="bg-color--white-2 bg-color--gradient">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4 col-xs-12">
					<b>First header</b>
					<p>The diseases most commonly seen in travellers are diarrhoea, malaria (if you travel in a malaria-infested area), accidents (when travelling by automobile or swimming), wound infections and sexually transmitted diseases.</p>
				</div>	
				<div class="col-md-4 col-sm-4 col-xs-12">
					<b>Second header</b>
					<p>Tremblant is based in Canada and has over 90 runs servicing millions of skiers each year. With 13 state-of-the-art ski lifts and a selection of choices for both snowboarders and skiers Tremblant attained its </p>
				</div>	
				<div class="col-md-4 col-sm-4 col-xs-12">
					<b>Third header</b>
					<p>As conscious traveling Paupers we must always be concerned about our dear Mother Earth. If you think about it, you travel across her face, and She is the host to your journey; without Her we could not find the unfolding adventures that attract and feed our souls.</p>
				</div>	
			</div>
		</div>
	</section>