	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-sm-5 col-xs-12">
					<b class="h6">HEADER</b>
					<h3>It S Hurricane Season But We Are Visiting Hilton Head Island</h3>
				</div>	
				<div class="col-md-6 col-md-offset-1 col-sm-6 col-sm-offset-1 col-xs-12">
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12">
							<b>First header</b>
							<p>The diseases most commonly seen in travellers are diarrhoea, malaria (if you travel in a malaria-infested area), accidents (when travelling by automobile or swimming), wound infections and sexually transmitted diseases.</p>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<b>Second header</b>
							<p>Tremblant is based in Canada and has over 90 runs servicing millions of skiers each year. With 13 state-of-the-art ski lifts and a selection of choices for both snowboarders and skiers Tremblant attained its </p>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</section>