	<section>
		<div class="container">
			<div class="row marg-t-30">
				<div class="col-md-4 col-md-offset-1 col-sm-5  col-sm-offset-1 col-xs-12 text-right text-left-xs">
					<h1 class="h3">Tourism Is Back In Full Swing In Cancun Mexico</h1>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					<p>Most people who work in an office environment, buy computer products, or have a computer at home have had the “fun” experience of dealing with technical support. It’s not always the easiest, or most pleasant, experience but hopefully this article will help you make the best of the situation the next time you call. </p>
				</div>		
			</div>
		</div>
	</section>