	<section>
		<div class="container">
			<div class="row marg-b-60 marg-t-120">
				<div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12 text-center">
					<h6>HEADER</h6>
					<h1 class="h2">Global Resorts Network Grn Putting Timeshares To Shame</h1>
				</div>
			</div>
		</div>
	</section>