	<section class="bg-color--white-2">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-sm-12 col-xs-12">
					<div class="row flex flex-wrap flex-equal">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 marg-b-30">
							<div class="bg-color--white">
								<div class="background-image h-2">
									<div class="bg" style="background: url('images/low/andrew-neel-218073.jpg');"></div>
								</div>
								<div class="boxed">
									<b class="text--opacity-5">10:30</b><br>
									<a href="#"><h5>Get Around Easily With A New York Limousine Service</h5></a>
									<p>Maui By Air The Best Way Around The Island</p>
									<div class="row">
										<div class="col-md-12 col-sm-12 col-xs-12">
											<b class="offset-r-15"><i class="material-icons"></i> 5</b>
											<b><i class="material-icons"></i> 15</b>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 marg-b-30">
							<div class="bg-color--white">
								<div class="background-image h-2" data-opacity="1">
									<div data-shadow-bottom="3"></div>
									<div class="bg" style="background: url('images/low/annie-liao-221718.jpg');"></div>
									<div class="container pos-vertical-center text-center">
										<a href="#" class="material-icons ico-md">play_arrow</a>
									</div>
									<div class="container pos-absolute pos-bottom offset-b-15 text-right">
										<b class="boxed-xs">01:28</b>
									</div>
								</div>
								<div class="boxed">
									<b class="text--opacity-5">10:30</b><br>
									<a href="#"><h5>Online Games How To Play To Win</h5></a>
									<p>Get Around Easily With A New York Limousine Service</p>
									<div class="row">
										<div class="col-md-12 col-sm-12 col-xs-12">
											<b class="offset-r-15"><i class="material-icons"></i> 5</b>
											<b><i class="material-icons"></i> 15</b>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 marg-b-30">
							<div class="bg-color--white">
								<div class="background-image h-2">
									<div class="bg" style="background: url('images/low/bewakoof-com-official-215985.jpg');"></div>
								</div>
								<div class="boxed marg-null">
									<b class="text--opacity-5">10:30</b><br>
									<a href="#"><h5>See The Unmatched Beauty Of The Great Lakes</h5></a>
									<p>What Makes A Hotel Boutique</p>
									<div class="row">
										<div class="col-md-12 col-sm-12 col-xs-12">
											<b class="offset-r-15"><i class="material-icons"></i> 5</b>
											<b><i class="material-icons"></i> 15</b>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 marg-b-30">
							<div class="bg-color--white">
								<div class="background-image h-2">
									<div class="bg" style="background: url('images/low/gina-zee-97522.jpg');"></div>
								</div>
								<div class="boxed marg-null">
									<b class="text--opacity-5">10:30</b><br>
									<a href="#"><h5>Choose The Perfect Accommodations</h5></a>
									<p>Cruising Destination Ideas</p>
									<div class="row">
										<div class="col-md-12 col-sm-12 col-xs-12">
											<b class="offset-r-15"><i class="material-icons"></i> 5</b>
											<b><i class="material-icons"></i> 15</b>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 marg-b-30">
							<div class="bg-color--white">
								<div class="boxed marg-null">
									<a href="#"><h5>Get Around Easily With A New York Limousine Service</h5></a>
									<p>Maui By Air The Best Way Around The Island</p>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 marg-b-30">
							<div class="bg-color--white">
								<div class="boxed marg-null">
									<a href="#"><h5>Get Around Easily With A New York Limousine Service</h5></a>
									<p>Maui By Air The Best Way Around The Island</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-12 col-xs-12">
					<div class="row flex flex-wrap flex-equal">
						<div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 marg-b-30">
							<div class="bg-color--white">
								<div class="boxed">
									<b class="h6">CATEGORIES</b>
									<ul class="ul--list">
										<li><a href="#">Photography <small class="right">21</small></a></li>
										<li><a href="#">Company <small class="right">5</small></a></li>
										<li><a href="#">Studio <small class="right">14</small></a></li>
										<li><a href="#">Products <small class="right">32</small></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 marg-b-30">
							<div class="bg-color--white">
								<div class="boxed">
									<b class="h6">TAGS</b>
									<ul class="ul--list ul--inline ul-xs">
										<li><a href="#">Photography</a></li>
										<li><a href="#">Company</a></li>
										<li><a href="#">Studio</a></li>
										<li><a href="#">Products</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 marg-b-30">
							<div class="bg-color--white">
								<div class="boxed">
									<b class="h6">COMING SOON</b>
									<div class="background-image h-4 marg-t-30" data-opacity="4">
										<div data-shadow-bottom="3"></div>
										<div class="bg" style="background: url('images/low/jat2agxaneg-yuriy-kovalev.jpg');"></div>
										<div class="container pos-absolute pos-top">
											<div class="row">
												<div class="col-md-12 col-sm-12 col-xs-12">
													<h5 class="boxed">Cdc Issues Health Alert Notice For Travelers To Usa From Hon</h5>
												</div>
											</div>
										</div>
										<div class="container pos-absolute pos-bottom offset-b-15 text-right">
											<div class="row">
												<div class="col-md-12 col-sm-12 col-xs-12">
													<a href="#" class="boxed">More</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
							<div class="bg-color--white">
								<div class="boxed">
									<h6>Subscribe</h6>
									<form data-mailchimp="" action="//aristarx.us8.list-manage.com/subscribe/post?u=9a6a86ceeaced7c24394b445c&amp;id=28383e4b96" method="post" target="_blank" data-message="Thanks for subscribing!">
										<div class="row">
											<div class="col-md-12 col-sm-12 col-xs-12">
												<input type="email" placeholder="Email Address" name="EMAIL" class="valid" data-alert="Please write your e-mail">
												<input type="text" name="b_9a6a86ceeaced7c24394b445c_28383e4b96" class="hide">
											</div>
											<div class="col-md-12 col-sm-12 col-xs-12">
												<input type="submit" class="btn btn--line btn--stretched-xs" value="Subscribe">
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>	
				</div>
				
			</div>
		</div>
		<div class="container">
			<div class="row marg-t-30">
				<div class="col-md-2 col-sm-2 col-xs-2 pagination__controls pagination__controls--disabled">
					<i class="material-icons"></i>
					<b class="hidden-xs">Previous</b>
				</div>	
				<div class="col-md-8 col-sm-8 col-xs-8 text-center">
					<ul class="pagination">
						<li class="pagination__page--active"><span>1</span></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
					</ul>
				</div>
				<a href="#">
				<div class="col-md-2 col-sm-2 col-xs-2 pagination__controls text-right">
					<b class="hidden-xs">Next</b>
					<i class="material-icons"></i>
				</div>	
				</a>
			</div>
		</div>
	</section>