	<section class="bg-color--white-2">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<h3>Comments <small class="offset-l-15 text--opacity-3"><i class="material-icons"></i> 3</small></h3>
						</div>
					</div>
					<div class="row">
						<div class="col-md-1 col-sm-2 col-xs-2">
							<div class="bg bg--circle bg--circle-xs" style="background: url('images/people/fn_bt9fwg_e-joe-gardner.jpg');">
							</div>
						</div>
						<div class="col-md-10 col-sm-10 col-xs-12">
							<b>Eunice Swanson <span class="offset-l-15 text--opacity-3">10-25-2017</span></b>
							<p>Life Advice Looking Through A Window</p>
							<a href="#">Reaply</a>
						</div>
					</div>
					<div class="row marg-t-30">
						<div class="col-md-1 col-md-offset-1 col-sm-2 col-sm-offset-1 col-xs-2 col-xs-offset-1">
							<div class="bg bg--circle bg--circle-xs" style="background: url('images/people/gkf6_gndsum-christopher-campbell.jpg');">
							</div>
						</div>
						<div class="col-md-9 col-sm-9 col-sm-offset-0 col-xs-11 col-xs-offset-1">
							<b>Derrick Matthews <span class="offset-l-15 text--opacity-3">10-25-2017</span></b>
							<p>Cdc Issues Health Alert Notice For Travelers To Usa From Hon</p>
							<a href="#">Reaply</a>
						</div>
					</div>
					<div class="row marg-t-30">
						<div class="col-md-1 col-sm-2 col-xs-2">
							<div class="bg bg--circle bg--circle-xs" style="background: url('images/people/iegyacy101s-angello-lopez.jpg');">
							</div>
						</div>
						<div class="col-md-10 col-sm-10 col-xs-12">
							<b>Zachary Farmer <span class="offset-l-15 text--opacity-3">10-25-2017</span></b>
							<p>Sierra Tarahumara, popularly known as Copper Canyon is situated in Mexico. The area is a favorite destination among those seeking an adventurous vacation. Copper Canyon is one of the six gorges in the area. Although the name suggests that the gorge might have some relevance to copper mining, this is not the case. </p>
							<a href="#">Reaply</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
					<form>
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<h4>Leave a comment</h4>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input type="text" placeholder="Name" name="name">
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input type="email" placeholder="Email *" name="email" class="valid" data-alert="Please write your e-mail">
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12">
								<textarea placeholder="Comment" name="comment"></textarea>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12">
								<input type="submit" class="btn btn--default btn--stretched-xs" value="submit">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>