	<section class="bg-color--gray-2 padding-null">
		<div class="container-fluid">
			<div class="row row--fluid">
			<div class="col-md-4 col-sm-6 col-xs-12">
				<a href="#">
				</a><div class="background-image hover h-5 boxed--shadow"><a href="#">
					<div class="bg" style="background: url('images/hi/andre-hunter-235158 (1).jpg');"></div>
					<div data-shadow-bottom="8"></div>
					</a><div class="container pos-absolute pos-bottom"><a href="#">
						</a><div class="row"><a href="#">
							</a><div class="col-md-12 col-sm-12 col-xs-12"><a href="#">
								</a><div class="boxed"><a href="#">
									<b class="text--opacity-5">10:30</b><br>
									</a><a href="#"><h5>Get Around Easily With A New York Limousine Service</h5></a>
									<p>Maui By Air The Best Way Around The Island</p>
									<div class="row hover__animate  hover__animate--slide-in">
										<div class="col-md-12 col-sm-12 col-xs-12">
											<b class="offset-r-15"><i class="material-icons"></i> 5</b>
											<b><i class="material-icons"></i> 15</b>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			<div class="col-md-8 col-sm-6 col-xs-12">
				<a href="#">
				</a><div class="background-image hover h-5 boxed--shadow"><a href="#">
					<div class="bg" style="background: url('images/hi/autumn-goodman-242825.jpg');"></div>
					<div data-shadow-bottom="8"></div>
					</a><div class="container pos-absolute pos-bottom"><a href="#">
						</a><div class="row"><a href="#">
							</a><div class="col-md-12 col-sm-12 col-xs-12"><a href="#">
								</a><div class="boxed"><a href="#">
									<b class="text--opacity-5">10:30</b><br>
									</a><a href="#"><h5>Online Games How To Play To Win</h5></a>
									<p>Get Around Easily With A New York Limousine Service</p>
									<div class="row hover__animate  hover__animate--slide-in">
										<div class="col-md-12 col-sm-12 col-xs-12">
											<b class="offset-r-15"><i class="material-icons"></i> 5</b>
											<b><i class="material-icons"></i> 15</b>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			<div class="col-md-8 col-sm-6 col-xs-12">
				<a href="#">
				</a><div class="background-image hover h-6 boxed--shadow"><a href="#">
					<div class="bg" style="background: url('images/hi/filip-mroz-235735.jpg');"></div>
					<div data-shadow-bottom="8"></div>
					</a><div class="container pos-vertical-center text-center"><a href="#">
						</a><a href="#" class="material-icons ico-md">play_arrow</a>
					</div>
					<div class="container pos-absolute pos-bottom">
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="boxed">
									<b class="text--opacity-5">10:30</b><br>
									<a href="#"><h5>See The Unmatched Beauty Of The Great Lakes</h5></a>
									<p>What Makes A Hotel Boutique</p>
									<div class="row hover__animate  hover__animate--slide-in">
										<div class="col-md-12 col-sm-12 col-xs-12">
											<b class="offset-r-15"><i class="material-icons"></i> 5</b>
											<b><i class="material-icons"></i> 15</b>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			<div class="col-md-4 col-sm-6 col-xs-12">
				<a href="#">
				</a><div class="background-image hover h-3 boxed--shadow"><a href="#">
					<div class="bg" style="background: url('images/hi/marvin-meyer-242794.jpg');"></div>
					<div data-shadow-bottom="8"></div>
					</a><div class="container pos-absolute pos-bottom"><a href="#">
						</a><div class="row"><a href="#">
							</a><div class="col-md-12 col-sm-12 col-xs-12"><a href="#">
								</a><div class="boxed"><a href="#">
									<b class="text--opacity-5">10:30</b><br>
									</a><a href="#"><h5>Choose The Perfect Accommodations</h5></a>
									<p>Cruising Destination Ideas</p>
									<div class="row hover__animate  hover__animate--slide-in">
										<div class="col-md-12 col-sm-12 col-xs-12">
											<b class="offset-r-15"><i class="material-icons"></i> 5</b>
											<b><i class="material-icons"></i> 15</b>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<a href="#">
				</a><div class="background-image hover h-3 boxed--shadow"><a href="#">
					<div class="bg" style="background: url('images/hi/oliver-cole-236264 (1).jpg');"></div>
					<div data-shadow-bottom="8"></div>
					</a><div class="container pos-absolute pos-bottom"><a href="#">
						</a><div class="row"><a href="#">
							</a><div class="col-md-12 col-sm-12 col-xs-12"><a href="#">
								</a><div class="boxed"><a href="#">
									<b class="text--opacity-5">10:30</b><br>
									</a><a href="#"><h5>Get Around Easily With A New York Limousine Service</h5></a>
									<p>Maui By Air The Best Way Around The Island</p>
									<div class="row hover__animate  hover__animate--slide-in">
										<div class="col-md-12 col-sm-12 col-xs-12">
											<b class="offset-r-15"><i class="material-icons"></i> 5</b>
											<b><i class="material-icons"></i> 15</b>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		</div>
		<div class="container">
			<div class="row marg-t-30 marg-b-60">
				<div class="col-md-2 col-sm-2 col-xs-2 pagination__controls pagination__controls--disabled">
					<i class="material-icons"></i>
					<b class="hidden-xs">Previous</b>
				</div>	
				<div class="col-md-8 col-sm-8 col-xs-8 text-center">
					<ul class="pagination">
						<li class="pagination__page--active"><span>1</span></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
					</ul>
				</div>
				<a href="#">
				<div class="col-md-2 col-sm-2 col-xs-2 pagination__controls text-right">
					<b class="hidden-xs">Next</b>
					<i class="material-icons"></i>
				</div>	
				</a>
			</div>
		</div>
	</section>