	<section class="bg-color--white-2">
		<div class="container">
			<div class="row grid">
				
				<div class="col-lg-4 col-md-5 col-sm-4 col-xs-12 grid-item grid-sizer">
					<div class="bg-color--white">
						<div class="boxed">
							<b class="h6">CATEGORIES</b>
							<ul class="ul--list">
								<li><a href="#">Photography <small class="right">21</small></a></li>
								<li><a href="#">Company <small class="right">5</small></a></li>
								<li><a href="#">Studio <small class="right">14</small></a></li>
								<li><a href="#">Products <small class="right">32</small></a></li>
							</ul>
						</div>
					</div>
					<div class="bg-color--white marg-t-30">
						<div class="boxed">
							<b class="h6">TAGS</b>
							<ul class="ul--list ul--inline ul-xs">
								<li><a href="#">Photography</a></li>
								<li><a href="#">Company</a></li>
								<li><a href="#">Studio</a></li>
								<li><a href="#">Products</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-5 col-sm-4 col-xs-12 grid-item grid-sizer">
					<div class="bg-color--white">
						<img src="images/low/crown-labs-agency-222313.jpg" alt="">
						<div class="boxed marg-null">
							<b class="text--opacity-5">10:30</b><br>
							<a href="#"><h5>Get Around Easily With A New York Limousine Service</h5></a>
							<p>Maui By Air The Best Way Around The Island</p>
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<b class="offset-r-15"><i class="material-icons"></i> 5</b>
									<b><i class="material-icons"></i> 15</b>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-5 col-sm-4 col-xs-12 grid-item grid-sizer">
					<div class="bg-color--white">
						<div class="background" data-opacity="1">
							<div data-shadow-bottom="3"></div>
							<img src="images/low/brooke-cagle-193472.jpg" alt="">
							<div class="container pos-vertical-center text-center">
								<a href="#" class="material-icons ico-md">play_arrow</a>
							</div>
							<div class="container pos-absolute pos-bottom offset-b-15 text-right">
								<b class="boxed-xs">01:28</b>
							</div>
						</div>
						<div class="boxed">
							<b class="text--opacity-5">10:30</b><br>
							<a href="#"><h5>Online Games How To Play To Win</h5></a>
							<p>Get Around Easily With A New York Limousine Service</p>
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<b class="offset-r-15"><i class="material-icons"></i> 5</b>
									<b><i class="material-icons"></i> 15</b>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-5 col-sm-4 col-xs-12 grid-item grid-sizer">
					<div class="bg-color--white">
						<img src="images/low/dan-gold-218879.jpg" alt="">
						<div class="boxed marg-null">
							<b class="text--opacity-5">10:30</b><br>
							<a href="#"><h5>See The Unmatched Beauty Of The Great Lakes</h5></a>
							<p>What Makes A Hotel Boutique</p>
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<b class="offset-r-15"><i class="material-icons"></i> 5</b>
									<b><i class="material-icons"></i> 15</b>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-5 col-sm-4 col-xs-12 grid-item grid-sizer">
					<div class="bg-color--white">
						<img src="images/low/bonjbu19iiy-brooke-cagle.jpg" alt="">
						<div class="boxed marg-null">
							<b class="text--opacity-5">10:30</b><br>
							<a href="#"><h5>Choose The Perfect Accommodations</h5></a>
							<p>Cruising Destination Ideas</p>
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12">
									<b class="offset-r-15"><i class="material-icons"></i> 5</b>
									<b><i class="material-icons"></i> 15</b>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-5 col-sm-4 col-xs-12 grid-item grid-sizer">
					<div class="bg-color--white">
						<div class="boxed marg-null">
							<a href="#"><h5>Get Around Easily With A New York Limousine Service</h5></a>
							<p>Maui By Air The Best Way Around The Island</p>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		<div class="container">
			<div class="row marg-t-30">
				<div class="col-md-2 col-sm-2 col-xs-2 pagination__controls pagination__controls--disabled">
					<i class="material-icons"></i>
					<b class="hidden-xs">Previous</b>
				</div>	
				<div class="col-md-8 col-sm-8 col-xs-8 text-center">
					<ul class="pagination">
						<li class="pagination__page--active"><span>1</span></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
					</ul>
				</div>
				<a href="#">
				<div class="col-md-2 col-sm-2 col-xs-2 pagination__controls text-right">
					<b class="hidden-xs">Next</b>
					<i class="material-icons"></i>
				</div>	
				</a>
			</div>
		</div>
	</section>