	<section>
		<div class="container">
			<div class="row marg-t-60">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-md-3 col-sm-4 col-xs-12">
							<div class="row">
								<div class="col-md-12 col-sm-12 col-xs-12 marg-b-30">
									<h6>CATEGORY</h6>
									<ul class="ul--list">
										<li><a href="#">Photography</a></li>
										<li><a href="#">Company</a></li>
										<li><a href="#">Studio</a></li>
										<li><a href="#">Products</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-8 col-xs-12">
							<div class="row flex flex-wrap flex-equal">
								<div class="col-md-12 col-sm-12 col-xs-12 marg-b-30">
										<b class="text--opacity-5">10:30</b><br>
										<a href="#"><h3>Get Around Easily With A New York Limousine Service</h3></a>
										<div class="background-image h-2 marg-b-30 boxed--radius-sm">
											<div class="bg" style="background: url('images/hi/allef-vinicius-227743.jpg');"></div>
										</div>
										<p>Las Vegas has more than 100,000 hotel rooms to choose from. There is something for every budget, and enough entertainment within walking distance to keep anyone occupied for months, never mind the usual weekend stay or honeymoon. There are few cities which have as many luxury hotels as Las Vegas.</p>
										<div class="row">
											<div class="col-md-12 col-sm-12 col-xs-12">
												<b class="offset-r-15"><i class="material-icons"></i> 5</b>
												<b><i class="material-icons"></i> 15</b>
											</div>
										</div>
										<hr>
								</div>
								<div class="col-md-12 col-sm-12 col-xs-12 marg-b-30">
										<b class="text--opacity-5">10:30</b><br>
										<a href="#"><h3>Choosing A Static Caravan</h3></a>
										<div class="background-image h-2 marg-b-30 boxed--radius-sm">
											<div class="bg" style="background: url('images/hi/annie-liao-221718.jpg');"></div>
										</div>
										<p>In my capacity as the UK Director of Operations for One World Tours Limited, one of my jobs is to ensure every client has the best tour possible, so here are my top suggestions for sites to take in during your holiday Hong Kong.</p>
										<div class="row">
											<div class="col-md-12 col-sm-12 col-xs-12">
												<b class="offset-r-15"><i class="material-icons"></i> 5</b>
												<b><i class="material-icons"></i> 15</b>
											</div>
										</div>
										<hr>
								</div>
								<div class="col-md-12 col-sm-12 col-xs-12 marg-b-30">
										<b class="text--opacity-5">10:30</b><br>
										<a href="#"><h3>Get Around Easily With A New York Limousine Service</h3></a>
										<p>If you really enjoy spending your vacation ‘on water’ or would like to try something new and exciting for the first time, then you can consider a houseboat vacation. There are so many fun things to do and so many great landscapes to see on a houseboat vacation! But before making further plans, let’s take a look at the options that you have for a low-cost vacation on water: you could rent a houseboat this year and try out an altogether exotic kind of vacation this year, or you could indulge in a houseboat timeshare. </p>
										<div class="row">
											<div class="col-md-12 col-sm-12 col-xs-12">
												<b class="offset-r-15"><i class="material-icons"></i> 5</b>
												<b><i class="material-icons"></i> 15</b>
											</div>
										</div>
										<hr>
								</div>
							</div>
							<div class="row marg-t-30">
								<div class="col-md-2 col-sm-2 col-xs-2 pagination__controls pagination__controls--disabled">
									<i class="material-icons"></i>
								</div>	
								<div class="col-md-8 col-sm-8 col-xs-8 text-center">
									<ul class="pagination">
										<li class="pagination__page--active"><span>1</span></li>
										<li><a href="#">2</a></li>
										<li><a href="#">3</a></li>
										<li><a href="#">4</a></li>
									</ul>
								</div>
								<a href="#">
								<div class="col-md-2 col-sm-2 col-xs-2 pagination__controls text-right">
									<i class="material-icons"></i>
								</div>	
								</a>
							</div>			
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>