	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-12 text-center">
					<div class="bg bg--circle bg--circle-xs" style="background: url('images/people/fn_bt9fwg_e-joe-gardner.jpg');"></div><br>
					<b>Eunice Swanson</b><br>
					<b class="offset-r-15"><i class="material-icons"></i> 5</b> 
					<b><i class="material-icons"></i> 15</b><br>
					<i>«East Maui helicopter tours will give you a view of the ten thousand foot volcano, Haleakala or House of the sun. »</i>
				</div>
				<div class="col-md-8 col-md-offset-1 col-sm-8 col-sm-offset-1 col-xs-12">
					<h1 class="h3">Get Around Easily With A New York Limousine Service</h1>
					<p class="p-lg">Maui helicopter tours are a great way to see the island from a different perspective and have a fun adventure. If you have never been on a helicopter before, this is a great place to do it. You will see all the beauty that Maui has to offer and can have a great time for the entire family. </p>
					<h5>Get Ready Fast For Fall Leaf Viewing Trips</h5>
					<p class="p-lg">Tours are not too expensive and last from forty five minutes to over an hour. You can see places that are typically inaccessible with Maui helicopter tours. Places that are not available by foot or vehicle can be seen by air. Breathtaking sights await those who are up for some fun Maui helicopter tours. If you will be staying on the island for a considerable amount of time, you may want to think about doing multiple Maui helicopter tours. There are multiple destinations and you can see all the island has to offer.</p>
				</div>
			</div>
		</div>
	</section>
	<section class="h-5 background-image">
		<div class="bg" style="background: url('images/hi/autri-taheri-210905.jpg');"></div>
	</section>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-12 text-center">
				</div>
				<div class="col-md-8 col-md-offset-1 col-sm-8 col-sm-offset-1 col-xs-12">
					<h5>Get Ready Fast For Fall Leaf Viewing Trips</h5>
					<p class="p-lg">This volcano is dormant and last erupted in 1790. You will be able to see the crater of the volcano and the dry, arid earth surrounding the south side of the volcano’s slop with Maui helicopter tours. The view of this is truly breathtaking and is a sight not to be missed. It is also highly educational with a chance to see a dormant volcano up close, something that can not be seen every day. On the northern and southern sides of the volcano, you will see an incredible different view however. These sides are lush and green and you will be able to see some beautiful waterfalls and gorgeous brush. Tropical rainforests abound on this side of the island and it is something that is not easily accessible by any other means than by air. Maui helicopter tours will allow you to see all of these sights. Make sure to take a camera or video with you when going on Maui helicopter tours to capture the beauty of the scenery and to show friends and family at home all the wonderful things you saw while on vacation.</p>
				</div>	
			</div>
		</div>
		<div class="container">
			<div class="row marg-t-30">
				<div class="col-md-2 col-sm-2 col-xs-6 pagination__controls pagination__controls--disabled">
					<b><i class="material-icons"></i> Previous</b>
				</div>	
				<div class="col-md-8 col-sm-8 col-xs-8 text-center hidden-xs">
					<ul class="pagination">
						<li class="pagination__page--active"><span>1</span></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
					</ul>
				</div>
				<a href="#">
				<div class="col-md-2 col-sm-2 col-xs-6 pagination__controls text-right">
					<b>Next <i class="material-icons"></i><br><small>A Time Travel Postcard</small></b>
				</div>	
				</a>
			</div>
		</div>
	</section>