	<section class="bg-color--white-2">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<h1 class="h3">Get Around Easily With A New York Limousine Service</h1>
					<b class="text--opacity-5 offset-r-15">10:30</b>
					<b class="offset-r-15"><i class="material-icons"></i> 5</b> 
					<b><i class="material-icons"></i> 15</b><br>
				</div>

				<div class="col-md-8 col-sm-12 col-xs-12">
					<img src="images/hi/jaz-king-221367.jpg" alt="">
					<div class="bg-color--white boxed">
						<p class="p-lg">Maui helicopter tours are a great way to see the island from a different perspective and have a fun adventure. If you have never been on a helicopter before, this is a great place to do it. You will see all the beauty that Maui has to offer and can have a great time for the entire family. </p>
						<h5>Get Ready Fast For Fall Leaf Viewing Trips</h5>
						<p class="p-lg">Tours are not too expensive and last from forty five minutes to over an hour. You can see places that are typically inaccessible with Maui helicopter tours. Places that are not available by foot or vehicle can be seen by air. Breathtaking sights await those who are up for some fun Maui helicopter tours. If you will be staying on the island for a considerable amount of time, you may want to think about doing multiple Maui helicopter tours. There are multiple destinations and you can see all the island has to offer.</p>
						
						<div class="row marg-t-30 marg-b-30">
							<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
								<i class="p-lg">«East Maui helicopter tours will give you a view of the ten thousand foot volcano, Haleakala or House of the sun. »</i>
							</div>
						</div>
						
						<p>This volcano is dormant and last erupted in 1790. You will be able to see the crater of the volcano and the dry, arid earth surrounding the south side of the volcano’s slop with Maui helicopter tours. The view of this is truly breathtaking and is a sight not to be missed. It is also highly educational with a chance to see a dormant volcano up close, something that can not be seen every day. On the northern and southern sides of the volcano, you will see an incredible different view however. These sides are lush and green and you will be able to see some beautiful waterfalls and gorgeous brush. Tropical rainforests abound on this side of the island and it is something that is not easily accessible by any other means than by air. Maui helicopter tours will allow you to see all of these sights. Make sure to take a camera or video with you when going on Maui helicopter tours to capture the beauty of the scenery and to show friends and family at home all the wonderful things you saw while on vacation.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-12 col-xs-12">
					<div class="row flex flex-wrap flex-equal">
						<div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 marg-b-30">
							<div class="bg-color--white">
								<div class="boxed">
									<b class="h6">CATEGORIES</b>
									<ul class="ul--list">
										<li><a href="#">Photography <small class="right">21</small></a></li>
										<li><a href="#">Company <small class="right">5</small></a></li>
										<li><a href="#">Studio <small class="right">14</small></a></li>
										<li><a href="#">Products <small class="right">32</small></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 marg-b-30">
							<div class="bg-color--white">
								<div class="boxed">
									<b class="h6">TAGS</b>
									<ul class="ul--list ul--inline ul-xs">
										<li><a href="#">Photography</a></li>
										<li><a href="#">Company</a></li>
										<li><a href="#">Studio</a></li>
										<li><a href="#">Products</a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 marg-b-30">
							<div class="bg-color--white">
								<div class="boxed">
									<b class="h6">COMING SOON</b>
									<div class="background-image h-4 marg-t-30" data-opacity="4">
										<div data-shadow-bottom="3"></div>
										<div class="bg" style="background: url('images/low/kari-shea-226157.jpg');"></div>
										<div class="container pos-absolute pos-top">
											<div class="row">
												<div class="col-md-12 col-sm-12 col-xs-12">
													<h5 class="boxed">Cdc Issues Health Alert Notice For Travelers To Usa From Hon</h5>
												</div>
											</div>
										</div>
										<div class="container pos-absolute pos-bottom offset-b-15 text-right">
											<div class="row">
												<div class="col-md-12 col-sm-12 col-xs-12">
													<a href="#" class="boxed">More</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
							<div class="bg-color--white">
								<div class="boxed">
									<h6>Subscribe</h6>
									<form data-mailchimp="" action="//aristarx.us8.list-manage.com/subscribe/post?u=9a6a86ceeaced7c24394b445c&amp;id=28383e4b96" method="post" target="_blank" data-message="Thanks for subscribing!">
										<div class="row">
											<div class="col-md-12 col-sm-12 col-xs-12">
												<input type="email" placeholder="Email Address" name="EMAIL" class="valid" data-alert="Please write your e-mail">
												<input type="text" name="b_9a6a86ceeaced7c24394b445c_28383e4b96" class="hide">
											</div>
											<div class="col-md-12 col-sm-12 col-xs-12">
												<input type="submit" class="btn btn--line btn--stretched-xs" value="Subscribe">
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>		
				</div>
						
			</div>
		</div>
		<div class="container">
			<div class="row marg-t-30">
				<div class="col-md-1 col-sm-1 col-xs-6 pagination__controls pagination__controls--disabled">
					<i class="material-icons"></i>
				</div>	
				<div class="col-md-6 col-sm-10 col-xs-10 text-center hidden-xs">
					<ul class="pagination">
						<li class="pagination__page--active"><span>1</span></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
					</ul>
				</div>
				<a href="#">
				<div class="col-md-1 col-sm-1 col-xs-6 pagination__controls text-right">
					<i class="material-icons"></i>
				</div>	
				</a>
			</div>
		</div>
		<div class="container">
			<div class="row marg-t-60">
				<div class="col-md-8 col-sm-12 col-xs-12">
					<h3>You May also Like</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 marg-b-30">
							<div class="bg-color--white">
								<div class="background-image h-2">
									<div class="bg" style="background: url('images/low/lhtqjazuprq-breather.jpg');"></div>
								</div>
								<div class="boxed marg-null">
									<b class="text--opacity-5">10:30</b><br>
									<a href="#"><h5>See The Unmatched Beauty Of The Great Lakes</h5></a>
									<p>What Makes A Hotel Boutique</p>
									<div class="row">
										<div class="col-md-12 col-sm-12 col-xs-12">
											<b class="offset-r-15"><i class="material-icons"></i> 5</b>
											<b><i class="material-icons"></i> 15</b>
										</div>
									</div>
								</div>
							</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 marg-b-30">
							<div class="bg-color--white">
								<div class="background-image h-2">
									<div class="bg" style="background: url('images/low/rju_xd3tgyc-breather.jpg');"></div>
								</div>
								<div class="boxed marg-null">
									<b class="text--opacity-5">10:30</b><br>
									<a href="#"><h5>Choose The Perfect Accommodations</h5></a>
									<p>Cruising Destination Ideas</p>
									<div class="row">
										<div class="col-md-12 col-sm-12 col-xs-12">
											<b class="offset-r-15"><i class="material-icons"></i> 5</b>
											<b><i class="material-icons"></i> 15</b>
										</div>
									</div>
								</div>
							</div>
				</div>
			</div>
		</div>
	</section>
	<section class="bg-color--white-2 padding-null">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-sm-12 col-xs-12">
					<div class="bg-color--white boxed-lg">
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<h3>Comments <small class="offset-l-15 text--opacity-3"><i class="material-icons"></i> 3</small></h3>
							</div>
						</div>
						<div class="row">
							<div class="col-md-1 col-sm-2 col-xs-2">
								<div class="bg bg--circle bg--circle-xs" style="background: url('images/people/fn_bt9fwg_e-joe-gardner.jpg');">
								</div>
							</div>
							<div class="col-md-10 col-sm-10 col-xs-12">
								<b>Eunice Swanson <span class="offset-l-15 text--opacity-3">10-25-2017</span></b>
								<p>Life Advice Looking Through A Window</p>
								<a href="#">Reaply</a>
							</div>
						</div>
						<div class="row marg-t-30">
							<div class="col-md-1 col-md-offset-1 col-sm-2 col-sm-offset-1 col-xs-2 col-xs-offset-1">
								<div class="bg bg--circle bg--circle-xs" style="background: url('images/people/gkf6_gndsum-christopher-campbell.jpg');">
								</div>
							</div>
							<div class="col-md-9 col-sm-9 col-sm-offset-0 col-xs-11 col-xs-offset-1">
								<b>Derrick Matthews <span class="offset-l-15 text--opacity-3">10-25-2017</span></b>
								<p>Cdc Issues Health Alert Notice For Travelers To Usa From Hon</p>
								<a href="#">Reaply</a>
							</div>
						</div>
						<div class="row marg-t-30">
							<div class="col-md-1 col-sm-2 col-xs-2">
								<div class="bg bg--circle bg--circle-xs" style="background: url('images/people/iegyacy101s-angello-lopez.jpg');">
								</div>
							</div>
							<div class="col-md-10 col-sm-10 col-xs-12">
								<b>Zachary Farmer <span class="offset-l-15 text--opacity-3">10-25-2017</span></b>
								<p>Sierra Tarahumara, popularly known as Copper Canyon is situated in Mexico. The area is a favorite destination among those seeking an adventurous vacation. Copper Canyon is one of the six gorges in the area. Although the name suggests that the gorge might have some relevance to copper mining, this is not the case. </p>
								<a href="#">Reaply</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="bg-color--white-2">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-sm-12 col-xs-12">
					<form>
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<h4>Leave a comment</h4>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input type="text" placeholder="Name" name="name">
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12">
								<input type="email" placeholder="Email *" name="email" class="valid" data-alert="Please write your e-mail">
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12">
								<textarea placeholder="Comment" name="comment"></textarea>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12">
								<input type="submit" class="btn btn--default btn--stretched-xs" value="submit">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>