	<header class="vh-70 background-image">
		<div class="bg" data-opacity="3" style="background: url('images/hi/StockSnap_FEEDD7P7H2.jpg');"></div>
		<div class="container pos-vertical-center marg-t-60">
			<div class="row marg-b-120">
				<div class="col-md-8 col-sm-8 col-xs-12">
					<h1 class="h2">Build your pages with Rush template. It’s easy!</h1>
					<p>5 Reasons To Purchase Desktop Computers</p>
					<a href="#" class="btn btn--line btn-md">Sign In</a>			
				</div>
			</div>
		</div>
	</header>