	<header class="vh-70 background-image flex flex-wrap flex-vertical" data-opacity="6">
		<div class="bg parallax" data-range="0.6" style="background: url('images/hi/StockSnap_1LW59GG0WK.jpg');"></div>
		<div class="container flex-vertical__top"></div>
		<div class="container flex-vertical__center marg-t-60 marg-b-60">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12 text-center">
					<h1 class="h3">Build your pages with Rush template. It’s easy!</h1>
					<a href="#video" data-video="kh29_SERH0Y" class="material-icons ico-md">play_arrow</a>
				</div>
			</div>
		</div>
		<div class="container flex-vertical__bottom marg-b-60">
			<div class="row">
				<div class="col-md-8 col-sm-10 col-xs-12">
				</div>
			</div>
		</div>
	</header>