	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
					<img src="images/low/imani-clovis-234736.png" alt="">		
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
					<h1 class="h2 text--bold text--uppercase">Build your pages with Rush template. It’s easy!</h1>
					<p>5 Reasons To Purchase Desktop Computers</p>
					<a href="#" class="btn btn--line btn-md">Sign In</a>			
				</div>
			</div>
		</div>
	</header>