	<header class="vh-70 background-image">
		<div class="flexslider flexslider--light" data-pause="true">
			<!--  Slides -->
			<ul class="slides">
				<li class="flexitem flex-active-slide">
					<div class="bg" data-opacity="7" style="background: url('images/hi/StockSnap_0C4LLJWEEU.jpg');"></div>
					<div class="container pos-vertical-center marg-t-60">
						<div class="row marg-b-120">
							<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12 text-center">
								<h1 class="h3">Build your pages with Rush template. It’s easy!</h1>
								<p class="p-lg">What Makes Flyers Unrivaled</p>
							</div>
						</div>
					</div>
					<div class="container pos-absolute pos-bottom width-100 hidden-xs">
						<div class="row marg-b-60">
							<div class="col-md-12 col-sm-12 col-xs-12">
								
							</div>
						</div>
					</div>
				</li>
				<li class="flexitem">
					<div class="bg" data-opacity="7" style="background: url('images/hi/pexels-photo-310419.jpeg');"></div>
					<div class="container pos-vertical-center marg-t-60">
						<div class="row marg-b-120">
							<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12 text-center">
								<h1 class="h3">Build your pages with Rush template. It’s easy!</h1>
								<p class="p-lg">What Makes Flyers Unrivaled</p>
							</div>
						</div>
					</div>
					<div class="container pos-absolute pos-bottom width-100 hidden-xs">
						<div class="row marg-b-60">
							<div class="col-md-12 col-sm-12 col-xs-12">
								
							</div>
						</div>
					</div>
				</li>
			</ul>
			
			<!--  Main controllers -->
			<div class="container custom-navigation hidden-xs">
				<div class="custom-controls-container">
					<i class="material-icons ico--radial prev">arrow_back</i>
					<i class="material-icons ico--radial next">arrow_forward</i>
				</div>
			</div>
			
			<!--  Additional controllers -->
			<div class="flex-control"></div>
		</div>
	</header>