	<section>
		<div class="container">
			<div class="row marg-t-60">
				<div class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12 text-center">
					<h6>HEADER</h6>
					<h1 class="h2">Build your pages with Rush template. It’s easy!</h1>
					<p>5 Reasons To Purchase Desktop Computers</p>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
					<form data-mailchimp action="//aristarx.us8.list-manage.com/subscribe/post?u=9a6a86ceeaced7c24394b445c&amp;id=28383e4b96" method="post" target="_blank" data-message="Thanks for subscribing!">
						<div class="row form-inline marg-null">
							<div class="col-md-8 col-sm-8 col-xs-12">
								<input type="email" placeholder="Email Address" name="EMAIL" class="valid" data-alert="Please write your e-mail"> 
							</div>
							<div class="col-md-4 col-sm-4 col-xs-12">
								<input type="submit" class="btn btn--default btn--stretched" value="Subscribe">
								<input type="text" name="b_9a6a86ceeaced7c24394b445c_28383e4b96" class="hide">
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<label>
									<input class="checkbox" type="checkbox" name="checkbox-test">
									<span class="checkbox-custom"><i class="material-icons">check</i></span>
									<span class="label">I have read and agree to the <a href="#">Terms</a></span>
								</label>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>