	<header class="vh-70 background-image" data-opacity="6">
		<div class="bg" data-shadow-bottom="10" style="background: url('images/hi/matthew-henry-173673.jpg');"></div>
		<div class="container pos-vertical-center marg-t-60">
			<div class="row marg-b-120">
				<div class="col-md-12 col-sm-12 col-xs-12 text-center">
					
				</div>
			</div>
		</div>
		<div class="container pos-absolute pos-bottom width-100 text-center">
			<div class="row  marg-b-120">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<h1 class="h3">Build your pages with Rush template. It’s easy!</h1>
					<p class="p-lg">What Makes Flyers Unrivaled</p>
				</div>
			</div>
		</div>
	</header>	