<header class="vh-100 background-image flex flex-wrap flex-vertical" data-opacity="4">
		<div class="bg parallax" data-range="0.6" data-shadow-bottom="9" style="background: url('images/hi/jason-briscoe-156653.jpg');"></div>
		<div class="container flex-vertical__top">
			<div class="row">
				<div class="col-md-8 col-sm-10 col-xs-12">
				</div>
			</div>
		</div>
		<div class="container flex-vertical__center marg-t-60 marg-b-60">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<h1 class="h2 marg-b-30">Build your pages with Rush template. It’s easy!</h1>
					<a href="#" class="btn btn--line btn-sm">Tour</a> <a href="#" class="btn btn--default btn-sm">Buy now</a>
				</div>
			</div>
		</div>
		<div class="container container--swipe flex-vertical__bottom marg-b-60">
			<div class="row">
				<div class="col-md-4 col-sm-4 col-xs-8">
					<div class="boxed boxed--border boxed--radius-sm">
						<b>First header</b>
						<p class="p-xs--compact">The Kansas City Chiefs</p>
						<a href="#">More</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-8">
					<div class="boxed boxed--border boxed--radius-sm">
						<b>Second header</b>
						<p class="p-xs--compact">From Wetlands To Canals And Dams Amsterdam Is Alive</p>
						<a href="#">More</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-8">
					<div class="boxed boxed--border boxed--radius-sm">
						<b>Last header</b>
						<p class="p-xs--compact">Maui By Air The Best Way Around The Island</p>
						<a href="#">More</a>
					</div>
				</div>
			</div>
		</div>
	</header>