	<header class="vh-70 background-image overflow-visible flex flex-wrap flex-vertical" data-opacity="2">
		<div class="bg" data-shadow-bottom="3" style="background: url('images/hi/z1l6vcqlzgc-nick-karvounis.jpg');"></div>
		<div class="container flex-vertical__top marg-t-60">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					
				</div>
			</div>
		</div>
		<div class="container flex-vertical__center marg-t-60 marg-b-60">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12 text-center">
					<h1 class="h3">Build your pages with Rush template. It’s easy!</h1>
					<p class="p-lg">What Makes Flyers Unrivaled</p>
				</div>
			</div>
		</div>
		<div class="container flex-vertical__bottom">
			<div class="row marg-b-60">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<form action="" method="">
						<div class="row input-group form-inline marg-null">
							<div class="col-md-3 col-sm-6 col-xs-12">
								<label>Origin</label>
								<div class="input">
									<input type="text" value="New York, NY">
									<div class="input__helper">
										<b>NYC</b>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-12">
								<label>Destination</label>
								<div class="input">
									<input type="text" placeholder="Destination City">
								</div>
							</div>
							<div class="col-md-3 col-sm-5 col-xs-12">
								<label>Depart date</label>
								<div class="input">
									<input class="input-date" type="text" placeholder="Departure">
									<div class="input__helper">
										<i class="material-icons ico-xs">&#xE905;</i>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-5 col-xs-12">
								<label>Return date</label>
								<div class="input">
									<input class="input-date" type="text" placeholder="Return">
									<div class="input__helper">
										<i class="material-icons ico-xs">&#xE904;</i>
									</div>
								</div>
							</div>
							<div class="col-md-2 col-sm-2 col-xs-12">
								<label>Passengers</label>
								<div class="input input-summary dropdown dropdown--toggle-on-click dropdown--right">
									<input type="text" value="1" readonly class="dropdown__toggle">
									<div class="input__helper">
										<i class="material-icons">&#xE7FB;</i>
									</div>
									<div class="dropdown__content dropdown__content--2 bg-color--white">
										<div class="row">
											<div class="col-md-6 col-sm-6 col-xs-6">
												<p class="p-xs p-xs--compact marg-null">Adults</p>
											</div>
											<div class="col-md-6 col-sm-6 col-xs-6">
												<div class="input input-counter">
													<div class="input__helper pos-left pointer input-counter__plus">
														<i class="material-icons ico-xs">&#xE145;</i>
													</div>
													<input type="text" class="text-center" readonly value="1">
													<div class="input__helper pointer input-counter__minus">
														<i class="material-icons ico-xs">&#xE15B;</i>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6 col-sm-6 col-xs-6">
												<p class="p-xs p-xs--compact marg-null">Childrenunder 12 years</p>
											</div>
											<div class="col-md-6 col-sm-6 col-xs-6">
												<div class="input input-counter">
													<div class="input__helper pos-left pointer input-counter__plus">
														<i class="material-icons ico-xs">&#xE145;</i>
													</div>
													<input type="text" class="text-center" readonly value="0">
													<div class="input__helper pointer input-counter__minus">
														<i class="material-icons ico-xs">&#xE15B;</i>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-6 col-sm-6 col-xs-6">
												<p class="p-xs p-xs--compact marg-null">Infantsunder 2 years</p>
											</div>
											<div class="col-md-6 col-sm-6 col-xs-6">
												<div class="input input-counter">
													<div class="input__helper pos-left pointer input-counter__plus">
														<i class="material-icons ico-xs">&#xE145;</i>
													</div>
													<input type="text" class="text-center" readonly value="0">
													<div class="input__helper pointer input-counter__minus">
														<i class="material-icons ico-xs">&#xE15B;</i>
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-md-12 col-sm-12 col-xs-12">
												<label>
										            <input class="checkbox" type="checkbox" name="checkbox-test">
										            <span class="checkbox-custom"><i class="material-icons">check</i></span>
										            <span class="label">Business class</span>
										        </label>
											</div>
											<div class="col-md-12 col-sm-12 col-xs-12 text-right visible-xs visible-sm">
												<span class="dropdown__content__close pointer"><small>Close</small></span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row marg-b-60">
							<div class="col-md-2 col-md-offset-5 col-sm-3 col-sm-offset-5 col-xs-12">
								<input type="submit" class="btn btn--default btn--stretched" value="Search">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</header>