	<section class="vh-70 background-image flex flex-wrap flex-vertical">
		<div class="flexslider flexslider--light" data-pause="true">
			<!--  Slides -->
			<ul class="slides">
				<li class="flexitem flex-active-slide">
					<div class="bg" data-opacity="1" style="background: url('images/hi/o9vkzmu05l0-cole-hutson.jpg');"></div>
				</li>
				<li class="flexitem">
					<div class="bg" data-opacity="1" style="background: url('images/hi/geran-de-klerk-244231.jpg');"></div>
				</li>
			</ul>
			
			<!--  Main controllers -->
			<div class="container custom-navigation">
				<div class="custom-controls-container">
					<i class="material-icons ico--radial prev">arrow_back</i>
					<i class="material-icons ico--radial next">arrow_forward</i>
				</div>
			</div>
			
			<!--  Additional controllers -->
			<div class="flex-control"></div>
		</div>
	</section>