	<section>
		<div class="container">
			<div class="row row--fluid-xs">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="flexslider flexslider--outside-controls
" data-pause="true">
						<!--  Slides -->
						<ul class="slides">
							<li class="flexitem flex-active-slide">
							<div class="boxed--radius-sm boxed--shadow bg-color--white">
								<div class="background-image h-4">
									<div class="bg" style="background: url('images/hi/brooke-cagle-193472.jpg');"></div>
									<div class="container">
									</div>
								</div>
							</div>
							</li>
							<li class="flexitem">
							<div class="boxed--radius-sm boxed--shadow bg-color--white">
								<div class="background-image h-4">
									<div class="bg" style="background: url('images/hi/bonjbu19iiy-brooke-cagle.jpg');"></div>
									<div class="container">
									</div>
								</div>
							</div>
							</li>
						</ul>
						<div class="flex-control"></div>
					</div>
					
				</div>	
			</div>
		</div>
	</section>