	<section class="boxed banner bg-color--main">
		<div class="container">
			<div class="row flex flex-inline">
				<div class="col-md-10 col-sm-10 col-xs-10">
					<h6>LOOK LIKE AN EXPERT RIGHT FROM THE START</h6>
					<p class="p-xs">Luxury is something everyone deserves from time to time.</p>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-2 text-right">
					<i class="material-icons banner__close">close</i>
				</div>
			</div>
		</div>
	</section>