	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<h2>Price</h2>
					<p>5 Reasons To Choose A Notebook Over A Computer Desktop</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="boxed-lg boxed--shadow-xs">
						<div class="row flex flex-baseline">
							<div class="col-md-8 col-sm-8 col-xs-12">
								<h3>Project</h3>
								<p class="p-xs">Life Advice Looking Through A Window</p>
							</div>
							<div class="col-md-4 col-sm-4 col-xs-12 text-right">
								<span class="price-xs">10$<span class="price__lower">/Day</span></span>
							</div>
						</div>
						<ul class="ul--list marg-t-30">
							<li><span>– Photography</span></li>
							<li><span class="text--line-through">– Company</span></li>
							<li><span class="text--line-through">– Studio</span></li>
							<li><span class="text--line-through">– Product</span></li>
						</ul>
						<a href="#" class="btn btn--default btn-sm right">Buy</a>
					</div>
				</div>
				
				<div class="col-md-6 col-sm-6 col-xs-12">
					<div class="boxed-lg boxed--border">
						<div class="row flex flex-baseline">
							<div class="col-md-8 col-sm-8 col-xs-12">
								<h3>Company</h3>
								<p class="p-xs">Choose The Perfect Accommodations</p>
							</div>
							<div class="col-md-4 col-sm-4 col-xs-12 text-right">
								<span class="price-xs">50$<span class="price__lower">/Day</span></span>
							</div>
						</div>
						<ul class="ul--list marg-t-30">
							<li><span>– Photography</span></li>
							<li><span>– Company</span></li>
							<li><span>– Studio</span></li>
							<li><span>– Product</span></li>
						</ul>
						<a href="#" class="btn btn--line btn-sm right">Buy</a>
					</div>
				</div>	
			</div>
		</div>
	</section>