	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12 text-center">
					<h2>Price</h2>
					<p>5 Reasons To Choose A Notebook Over A Computer Desktop</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
					<div class="row flex flex-inline flex-wrap">
						<div class="col-md-6 col-sm-6 col-xs-12 boxed-lg boxed--shadow-lg bg-color--white boxed--zoom">
								<h3>Free</h3>
								<p>Life Advice Looking Through A Window</p>
								<ul class="ul--list ul-xs marg-b-30">
									<li><span>- Photography</span></li>
									<li><span>- Company</span></li>
									<li class="text--line-through"><span>- Studio</span></li>
									<li class="text--line-through"><span>- Product</span></li>
								</ul>
								<a href="#" class="btn btn--default btn-sm">Free</a>			
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div class="boxed boxed--border bg-color--white">
								<h3>Pro</h3>
								<p>Life Advice Looking Through A Window</p>
								<ul class="ul--list ul-xs marg-b-30">
									<li><span>- Photography</span></li>
									<li><span>- Company</span></li>
									<li><span>- Studio</span></li>
									<li><span>- Product</span></li>
								</ul>
								<div class="row">
									<div class="col-md-6 col-sm-6 col-xs-12">
										<a href="#" class="btn btn--line btn-sm">Buy</a>
									</div>
									<div class="col-md-6 col-sm-6 col-xs-12 text-right">
										<span class="price-xs">18$</span> <span class="price-xs text--line-through"><small>23$</small></span>
									</div>
								</div>
							</div>				
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>