	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<h1 class="h2 marg-b-30">Price</h1>
					<p>5 Reasons To Choose A Notebook Over A Computer Desktop</p>
				</div>
			</div>
			<div class="row flex flex-wrap flex-equal">
				<div class="col-md-4 col-sm-6 col-xs-12 boxed--border">
					<div class=" boxed-lg">
					<h3 class="text--bold">First item</h3>
					<span class="price-xs">15$<span class="price__lower">/Day</span></span>
					<p class="p-xs--compact">Global Resorts Network Grn Putting <br>Timeshares To Shame</p>
					<ul class="ul--list ul--underline">
						<li><span>Photography</span></li>
						<li><span>Company</span></li>
					</ul>
					<a href="#" class="btn btn--default btn-sm">Buy</a>
					</div>
				</div>	
				<div class="col-md-4 col-sm-6 col-xs-12 boxed-lg">
					<h3>Second item</h3>
					<span class="price-xs">30$<span class="price__lower">/Day</span></span>
					<p class="p-xs--compact">Choose The Perfect <br>Accommodations</p>
					<ul class="ul--list ul--underline">
						<li><span>Photography</span></li>
						<li><span>Company</span></li>
						<li><span>Studio</span></li>
					</ul>
					<a href="#" class="btn btn--line btn-sm">Buy</a>
				</div>	
				<div class="col-md-4 col-sm-6 col-xs-12 boxed-lg">
					<h3>Third item</h3>
					<span class="price-xs">45$<span class="price__lower">/Day</span></span>
					<p class="p-xs--compact">The Luxury Of Traveling With <br>Yacht Charter Companies</p>
					<ul class="ul--list ul--underline">
						<li><span>Photography</span></li>
						<li><span>Company</span></li>
						<li><span>Studio</span></li>
						<li><span>Product</span></li>
					</ul>
					<a href="#" class="btn btn--line btn-sm">Buy</a>
				</div>	
			</div>
		</div>
	</section>