	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-6 col-xs-12 boxed-lg">
					<span class="price">15$<span class="price__lower">/Day</span></span>
					<h3>First item</h3>
					<p class="p-xs">Global Resorts Network Grn Putting <br>Timeshares To Shame</p>
					<ul class="ul--list ul--underline">
						<li><span>Photography</span></li>
						<li><span>Company</span></li>
					</ul>
					<a href="#" class="btn btn--default btn-sm">Buy</a>
				</div>	
				<div class="col-md-4 col-sm-6 col-xs-12 boxed-lg">
					<span class="price">30$<span class="price__lower">/Day</span></span>
					<h3>Second item</h3>
					<p class="p-xs">Choose The Perfect <br>Accommodations</p>
					<ul class="ul--list ul--underline">
						<li><span>Photography</span></li>
						<li><span>Company</span></li>
						<li><span>Studio</span></li>
					</ul>
					<a href="#" class="btn btn--line btn-sm">Buy</a>
				</div>	
				<div class="col-md-4 col-sm-6 col-xs-12 boxed-lg">
					<span class="price">45$<span class="price__lower">/Day</span></span>
					<h3>Third item</h3>
					<p class="p-xs">The Luxury Of Traveling With <br>Yacht Charter Companies</p>
					<ul class="ul--list ul--underline">
						<li><span>Photography</span></li>
						<li><span>Company</span></li>
						<li><span>Studio</span></li>
						<li><span>Product</span></li>
					</ul>
					<a href="#" class="btn btn--line btn-sm">Buy</a>
				</div>	
			</div>
		</div>
	</section>