	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="row flex flex-equal flex-wrap">
						<div class="col-md-4 col-sm-4 col-xs-12 bg-color--white boxed--shadow-lg">
							<div class="boxed bg-color--white">
								<h3>Free</h3>
								<p>Life Advice Looking Through A Window</p>
								<ul class="ul--list ul-xs marg-b-30">
									<li><span>- Photography</span></li>
									<li><span>- Company</span></li>
									<li class="text--line-through"><span>- Studio</span></li>
									<li class="text--line-through"><span>- Product</span></li>
								</ul>
								<a href="#" class="btn btn--default btn-sm">Free</a>			
							</div>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="boxed boxed--border bg-color--white">
								<h3>Pro</h3>
								<p>Life Advice Looking Through A Window</p>
								<ul class="ul--list ul-xs marg-b-30">
									<li><span>- Photography</span></li>
									<li><span>- Company</span></li>
									<li><span>- Studio</span></li>
									<li class="text--line-through"><span>- Product</span></li>
								</ul>
								<div class="row">
									<div class="col-md-6 col-sm-6 col-xs-12">
										<a href="#" class="btn btn--line btn-sm">Buy</a>
									</div>
									<div class="col-md-6 col-sm-6 col-xs-12 text-right">
										<span class="price-xs">18$</span> <span class="price-xs text--line-through"><small>23$</small></span>
									</div>
								</div>
							</div>				
						</div>
						<div class="col-md-4 col-sm-4 col-xs-12">
							<div class="boxed boxed--border bg-color--white">
								<h3>Team</h3>
								<p>Life Advice Looking Through A Window</p>
								<ul class="ul--list ul-xs marg-b-30">
									<li><span>- Photography</span></li>
									<li><span>- Company</span></li>
									<li><span>- Studio</span></li>
									<li><span>- Product</span></li>
								</ul>
								<div class="row">
									<div class="col-md-6 col-sm-6 col-xs-12">
										<a href="#" class="btn btn--line btn-sm">Buy</a>
									</div>
									<div class="col-md-6 col-sm-6 col-xs-12 text-right">
										<span class="price-xs">40$</span>
									</div>
								</div>
							</div>				
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>