	<section id="2" class="vh-70 flex flex-wrap flex-vertical bg-color--white-2 padding-null">
		<div class="container flex-vertical__top">
			<div class="row marg-b-30 marg-t-120">
				<div class="col-md-12 col-sm-12 col-xs-12 text-center">
					
				</div>
			</div>
		</div>
		<div class="container flex-vertical__center flex-wrap">
			<div class="row flex flex-justify-center flex-align-center flex-wrap">
				<div class="col-md-2 col-sm-2 col-xs-12 hidden-xs">
					<img src="images/low/ipad.png" class="img--original right animate-slideleft animate--once">
				</div>
				<div class="col-md-6 col-md-offset-1 col-sm-8 col-xs-12">
					<h2>Price</h2>
					<p class="p-lg">It S Hurricane Season But We Are Visiting Hilton Head Island</p>
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12 marg-b-30">
							<div class="row boxed boxed--border boxed--radius-sm">
								<div class="col-md-8 col-sm-8 col-xs-12">
									<h5>New Ideas For A Low Cost Vacation On Water</h5>
									<p class="p-xs--compact">The Luxury Of Traveling With Yacht Charter Companies</p>
								</div>
								<div class="col-md-2 col-sm-2 col-xs-6 text-right text-left-xs">
									<span class="price-xs">10$</span>
								</div>
								<div class="col-md-2 col-sm-2 col-xs-16 text-right">
									<a href="#" class="btn btn--line btn-sm">Buy</a>
								</div>
							</div>
						</div>
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="row boxed boxed--border boxed--radius-sm">
								<div class="col-md-8 col-sm-8 col-xs-12">
									<h5>Motorhome Or Trailer</h5>
									<p class="p-xs--compact">Choose The Perfect Accommodations</p>
								</div>
								<div class="col-md-2 col-sm-2 col-xs-6 text-right text-left-xs">
									<span class="price-xs">5$</span>
								</div>
								<div class="col-md-2 col-sm-2 col-xs-16 text-right">
									<a href="#" class="btn btn--line btn-sm">Buy</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2 col-md-offset-1 col-sm-2 col-xs-12 hidden-xs">
					<img src="images/low/iphone.png" class="img--original left animate-slideright animate--once">
				</div>
			</div>
		</div>
		
		<div class="container flex-vertical__bottom">
			<div class="row text-center">
				<div class="col-md-12 col-sm-12 col-xs-12 marg-null">

				</div>
			</div>
		</div>
	</section>