	<section>
		<div class="container">
			<div class="row marg-t-30">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<h3>Additional services</h3>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="row boxed boxed--border boxed--radius-sm">
						<div class="col-md-10 col-sm-10 col-xs-12">
							<h5>New Ideas For A Low Cost Vacation On Water</h5>
							<p class="p-xs--compact">The Luxury Of Traveling With Yacht Charter Companies</p>
						</div>
						<div class="col-md-1 col-sm-1 col-xs-6 text-right text-left-xs">
							<span class="price-xs">10$</span>
						</div>
						<div class="col-md-1 col-sm-1 col-xs-16 text-right">
							<a href="#" class="btn btn--line btn-sm">Buy</a>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="row boxed boxed--border boxed--radius-sm">
						<div class="col-md-10 col-sm-10 col-xs-12">
							<h5>Motorhome Or Trailer</h5>
							<p class="p-xs--compact">Choose The Perfect Accommodations</p>
						</div>
						<div class="col-md-1 col-sm-1 col-xs-6 text-right text-left-xs">
							<span class="price-xs">5$</span>
						</div>
						<div class="col-md-1 col-sm-1 col-xs-16 text-right">
							<a href="#" class="btn btn--line btn-sm">Buy</a>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="row boxed boxed--border boxed--radius-sm">
						<div class="col-md-10 col-sm-10 col-xs-12">
							<h5>Get Around Easily With A New York Limousine Service</h5>
							<p class="p-xs--compact">Global Resorts Network Grn Putting Timeshares To Shame</p>
						</div>
						<div class="col-md-1 col-sm-1 col-xs-6 text-right text-left-xs">
							<span class="price-xs">8$</span>
						</div>
						<div class="col-md-1 col-sm-1 col-xs-16 text-right">
							<a href="#" class="btn btn--line btn-sm">Buy</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>