	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<h2>Features</h2>
					<p class="p-lg">Family Safari Vacation To The Home Of The Gods</p>
				</div>
			</div>
			<div class="row flex flex-wrap flex-equal">
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="boxed--radius-sm boxed--shadow bg-color--white">
						<div class="background-image vh-25">
							<div class="bg" style="background: url('images/low/nordwood-themes-180852.jpg');"></div>
							<div class="container">
							</div>
						</div>
						<div class="boxed">
							<h5>First Header</h5>
							<p>The Kansas City Chiefs</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="boxed--radius-sm boxed--shadow bg-color--white">
						<div class="background-image vh-25">
							<div class="bg" style="background: url('images/low/xi9d8yslno4-rawpixel-com.jpg');"></div>
							<div class="container">
							</div>
						</div>
						<div class="boxed">
							<h5>Second Header</h5>
							<p>From Wetlands To Canals And Dams Amsterdam Is Alive</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="boxed--radius-sm boxed--shadow bg-color--white">
						<div class="background-image vh-25">
							<div class="bg" style="background: url('images/low/andrew-neel-218073.jpg');"></div>
							<div class="container">
							</div>
						</div>
						<div class="boxed">
							<h5>Third Header</h5>
							<p>Maui By Air The Best Way Around The Island</p>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</section>