	<section class="bg-color--white">
		<div class="container">
			<div class="row flex flex-wrap flex-align-center boxed-lg boxed--shadow-xs">
				<div class="col-md-6 col-sm-5 col-xs-6 flex flex-align-center text-center">
					<img src="images/low/google-files.png">
				</div>	
				<div class="col-md-6 col-sm-12 col-xs-12">
					<h2>San Diego Vacation Rental</h2>
					<p class="p-lg">One of the best ways to make a great vacation quickly horrible is to choose the wrong accommodations for your trip. There is nothing quite as bad as spending a great day of vacation only to come back to a less-than-great place to stay for the night.</p>
					<p class="p-xs">It S Hurricane Season But We Are Visiting Hilton Head Island</p>
				</div>
			</div>
		</div>
	</section>