	<section class="bg-color--white padding-null">
		<div class="container-fluid visible-xs">
			<div class="row row--fluid">
				<div class="col-md-12 col-sm-12 col-xs-12" data-shadow-top="8">
					<img src="images/hi/mp0bgas_d1c-naomi-hebert.jpg" alt="">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row marg-t-60 marg-b-60">
				<div class="col-md-6 col-sm-6 col-xs-12">
					<h1 class="h2">Last Minute Festive Packages From Superbreak</h1>
					<p class="p-lg">If you are looking for a new way to promote your business that won’t cost you more money, maybe printing is one of the options you won’t resist. </p>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12 hidden-xs">
					<img src="images/hi/mp0bgas_d1c-naomi-hebert.jpg" alt="">
				</div>
			</div>
		</div>
	</section>