	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<h2>Cheap Romantic Vacations</h2>
					<p>Global Resorts Network Grn Putting Timeshares To Shame</p>
				</div>
			</div>
			<div class="row row--fluid flex flex-wrap flex-equal boxed--shadow-xs">
				<div class="col-md-4 col-sm-4 col-xs-12 bg-color--white-2">
					<div class="boxed-lg">
					<h5>Big Savings On Gas While You Travel</h5>
					<p>Cruising Destination Ideas</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12 bg-color--white-2">
					<div class="bg h-4" style="background: url('images/hi/nordwood-themes-180852.jpg');"></div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12 bg-color--white-2">
					<div class="boxed-lg">
					<h5>Travelagent India</h5>
					<p>The Luxury Of Traveling With Yacht Charter Companies</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 col-xs-12 bg-color--main">
					<div class="boxed-lg">
					<h5>Top Things To See During A Holiday In Hong Kong</h5>
					<p>Vacation Home Rental Success</p>
					</div>
				</div>
				<div class="col-md-8 col-sm-8 col-xs-12 bg-color--white-2">
					<div class="bg h-4" style="background: url('images/hi/jeremy-bishop-226848.jpg');"></div>
				</div>
			</div>
		</div>
	</section>