	<section class="bg-color--white-2 padding-null">
		<div class="container">
			<div class="row flex flex-wrap flex-equal marg-t-60">
				<div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
					<div class="marg-t-60 marg-b-60">
					<h1 class="h2 marg-b-30">Our company</h1>
					<p class="p-lg">A round-the-world trip remains the world’s greatest journey. For two out of every three people, this is the ultimate travel experience, according to recent research. </p>
					<p class="p-xs">How To Fly A Private Jet On Your Next Trip</p>
					</div>
				</div>
				<div class="col-lg-6 col-lg-offset-1 col-md-6 col-sm-6 col-xs-12 marg-null flex flex-align-bottom text-center">
					<img src="images/low/man-gray.png" alt="">
				</div>		
			</div>
		</div>
	</section>