	<section class="bg-color--white-2">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-sm-5 col-xs-12">
					<div class="marg-t-60">
					<h2 class="marg-b-30">Party Jokes Startling But Unnecessary</h2>
					<p class="p-lg">A round-the-world trip remains the world’s greatest journey. For two out of every three people, this is the ultimate travel experience, according to recent research. Needless to say, in a world obsessed by travel, travelers and travel agents are both looking for the cheapest tickets and airfares available.</p>
					<p class="p-xs">How To Fly A Private Jet On Your Next Trip</p>
					</div>
				</div>
				<div class="col-md-6 col-md-offset-1 col-sm-6 col-sm-offset-1 col-xs-12">
					<div class="row row--fluid">
						<div class="col-md-6 col-sm-6 col-xs-12 h-2 bg-color--white">
							<div class="boxed-lg">
								<h5>Three Ways To Get Travel Discounts</h5>
								<i>The Luxury Of Traveling With Yacht Charter Companies</i>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-4 h-2 background-image">
							<div class="bg" style="background: url('images/low/StockSnap_G47QDAYCTO.jpg');"></div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-4 h-2 background-image">
							<div class="bg" style="background: url('images/low/ql-qrylmd0y-seth-doyle.jpg');"></div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-4 h-2 background-image">
							<div class="bg" style="background: url('images/low/fim-j1b_rc-bench-accounting.jpg');"></div>
						</div>
					</div>
				</div>		
			</div>
		</div>
	</section>