	<header class="padding-null bg-color--white-2  bg-color--gradient">
		<div class="container">
			<div class="row marg-t-120 text-center">
				<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12 marg-null">
					<div class="marg-t-60">
					<h1 class="h2 marg-b-30">Price</h1>
					<p class="p-lg">The Luxury Of Traveling With Yacht Charter Companies</p>
					<img src="images/low/browser-2.png">
					</div>
				</div>	
			</div>
		</div>
	</header>