	<section id="3" class="bg-color--gray padding-null">
		<div class="container">
			<div class="row flex flex-wrap flex-equal marg-b-120 marg-t-60">
				<div class="col-md-6 col-sm-8 col-xs-12">
					<h3>Cheap Romantic Vacations</h3>
					<p class="p-lg">Global Resorts Network Grn Putting Timeshares To Shame</p>
					<p class="p-lg">One of the best ways to make a great vacation quickly horrible is to choose the wrong accommodations for your trip. There is nothing quite as bad as spending a great day of vacation only to come back to a less-than-great place to stay for the night.</p>
					<div class="row">
						<div class="col-md-4 col-sm-4 col-xs-6">
							<i class="pe-7s-cloud-upload ico-sm"></i>
							<p class="p-xs--compact">Get Around Easily With A New York Limousine Service</p>
						</div>
						<div class="col-md-4 col-sm-4 col-xs-6">
							<i class="pe-7s-usb ico-sm"></i>
							<p class="p-xs--compact">Become A Travel Pro In One Easy Lesson</p>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-4 col-xs-12 flex flex-align-center text-center">
					<a href="#video" data-video="kh29_SERH0Y" class="material-icons ico-sm">play_circle_outline</a>
				</div>		
			</div>
			
		</div>

		<div class="container">
			<div class="row up-20">
				<div class="col-md-12 col-sm-12 col-xs-12 marg-null text-center">
					<img src="images/low/iPad-transform45.png" alt="">
				</div>
			</div>
		</div>
	</section>