	<section class="bg-color--white-2 padding-null">
		<div class="container-fluid visible-xs">
			<div class="row row--fluid">
				<div class="col-md-12 col-sm-12 col-xs-12" data-shadow-top="8">
					<img src="images/hi/iqbc4vu4ypq-ian-schneider.jpg" alt="">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-sm-5 col-xs-12">
					<div class="marg-t-60 marg-b-60">
					<h3>Party Jokes Startling But Unnecessary</h3>
					<p class="p-lg">A round-the-world trip remains the world’s greatest journey. For two out of every three people, this is the ultimate travel experience, according to recent research. Needless to say, in a world obsessed by travel, travelers and travel agents are both looking for the cheapest tickets and airfares available.</p>
					<p class="p-xs">How To Fly A Private Jet On Your Next Trip</p>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-12">
					
				</div>		
			</div>
			<div class="bg pos-absolute pos-right pos-top width-half hidden-xs" style="background: url('images/hi/iqbc4vu4ypq-ian-schneider.jpg');">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-6 col-xs-12">
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>