<nav class="hr nav--hover--line">
		<div class="container">
			<div class="row row--nav row--nav--baseline row--nav--centered">
				<div class="nav-mod logo left visible-xs visible-sm">
					<a href="index.html"><img alt="" src="images/logo--black.png" height="22"></a>
				</div>
				<div class="nav-mod nav-toggle right visible-xs visible-sm">
					<i class="material-icons pointer">&#xE5D2;</i>
				</div>
				<div class="nav-mod nav left hidden-xs hidden-sm">
					<ul class="menu text--uppercase">
						<li class="hr visible-xs visible-sm">
							<form><input type="search" placeholder="Type and hit enter to search"></form>
						</li>
						<li>
							<a href="#">Default</a>
							<ul class="menu__dropdown text-left boxed">
								<li>
									<ul>
										<li>
											<a href="#">Studio</a>
										</li>
										<li>
											<a href="#">Travel</a>
										</li>
										<li>
											<a href="#">Company</a>
										</li>
										<li>
											<a href="#">Company 2</a>
										</li>
										<li>
											<a href="#">Company 3</a>
										</li>
										<li>
											<a href="#">Restaurant</a>
										</li>
									</ul>
								</li>
								<li>
									<ul>
										<li>
											<a href="#">Portfolio</a>
										</li>
										<li>
											<a href="#">Photography</a>
										</li>
										<li>
											<a href="#">Product</a>
										</li>
										<li>
											<a href="#">Sport</a>
										</li>
										<li>
											<a href="#">App</a>
										</li>
										<li>
											<a href="#">App 2</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">second</a>
						</li>
						<li>
							<a href="#">third item</a>
						</li>
					</ul>
					<div class="nav-mod logo center hidden-xs hidden-sm">
						<a href="index.html"><img alt="" src="images/logo--black.png" height="22"></a>
					</div>
					<ul class="menu text--uppercase">
						<li>
							<a href="#">Second hero</a>
							<div class="container menu__dropdown menu__dropdown--hero boxed-lg text-left">
									<div class="bg pos-absolute pos-right pos-top width-half bg-color--white-2">
									</div>
									<div class="row">
										<div class="col-md-6 col-sm-12 col-xs-12">
											<div class="row marg-b-30">
												<div class="col-md-6 col-sm-6 col-xs-12">
													<ul>
														<li class="menu__dropdown__title">
															<b>Home</b>
														</li>
														<li>
															<a href="#">Studio</a>
														</li>
														<li>
															<a href="#">Travel</a>
														</li>
														<li>
															<a href="#">Company</a>
														</li>
														<li>
															<a href="#">Company 2</a>
														</li>
														<li>
															<a href="#">Company 3</a>
														</li>
														<li>
															<a href="#">Restaurant</a>
														</li>
													</ul>
												</div>
												<div class="col-md-6 col-sm-6 col-xs-12">
													<ul>
														<li class="menu__dropdown__title">
															
														</li>
														<li>
															<a href="#">Studio</a>
														</li>
														<li>
															<a href="#">Travel</a>
														</li>
														<li>
															<a href="#">Company</a>
														</li>
														<li>
															<a href="#">Company 2</a>
														</li>
														<li>
															<a href="#">Company 3</a>
														</li>
														<li>
															<a href="#">Restaurant</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
										<div class="col-md-6 col-sm-12 col-xs-12 hidden-xs">
											<div class="row">
												<div class="col-md-12 col-sm-12 col-xs-12">
													<div class="offset-l-30">
											<div class="row row--fluid pos-relative marg-b-30">
												<div class="col-md-6 col-sm-6 col-xs-12 bg-color--main">
													<div class="boxed color--white">
														<h5>Travel Health Useful Medical Information For Good Health Be</h5>
														<i>Life Advice Looking Through A Window</i>
													</div>
												</div>
												<div class="bg pos-absolute pos-right pos-top width-half hidden-xs" style="background: url('https://images.unsplash.com/photo-1489098957513-b1ae22d9b212?dpr=1&auto=format&fit=crop&w=1500&h=2250&q=80&cs=tinysrgb&crop=');"></div>
											</div>
											<div class="row row--fluid">
												<div class="col-md-12 col-sm-12 col-xs-12">
													<form  class="form--radius-xs">
														<div class="row form-inline">
															<div class="col-md-8 col-sm-8 col-xs-12">
																<input type="search" placeholder="Email Address">
															</div>
															<div class="col-md-4 col-sm-4 col-xs-12">
																<a href="#" class="btn btn--default btn--stretched">button</a>
															</div>
														</div>
														<label>
				                                            <input class="checkbox" type="checkbox" checked name="checkbox-test">
				                                            <span class="checkbox-custom"><i class="material-icons">check</i></span>
				                                            <span class="label">I have read and agree to the <a href="#">Terms</a></span>
				                                        </label>
													</form>
												</div>
											</div>
													</div>
												</div>
											</div>
										</div>
									</div>
							</div>
						</li>
						<li class="active active--always">
							<a href="#">Inline</a>
							<div class="menu__dropdown menu__dropdown--horizontal menu__dropdown--horizontal--big-icons boxed-xs">
								<div class="container">
									<ul>
										<li class="text-center">
											<a href="#"><i class="pe-7s-pendrive ico-sm"></i><br>Pendrive</a>
										</li>
										<li class="text-center">
											<a href="#"><i class="pe-7s-video ico-sm"></i><br>Video</a>
										</li>
										<li class="text-center">
											<a href="#"><i class="pe-7s-joy ico-sm"></i><br>Joy</a>
										</li>
										<li class="text-center">
											<a href="#"><i class="pe-7s-phone ico-sm"></i><br>Phone</a>
										</li>
										<li class="text-center">
											<a href="#"><i class="pe-7s-monitor ico-sm"></i><br>Monitor</a>
										</li>
										<li class="text-center">
											<a href="#"><i class="pe-7s-camera ico-sm"></i><br>Camera</a>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li>
							<a href="#">inline small</a>
							<div class="menu__dropdown menu__dropdown--horizontal boxed-xs">
								<div class="container">
									<ul>
										<li class="menu__dropdown__title">
											<h4>Products</h4>
										</li>
										<li>
											<a href="#">Studio</a>
										</li>
										<li>
											<a href="#">Travel</a>
										</li>
										<li>
											<a href="#">Company</a>
										</li>
										<li>
											<a href="#">Company 2</a>
										</li>
										<li>
											<a href="#">Company 3</a>
										</li>
										<li>
											<a href="#"><i class="material-icons">&#xE5D3;</i></a>
										</li>
									</ul>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>