	<nav class="nav--gray">
		<div class="container">
			<div class="row row--nav">
				<div class="nav-mod logo left">
					<a href="index.html"><img alt="" src="images/logo--black.png" height="22"></a>
				</div>
				<div class="nav-mod nav-toggle nav-toggle--side-bar  right">
					<i class="material-icons pointer">&#xE5D2;</i>
				</div>
				<div class="nav-mod side-bar pos-right col-lg-3 col-md-4 col-sm-5 col-xs-12 bg-color--gray boxed--shadow">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12 boxed">
							<i class="material-icons pointer side-bar__close">&#xE14C;</i>
							<div class="right text--opacity-5">
								<a href="#" class="fa fa-facebook" aria-hidden="true"></a>
								<a href="#" class="fa fa-twitter" aria-hidden="true"></a>
								<a href="#" class="fa fa-google-plus" aria-hidden="true"></a>	
							</div>
						</div>
						<div class="col-md-12 col-sm-12 col-xs-12 boxed">
							<a href="index.html"><img alt="" src="images/logo--white.png" height="22"></a>
						</div>
						<div class="col-md-12 col-sm-12 col-xs-12 boxed">
							<ul class="menu menu--toggle-on-click">
								<li>
									<form class="form--border-bottom"><input class="hr" type="search" placeholder="Type and hit enter to search"></form>
								</li>
								<li>
									<a href="#">Default <i class="material-icons right">&#xE5CF;</i></a>
									<ul class="menu__dropdown boxed">
										<li>
											<ul>
												<li>
													<a href="#">Studio</a>
												</li>
												<li>
													<a href="#">Dropdown <i class="material-icons right">&#xE5CF;</i></a>
													<ul class="menu__dropdown">
														<li>
															<ul>
																<li>
																	<a href="#">Studio</a>
																</li>
																<li>
																	<a href="#">Travel</a>
																</li>
																<li>
																	<a href="#">Company</a>
																</li>
																<li>
																	<a href="#">Company 2</a>
																</li>
																<li>
																	<a href="#">Company 3</a>
																</li>
																<li>
																	<a href="#">Restaurant</a>
																</li>
															</ul>
														</li>
													</ul>
												</li>
												<li>
													<a href="#">Company</a>
												</li>
												<li>
													<a href="#">Company 2</a>
												</li>
												<li>
													<a href="#">Company 3</a>
												</li>
												<li>
													<a href="#">Restaurant</a>
												</li>
											</ul>
										</li>
										<li>
											<ul>
												<li>
													<a href="#">Portfolio</a>
												</li>
												<li>
													<a href="#">Photography</a>
												</li>
												<li>
													<a href="#">Product</a>
												</li>
												<li>
													<a href="#">Sport</a>
												</li>
												<li>
													<a href="#">App</a>
												</li>
												<li>
													<a href="#">App 2</a>
												</li>
											</ul>
										</li>
									</ul>
								</li>
								<li>
									<a href="#">Second</a>
								</li>
								<li>
									<a href="#">Third</a>
								</li>
								<li>
									<a href="#">Four</a>
								</li>
								<li>
									<a href="#">Fifth</a>
								</li>
							</ul>
						</div>
						
						<div class="col-md-12 col-sm-12 col-xs-12 boxed">
							<form class="form--radius-xs marg-t-30">
								<div class="row form-inline">
									<div class="col-md-6 col-sm-6 col-xs-12">
										<input type="search" placeholder="Email">
									</div>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<a href="#" class="btn btn--line btn--stretched">button</a>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>