	<section class="bg-color--white-2 padding-null bar">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12 hidden-xs">
				<span>Rush – HTML5 Template with Page Builder</span>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12 text-right text-left-xs">
				<a href="mail:">arvel.purdy@volkman.name</a>
				<a href="tel:" class="text--nowrap">725-637-5464</a>
				<a href="#" class="btn btn--line btn-xs right-xs">button</a>
			</div>
		</div>
	</div>
	</section>