	<nav class="nav--light nav--gray boxed--shadow bg-color--gray">
		<div class="container">
			<div class="row row--nav row--nav--baseline">
				<div class="nav-mod logo left">
					<a href="index.html"><img alt="" src="images/logo--white.png" height="22"></a>
				</div>
				<div class="nav-mod nav-toggle right visible-xs visible-sm">
					<i class="material-icons pointer">&#xE5D2;</i>
				</div>
				<div class="nav-mod nav left hidden-xs hidden-sm">
					<ul class="menu text--uppercase">
						<li class="hr visible-xs visible-sm">
							<form><input type="search" placeholder="Type and hit enter to search"></form>
						</li>
						<li>
							<a href="#">Default <i class="material-icons right">&#xE5CF;</i></a>
							<ul class="menu__dropdown boxed">
								<li>
									<ul>
										<li>
											<a href="#">Studio</a>
										</li>
										<li>
											<a href="#">Travel <i class="material-icons hidden-xs hidden-sm">&#xE5CC;</i> <i class="material-icons  hidden-md  hidden-lg right">&#xE5CF;</i></a>
											<ul class="menu__dropdown boxed">
												<li>
													<a href="#">Portfolio</a>
												</li>
												<li>
													<a href="#">Photography</a>
												</li>
												<li>
													<a href="#">Product</a>
												</li>
												<li>
													<a href="#">Sport</a>
												</li>
												<li>
													<a href="#">App</a>
												</li>
												<li>
													<a href="#">App 2</a>
												</li>
											</ul>

										</li>
										<li>
											<a href="#">Company</a>
										</li>
										<li>
											<a href="#">Company 2</a>
										</li>
										<li>
											<a href="#">Company 3</a>
										</li>
										<li>
											<a href="#">Restaurant</a>
										</li>
									</ul>
								</li>
								<li>
									<ul>
										<li>
											<a href="#">Portfolio</a>
										</li>
										<li>
											<a href="#">Photography</a>
										</li>
										<li>
											<a href="#">Product</a>
										</li>
										<li>
											<a href="#">Sport</a>
										</li>
										<li>
											<a href="#">App</a>
										</li>
										<li>
											<a href="#">App 2</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">Hero <i class="material-icons right">&#xE5CF;</i></a>
							<div class="container menu__dropdown menu__dropdown--hero boxed-lg">
									<div class="row">
										<div class="col-md-8 col-sm-12 col-xs-12">
											<div class="row marg-b-30">
												<div class="col-md-6 col-sm-6 col-xs-12">
													<ul class="ul--split">
														<li class="menu__dropdown__title">
															<b>Home</b>
														</li>
														<li>
															<a href="home-brand.html">Brand<small class="right">new</small></a>
														</li>
														<li>
															<a href="home-video-dark.html">Video</a>
														</li>
														<li>
															<a href="home-portfolio-dark.html">Portfolio</a>
														</li>
														<li>
															<a href="home-portfolio-white.html">Portfolio #2</a>
														</li>
														<li>
															<a href="home-portfolio-fullscreen.html">Portfolio fullscreen</a>
														</li>
														<li>
															<a href="home-resume-dark.html">Resume</a>
														</li>
														<li>
															<a href="home-photographer-dark.html">Photographer</a>
														</li>
														<li>
															<a href="home-photographer-white.html">Photographer #2</a>
														</li>
														<li>
															<a href="home-company.html">Company</a>
														</li>
														<li>
															<a href="home-company-2.html">Company #2</a>
														</li>
														<li>
															<a href="home-company-3.html">Company #3</a>
														</li>
														<li>
															<a href="home-company-4.html">Company #4</a>
														</li>
														<li>
															<a href="home-company-5.html">Company #5</a>
														</li>
														<li>
															<a href="home-travel.html">Travel</a>
														</li>
														<li>
															<a href="home-other.html">Other</a>
														</li>
														<li>
															<a href="home-studio.html">Studio</a>
														</li>
														<li>
															<a href="home-restaurant.html">Restaurant</a>
														</li>
													</ul>
													<ul class="ul--split">
														<li class="menu__dropdown__title">
															<b>Specialty Pages</b>
														</li>
														<li>
															<a href="specialty-account.html">Account</a>
														</li>
														<li>
															<a href="specialty-login.html">Login</a>
														</li>
														<li>
															<a href="specialty-create.html">Create</a>
														</li>
														<li>
															<a href="specialty-recover.html">Recover</a>
														</li>
														
														
														<li>
															<a href="specialty-comingsoon.html">Coming Soon</a>
														</li>
														
														<li>
															<a href="specialty-search-results.html">Search results</a>
														</li>
														<li>
															<a href="specialty-service.html">Service mode</a>
														</li>
														<li>
															<a href="specialty-404.html">404</a>
														</li>
													</ul>
												</div>
												<div class="col-md-3 col-sm-3 col-xs-12">
													<ul>
														<li class="menu__dropdown__title">
															<b>Landings</b>
														</li>
														<li>
															<a href="landing-app.html">App</a>
														</li>
														<li>
															<a href="landing-app-2.html">App #2</a>
														</li>
														<li>
															<a href="landing-app-3.html">App #3</a>
														</li>
														<li>
															<a href="landing-company.html">Company</a>
														</li>
														<li>
															<a href="landing-company-2.html">Company #2</a>
														</li>
														<li>
															<a href="landing-company-3.html">Company #3</a>
														</li>
														<li>
															<a href="landing-studio.html">Studio</a>
														</li>
														<li>
															<a href="landing-sport.html">Sport</a>
														</li>
														<li>
															<a href="landing-service.html">Service</a>
														</li>
														<li>
															<a href="landing-travel.html">Travel</a>
														</li>
													</ul>
												</div>
												<div class="col-md-3 col-sm-3 col-xs-12">
													<ul>
														<li class="menu__dropdown__title">
															<b>Second Pages</b>
														</li>
														<li>
															<a href="page-our-company.html">Our company</a>
														</li>
														<li>
															<a href="page-history.html">History</a>
														</li>
														<li>
															<a href="page-support.html">Support</a>
														</li>
														<li>
															<a href="page-faq.html">FAQ</a>
														</li>
														<li>
															<a href="page-price.html">Price</a>
														</li>
														<li>
															<a href="page-price-2.html">Price #2</a>
														</li>
														<li>
															<a href="page-article.html">Article</a>
														</li>
														<li>
															<a href="page-article-2.html">Article #2</a>
														</li>
														<li>
															<a href="page-article-3.html">Article #3</a>
														</li>
														<li>
															<a href="page-contact-us.html">Contact us</a>
														</li>
														<li>
															<a href="page-contact-us-2.html">Contact us #2</a>
														</li>
														<li>
															<a href="page-contact-us-3.html">Contact us #3</a>
														</li>
														<li>
															<a href="page-contact-us-4.html">Contact us #4</a>
														</li>
													</ul>
												</div>
											</div>
											<div class="row hidden-xs">
												<div class="col-md-11 col-sm-12 col-xs-12">
													<form><input type="search" placeholder="Type and hit enter to search"></form>
												</div>
											</div>
										</div>
									</div>
									<div class="bg pos-absolute pos-right pos-top col-md-4 hidden-xs hidden-sm" style="background: url('images/hi/kari-shea-226157.jpg');">
										<div class="boxed-lg pos-absolute pos-top">
											
										</div>
										<div class="boxed-lg pos-absolute pos-bottom">
											
										</div>
									</div>
							</div>
						</li>
						<li>
							<a href="#">Inline</a>
							<div class="menu__dropdown menu__dropdown--horizontal boxed-xs">
								<div class="container">
									<ul>
										<li class="menu__dropdown__title">
											<h4>Products</h4>
										</li>
										<li>
											<a href="#">Studio</a>
										</li>
										<li>
											<a href="#">Travel</a>
										</li>
										<li>
											<a href="#">Company</a>
										</li>
										<li>
											<a href="#">Company 2</a>
										</li>
										<li>
											<a href="#">Company 3</a>
										</li>
										<li>
											<a href="#"><i class="material-icons">&#xE5D3;</i></a>
										</li>
									</ul>
								</div>
							</div>
						</li>
						<li>
							<a href="#">Default</a>
						</li>
					</ul>
				</div>
				<div class="nav-mod-group right left-xs left-sm hidden-xs">
					<div class="nav-mod">
						<form class="form--radius-xs"><input type="search" placeholder="Search"></form>
					</div>
					<div class="nav-mod  dropdown dropdown--right dropdown--left-sm">
						<i class="material-icons">&#xE8CC;</i>
							<div class="dropdown__content dropdown__content--2 bg-color--white">
								<div class="row hr">
									<div class="col-md-3 col-sm-3 col-xs-3 text-center">
										<img alt="" src="images/items/thumb-item%234.png" height="40">
									</div>
									<div class="col-md-8 col-sm-8 col-xs-8">
										<b class="text--uppercase">Bag<span class="right">4</span></b>
										<p class="p-xs marg-null">Gray, Orange</p>
									</div>
									<div class="col-md-1 col-sm-1 col-xs-1 text-right">
										<i class="material-icons ico-xs">&#xE14C;</i>
									</div>
								</div>
								<div class="row hr">
									<div class="col-md-3 col-sm-3 col-xs-3 text-center">
										<img alt="" src="images/items/thumb-item%237.png" height="40">
									</div>
									<div class="col-md-8 col-sm-8 col-xs-8">
										<b class="text--uppercase">Sport bag<span class="right">1</span></b>
										<p class="p-xs marg-null">Black, Orange</p>
									</div>
									<div class="col-md-1 col-sm-1 col-xs-1 text-right">
										<i class="material-icons ico-xs">&#xE14C;</i>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6 col-sm-6 col-xs-6">
										<a href="#" class="btn btn-md btn--line">Cart</a>
									</div>
									<div class="col-md-6 col-sm-6 col-xs-6">
										<b class="price__label">CART TOTAL</b><br>
										<span class="price price-xs">2.000$</span>
									</div>
								</div>
							</div>
					</div>
					<div class="nav-mod dropdown dropdown--right dropdown--left-sm">
						<i class="material-icons">&#xE853;</i> <b class="color--white">Username</b>
						<div class="dropdown__content bg-color--white boxed">
							<ul class="ul--list ul-xs">
										<li>
											<a href="#">Studio</a>
										</li>
										<li>
											<a href="#">Travel</a>
										</li>
										<li class="hr">
											<a href="#">Company</a>
										</li>
										<li>
											<a href="#">Company 2</a>
										</li>
										<li>
											<a href="#">Company 3</a>
										</li>
										<li>
											<a href="#">Restaurant</a>
										</li>
									</ul>		
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>